Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore: github workflow add torchscript
  .github/workflows/frameworks.yml
Due: none

Update bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

chore: remove double import
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

test(framework): disable pytorch container batch_axis=1 test
  tests/integration/frameworks/test_pytorch_impl.py
Due: none

Update bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch.py
Due: pytorch, e2e-tests, unit-tests

chore: update codecov.yml for torchscript
  codecov.yml
Due: none

style: reformat
  bentoml/__init__.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/torchscript.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: pytorch, e2e-tests, unit-tests

style: minor fix
  tests/integration/frameworks/test_torchscript_impl.py
Due: none

style: minor fix
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

style: minor fix
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

fix: pytorch tensor to device
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

fix(server): serve --reload
  bentoml/_internal/server/cli/dev_api_server.py
Due: e2e-tests, unit-tests

fix(server): serve --reload (#2320)
  bentoml/_internal/server/cli/dev_api_server.py
Due: e2e-tests, unit-tests

refactor(framework): pytorch splitting refactor (#2317)
  .github/workflows/frameworks.yml
  bentoml/__init__.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/pytorch.py
  bentoml/torchscript.py
  codecov.yml
  scripts/ci/config.yml
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
  tests/utils/frameworks/pytorch_utils.py
Due: pytorch_lightning, e2e-tests, unit-tests

chore: refactor + typesafe CLI
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/utils/analytics/README.md
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/utils/docker.py
  bentoml/_internal/utils/usage_stats.py
Due: e2e-tests, unit-tests

chore: add self-maintain statx syscall module
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/server/cli/ngrok.py
  bentoml/_internal/utils/ngrok.py
  bentoml/_internal/utils/statx.py
Due: e2e-tests, unit-tests

feat: bentoml build + log consistency
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

chore: remove statx
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/README.md
  bentoml/_internal/utils/statx.py
Due: e2e-tests, unit-tests

fix: typings
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/utils/statx.py
Due: e2e-tests, unit-tests

feat: tracking model.save()
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

feat: stable usage_tracking
  README.md
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/cli/utils/__init__.py
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/utils/analytics/README.md
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

feat: serve + scheduled tracking
  README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/models/model.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/README.md
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
  docs/source/index.rst
Due: e2e-tests, unit-tests

chore: fix 3.6 asyncio.run
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

chore: decouple async threads
  README.md
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

update docker for 1.0.0a5
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/centos7/cudnn/Dockerfile
  docker/generated/bento-server/centos7/runtime/Dockerfile
  docker/generated/bento-server/centos8/cudnn/Dockerfile
  docker/generated/bento-server/centos8/runtime/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/manifest.yml
  docker/pyproject.toml
Due: none

chore: update docker for 1.0.0a5 (#2322)
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/centos7/cudnn/Dockerfile
  docker/generated/bento-server/centos7/runtime/Dockerfile
  docker/generated/bento-server/centos8/cudnn/Dockerfile
  docker/generated/bento-server/centos8/runtime/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/manifest.yml
  docker/pyproject.toml
Due: none

fetch yatai version and store email and yatai version in yatai config
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/yatai_rest_api_client/config.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
Due: e2e-tests, unit-tests

fix style check
  bentoml/_internal/yatai_rest_api_client/yatai.py
Due: e2e-tests, unit-tests

revert: use threads and timer
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

Update pandas.py
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

Update bentos.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix build output streaming
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix related testing
  bentoml/_internal/io_descriptors/pandas.py
  requirements/tests-requirements.txt
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: e2e-tests, unit-tests

chore: better error message when containerize failed (#2325)
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix DistroString name error
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

better error message when pip-tools command fail
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests
