Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: frameworks, bento-server

fix: remove mypy completely
  bentoml/keras.py
Due: frameworks

fix: SHELL in makefile
  .github/workflows/ci.yml
  Makefile
Due: none

feat: migrate away from poetry, uses setup.cfg and pyproject.toml
  .gitignore
  MANIFEST.in
  bentoml/_version.py
  codecov.yml
  pyproject.toml
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/tests-requirements.txt
  setup.cfg
  setup.py
  versioneer.py
Due: none

fix: CI without poetry
  .github/workflows/ci.yml
Due: none

fix: install library deps
  .github/workflows/ci.yml
  setup.cfg
Due: none

fix: pyproject.toml
  pyproject.toml
Due: none

fix: pytest options
  pyproject.toml
Due: none

chore: refactor coveragerc to pyproject.toml, welcome BentoML to modern python package
  .coveragerc
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  Makefile
  bentoml/__init__.py
  bentoml/_internal/configuration/__init__.py
  pyproject.toml
  scripts/ci/run_tests.sh
  setup.cfg
Due: bento-server

fix: e2e tests
  scripts/ci/run_tests.sh
Due: none

fix(CI): windows unit tests
  .github/workflows/ci.yml
Due: none

fix(spacy): remove poetry run
  scripts/ci/config.yml
Due: none

fix: remove redundant tests when packaging library
  .gitattributes
  .github/workflows/frameworks.yml
  DEVELOPMENT.md
  MANIFEST.in
  scripts/ci/run_tests.sh
  setup.cfg
Due: none

docs: add instruction
  .github/workflows/frameworks.yml
  DEVELOPMENT.md
Due: none

fix(ci): onnxmlir
  .github/workflows/frameworks.yml
Due: none

chore: remove autoflake from tests
  requirements/tests-requirements.txt
Due: none

fix: readthedocs build
  MANIFEST.in
  setup.cfg
Due: none

fix: updates typing_extensions dependencies for testing
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  .readthedocs.yml
  MANIFEST.in
  pyproject.toml
  requirements/dev-requirements.txt
  scripts/release_pypi.sh
  setup.cfg
Due: none

refactor(ci): migrate back to `setuptools`, PEP517 compatible (#2035)
  .coveragerc
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  .gitignore
  .readthedocs.yml
  DEVELOPMENT.md
  MANIFEST.in
  Makefile
  bentoml/__init__.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_version.py
  codecov.yml
  pylintrc
  pyproject.toml
  requirements/dev-requirements.txt
  requirements/docs-requirements.txt
  requirements/tests-requirements.txt
  scripts/Dockerfile-checker
  scripts/ci/config.yml
  scripts/ci/helpers.sh
  scripts/ci/run_tests.sh
  scripts/ci/style/pylint_check.sh
  scripts/init.sh
  scripts/release_docker_images.sh
  scripts/release_pypi.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
  setup.cfg
  setup.py
  versioneer.py
Due: bento-server

add extra[tracing], make prometheus required dependency
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  DEVELOPMENT.md
  Makefile
  codecov.yml
  requirements/tests-requirements.txt
  scripts/ci/config.yml
  scripts/ci/run_tests.sh
  setup.cfg
Due: none

remove legacy framework code
  bentoml/evalml.py
  bentoml/fastai.py
  bentoml/fasttext.py
Due: frameworks

move io test dir
  tests/unit/_internal/io/test_json.py
Due: none

try fix ci pyright
  Makefile
Due: none

perf: enable running in Docker + maybe fix ONNXMLir problem
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  Makefile
  setup.cfg
Due: none

fix: attrs deps, remove cattrs
  setup.cfg
Due: none

build: remove extra.bento-server dependency, add extra.tracing (#2036)
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  DEVELOPMENT.md
  Makefile
  bentoml/evalml.py
  bentoml/fastai.py
  bentoml/fasttext.py
  codecov.yml
  requirements/tests-requirements.txt
  scripts/ci/config.yml
  scripts/ci/run_tests.sh
  setup.cfg
  tests/unit/_internal/io/test_json.py
Due: frameworks

chore: restore versioneer
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  .gitignore
  MANIFEST.in
  bentoml/_internal/configuration/__init__.py
  bentoml/_version.py
  pyproject.toml
  scripts/Dockerfile-checker
  scripts/ci/style/pyright_check.sh
  setup.cfg
  setup.py
  versioneer.py
Due: bento-server

feat: versioneer compatible for PEP518
  MANIFEST.in
  bentoml/_internal/configuration/__init__.py
  bentoml/_version.py
  pyproject.toml
  setup.cfg
  setup.py
  versioneer.py
Due: bento-server

chore: remove versioneer
  .gitattributes
  .gitignore
  bentoml/_version.py
  setup.cfg
Due: none

chore: setuptools_scm
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  bentoml/_internal/configuration/__init__.py
  pyproject.toml
  setup.cfg
Due: bento-server

updates
  .gitignore
  MANIFEST.in
Due: none

fix: move away from alpine image
  scripts/Dockerfile-checker
Due: none

Update .gitignore
  .gitignore
Due: none

Update MANIFEST.in
  MANIFEST.in
Due: none

build: fix pypi package include files (#2039)
  .gitignore
  MANIFEST.in
Due: none

Path conditions:
  frameworks: any of: bentoml/catboost.py, bentoml/detectron.py, bentoml/easyocr.py, bentoml/evalml.py, bentoml/fastai.py, bentoml/fasttext.py, bentoml/flax.py, bentoml/gluon.py, bentoml/h2o.py, bentoml/keras.py, bentoml/lightgbm.py, bentoml/mlflow.py, bentoml/onnx.py, bentoml/onnxmlir.py, bentoml/paddle.py, bentoml/pycaret.py, bentoml/pyspark.py, bentoml/pytorch.py, bentoml/pytorch_lightning.py, bentoml/sklearn.py, bentoml/spacy.py, bentoml/statsmodels.py, bentoml/tensorflow.py, bentoml/transformers.py, bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/_version.py, bentoml/build_utils.py
  bento-server: any of: bentoml/_internal/**/*, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/_version.py, bentoml/build_utils.py
