Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

Update bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

Update check from a if statement to a try block
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

chore(tensorflow): Optimize Tensorflow framework inference procedure (#2567)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/catboost.py
  tests/integration/frameworks/models/tensorflow_v2.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  tests/utils/frameworks/tensorflow_utils.py
Due: e2e-tests, unit-tests

Sorted imports to pass format check
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Added conversion methods for `to_grpc_response`
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Added `to_grpc_response` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Minor fixes and formatting
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Fixed `np.datetime64` and `np.timedelta64`
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Removed redundant print
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

feat(runnable): clean up runnable for custom resources
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/strategy.py
  docs/source/concepts/runner.rst
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: keras, lightgbm, sklearn, transformers, xgboost, e2e-tests, unit-tests

chore: minor type fixes
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

feat(resource): allow custom resources
  bentoml/_internal/bento/bento.py
  bentoml/_internal/resource.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/__init__.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/xgboost.py
  tests/integration/frameworks/test_frameworks.py
  tests/unit/_internal/bento/test_bento.py
Due: e2e-tests, unit-tests

Update docs/source/concepts/runner.rst
  docs/source/concepts/runner.rst
Due: none

feat(runner app): support server resource configuration
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/testing/server.py
  docs/source/concepts/runner.rst
Due: e2e-tests, unit-tests

fixup remove pylint disable
  bentoml/_internal/resource.py
Due: e2e-tests, unit-tests

fixup runnable types
  bentoml/_internal/runner/runnable.py
Due: e2e-tests, unit-tests

address review comments
  bentoml/_internal/resource.py
  bentoml/_internal/runner/runnable.py
Due: e2e-tests, unit-tests

name metaclass dict parameter attr_dict
  bentoml/_internal/resource.py
  bentoml/_internal/runner/runnable.py
Due: e2e-tests, unit-tests

bento_server -> api_server in configuration
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  docs/source/guides/configuration.rst
  tests/e2e/bento_server_general_features/server_config_cors_enabled.yml
  tests/e2e/bento_server_general_features/server_config_default.yml
Due: e2e-tests, unit-tests

throw config exceptions from resources
  bentoml/_internal/resource.py
Due: e2e-tests, unit-tests

remove one more optional
  bentoml/_internal/configuration/containers.py
Due: e2e-tests, unit-tests

revert runnable to pre-metaclass
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
  docs/source/concepts/runner.rst
  tests/integration/frameworks/test_frameworks.py
Due: keras, lightgbm, sklearn, transformers, xgboost, e2e-tests, unit-tests

fix schema optional settings
  bentoml/_internal/configuration/containers.py
Due: e2e-tests, unit-tests

use __init_subclass__ for resource registration
  bentoml/_internal/resource.py
Due: e2e-tests, unit-tests

validate system resources
  bentoml/_internal/resource.py
Due: e2e-tests, unit-tests

add resource tests
  tests/unit/_internal/test_resource.py
Due: none

fix onnx itests
  tests/integration/frameworks/models/onnx.py
Due: none

remove for review comment
  bentoml/_internal/configuration/containers.py
Due: e2e-tests, unit-tests

modify catboost&fastai accordingly; fix typing
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/fastai.py
  bentoml/_internal/runner/runnable.py
Due: catboost, fastai, e2e-tests, unit-tests

add cpu resource to all runners
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/strategy.py
Due: keras, lightgbm, sklearn, transformers, xgboost, e2e-tests, unit-tests

fix onnx itests
  bentoml/_internal/frameworks/onnx.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/onnx.py
  tests/integration/frameworks/test_frameworks.py
Due: onnx, e2e-tests, unit-tests

Update bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runnable.py
Due: e2e-tests, unit-tests

address review comments
  bentoml/_internal/runner/runnable.py
  docs/source/concepts/runner.rst
Due: e2e-tests, unit-tests

fix onnx test
  tests/integration/frameworks/models/onnx.py
  tests/integration/frameworks/test_frameworks.py
Due: none

fix(runner): Validate runner names to conform to the bento tag standards (#2588)
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

Update tests/integration/frameworks/models/onnx.py
  tests/integration/frameworks/models/onnx.py
Due: none

add tests
  tests/unit/_internal/runner/test_runner.py
Due: none

cleanup tag.py
  bentoml/_internal/tag.py
Due: e2e-tests, unit-tests
