Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: remove transformers models when installing stubs
  scripts/stubs/install_stubs.sh
Due: none

chore: fix formatting stubs that is VCS-ed only
  hooks/pre-commit
  scripts/tools/formatter.sh
Due: none

feat: launch prod server & runner app (#2027)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/runner/client.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/formparser.py
  bentoml/keras.py
  bentoml/lightgbm.py
  bentoml/onnxmlir.py
  bentoml/paddle.py
  bentoml/pytorch.py
  bentoml/sklearn.py
  bentoml/spacy.py
  bentoml/tensorflow.py
  bentoml/testing/server.py
  bentoml/transformers.py
  tests/e2e/bento_server_general_features/service.py
  typings/starlette/formparsers.pyi
Due: keras, lightgbm, onnxmlir, paddle, pytorch, sklearn, spacy, tensorflow, transformers, e2e-tests, unit-tests

feat: enable interactive edits for stubs error
  Makefile
  scripts/tools/stubs_cleanup.sh
Due: none

chore: add changes for fixing another stubs
  scripts/tools/stubs_cleanup.sh
Due: none

fix: stubs cleanup
  scripts/tools/stubs_cleanup.sh
Due: none

fix: yaml files
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
Due: none

chore: minify vcs stubs only
  scripts/tools/stubs_cleanup.sh
Due: none

feat: pytorch tensor data container
  bentoml/pytorch.py
  tests/integration/frameworks/test_pytorch_impl.py
Due: pytorch, e2e-tests, unit-tests

feat: Model add custom objects support
  bentoml/_internal/models/model.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

fix: ci format
  .github/workflows/ci.yml
Due: none

fix: ci
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
Due: none

fix: ci
  .github/workflows/ci.yml
Due: none

fix: types cattr hook lambda
  bentoml/_internal/types.py
  bentoml/lightgbm.py
Due: lightgbm, e2e-tests, unit-tests

fix: types lightgbm
  bentoml/lightgbm.py
Due: lightgbm, e2e-tests, unit-tests

chore: add graphql stubs for starlette
  typings/starlette/graphql.pyi
Due: none

docs: BentoML 1.0 release core concepts user documentation.
  docs/source/concepts/api_io_descriptors.rst
  docs/source/concepts/bento_management.rst
  docs/source/concepts/building_bentos.rst
  docs/source/concepts/containerize_bentos.rst
  docs/source/concepts/index.rst
  docs/source/conf.py
  docs/source/guides/yatai_service.rst
Due: none

feat: add yatai cli
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/cli/model_store.py
  bentoml/_internal/cli/utils/__init__.py
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/models/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/yatai_client/__init__.py
  bentoml/_internal/yatai_rest_api_client/__init__.py
  bentoml/_internal/yatai_rest_api_client/config.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
  bentoml/exceptions.py
  setup.cfg
Due: e2e-tests, unit-tests

chore: build bento in e2e tests
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

refactor: lazy loading custom_objects
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

feat: add yatai cli (#2086)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/cli/model_store.py
  bentoml/_internal/cli/utils/__init__.py
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/models/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/yatai_client/__init__.py
  bentoml/_internal/yatai_rest_api_client/__init__.py
  bentoml/_internal/yatai_rest_api_client/config.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
  bentoml/exceptions.py
  setup.cfg
Due: e2e-tests, unit-tests

add model create docstring
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Update tests/unit/_internal/models/test_model.py
  tests/unit/_internal/models/test_model.py
Due: none

remove custom_object=None in model creation
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Update model.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

chore: enable dynamic batching for runners
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
  bentoml/exceptions.py
Due: e2e-tests, unit-tests

refactoring: avoid creating pickle file with custom_objects=false
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix batch_axis
  bentoml/_internal/runner/container.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix: better test cases
  bentoml/pytorch.py
  tests/integration/frameworks/test_pytorch_impl.py
Due: pytorch, e2e-tests, unit-tests

feat: Model add custom objects support (#2091)
  bentoml/_internal/models/model.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

feat: Pytorch Tensor data container (#2090)
  bentoml/pytorch.py
  tests/integration/frameworks/test_pytorch_impl.py
Due: pytorch, e2e-tests, unit-tests

fix formatting
  docs/source/concepts/api_io_descriptors.rst
  docs/source/concepts/building_bentos.rst
  docs/source/concepts/service_definition.rst
Due: none

docs: BentoML 1.0 release core concepts user documentation. (#2094)
  docs/source/concepts/api_io_descriptors.rst
  docs/source/concepts/bento_management.rst
  docs/source/concepts/building_bentos.rst
  docs/source/concepts/containerize_bentos.rst
  docs/source/concepts/index.rst
  docs/source/concepts/service_definition.rst
  docs/source/conf.py
  docs/source/guides/yatai_service.rst
Due: none

chore(runner): enable dynamic batching for runners (#2096)
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
  bentoml/exceptions.py
Due: e2e-tests, unit-tests

chore: build bento in e2e tests (#2097)
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

fix linter
  bentoml/_internal/runner/local.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
  tests/integration/frameworks/paddle/test_paddle_runner.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
