Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

make bundle bentoml whl an optional behavior for developers
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

fix(ci): keras tf1
  tests/integration/frameworks/test_keras_impl.py
Due: none

fix: pyright
  bentoml/__init__.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/keras.py
  bentoml/keras.pyi
  bentoml/tensorflow.py
  bentoml/tensorflow.pyi
  pyproject.toml
Due: keras, tensorflow, e2e-tests, unit-tests

fixes
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker/init.sh
Due: e2e-tests, unit-tests

fix: name clashing in globals()
  bentoml/__init__.py
Due: e2e-tests, unit-tests

fix: codecov
  .github/workflows/frameworks.yml
  codecov.yml
Due: none

Fix: make building bentoml dev wheel optional & bento build fixes (#2074)
  .gitignore
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker/init.sh
Due: e2e-tests, unit-tests

fix: lint and fmt
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

chore: pre-commit run
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/bento/docker/init.sh
  bentoml/_internal/models/model.py
  bentoml/_internal/service/loader.py
  bentoml/_internal/service/service.py
  bentoml/pycaret.py
Due: pycaret, e2e-tests, unit-tests

hotfix: fix GPU python base image
  docker/model-server/release.sh
Due: none

hotfix: fix GPU python base image
  docker/model-server/Dockerfile-gpu
Due: none

chore(internal): use license_files instead of license_file
  setup.cfg
Due: none

Update bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/io_descriptors/text.py
Due: e2e-tests, unit-tests

chore: address changes
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

fix: tests
  bentoml/_internal/io_descriptors/pandas.py
  tests/unit/_internal/io/test_openapi_schema.py
Due: e2e-tests, unit-tests

chore(internal): use license_files instead of license_file (#2076)
  setup.cfg
Due: none

Update bentoml/pytorch.py
  bentoml/pytorch.py
Due: pytorch, e2e-tests, unit-tests

feat: add pre-commit config
  .pre-commit-config.yaml
  Makefile
  requirements/dev-requirements.txt
Due: none

refactor: add scripts for pre-commit
  .pre-commit-config.yaml
  Makefile
  docker/manager.py
  docker/utils.py
  hooks/pre-commit
  pyproject.toml
  requirements/dev-requirements.txt
  scripts/ci/helpers.sh
  scripts/ci/style/black_check.sh
  scripts/ci/style/flake8_check.sh
  scripts/ci/style/isort_check.sh
  scripts/ci/style/pylint_check.sh
  scripts/ci/style/pyright_check.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
  scripts/tools/type_checker.sh
  setup.cfg
Due: none

chore: add yamllint config
  .github/workflows/slash-commands-dispatch.yml
  .yamllint.yml
  hooks/pre-commit
Due: none

fix(internal): set name of SysPath* to *
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

feat: add some pre-commit hooks (#2078)
  .github/workflows/slash-commands-dispatch.yml
  .yamllint.yml
  Makefile
  docker/manager.py
  docker/utils.py
  hooks/pre-commit
  pyproject.toml
  requirements/dev-requirements.txt
  scripts/ci/helpers.sh
  scripts/ci/style/black_check.sh
  scripts/ci/style/flake8_check.sh
  scripts/ci/style/isort_check.sh
  scripts/ci/style/pylint_check.sh
  scripts/ci/style/pyright_check.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
  scripts/tools/type_checker.sh
  setup.cfg
Due: none

chore: fix xgboost
  bentoml/_internal/types.py
  bentoml/spacy.py
  bentoml/tensorflow.py
  bentoml/xgboost.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
Due: spacy, tensorflow, xgboost, e2e-tests, unit-tests

chore: F401 format lints
  tests/integration/frameworks/paddle/test_paddle_runner.py
Due: none

fix: imports
  bentoml/keras.py
  bentoml/lightgbm.py
  bentoml/mlflow.py
  bentoml/onnx.py
  bentoml/onnxmlir.py
  bentoml/paddle.py
  bentoml/pycaret.py
  bentoml/pyspark.py
  bentoml/tensorflow.py
Due: keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, tensorflow, e2e-tests, unit-tests

fix: lint
  tests/integration/frameworks/paddle/test_paddle_runner.py
Due: none

chore: make pep8bot happy
  bentoml/_internal/types.py
Due: none

Update mlflow.py
  bentoml/mlflow.py
Due: mlflow, e2e-tests, unit-tests

fix: keras (#2065)
  .github/workflows/frameworks.yml
  bentoml/__init__.py
  bentoml/_internal/frameworks/__init__.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/utils/lazy_loader.py
  bentoml/_internal/utils/tensorflow.py
  bentoml/keras.py
  bentoml/tensorflow.py
  codecov.yml
  pyproject.toml
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_tensorflow_impl.py
Due: keras, tensorflow, e2e-tests, unit-tests

test: add more store tests
  tests/unit/_internal/test_store.py
Due: none

fix(internal): fix store implementation
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
