Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

fix(internal): fix model implementation
  bentoml/_internal/models/__init__.py
  bentoml/_internal/models/model.py
  bentoml/models.py
Due: e2e-tests, unit-tests

Clean up Dependency Injector (#1705)
  bentoml/__init__.py
  bentoml/configuration/__init__.py
  bentoml/configuration/containers.py
  bentoml/marshal/marshal.py
  bentoml/metrics/__init__.py
  bentoml/metrics/prometheus.py
  bentoml/server/__init__.py
  bentoml/server/gunicorn_config.py
  bentoml/server/gunicorn_marshal_server.py
  bentoml/server/gunicorn_model_server.py
  bentoml/server/gunicorn_server.py
  bentoml/server/instruments.py
  bentoml/server/marshal_server.py
  bentoml/server/model_app.py
  bentoml/service/inference_api.py
  bentoml/tracing/jaeger.py
  bentoml/tracing/noop.py
  bentoml/tracing/zipkin.py
  bentoml/utils/__init__.py
  bentoml/yatai/deployment/azure_functions/app_init.py
  bentoml/yatai/grpc_interceptor/prom_server_interceptor.py
  bentoml/yatai/metrics.py
  bentoml/yatai/yatai_service.py
  docs/source/guides/monitoring.rst
  setup.py
  tests/integration/projects/general/tests/test_meta.py
  tests/server/test_model_api_server.py
  tests/yatai/grpc_testing_service.py
Due: e2e-tests, unit-tests

Update concepts.rst (#1844)
  docs/source/concepts.rst
Due: none

[docs] Update fastai.py (#1845)
  bentoml/frameworks/fastai.py
Due: e2e-tests, unit-tests

Upgrade urllib3 < 1.26.5 (#1848)
  setup.py
Due: none

Fix opentracing.propagation.InvalidCarrierException: carrier not a collection (#1720)
  bentoml/tracing/jaeger.py
Due: e2e-tests, unit-tests

fix: cors headers for AWS Lambda (#1860)
  bentoml/adapters/json_output.py
Due: e2e-tests, unit-tests

[docs] Fix custom metrics for prometheus (#1663) (#1961)
  docs/source/guides/monitoring.rst
Due: none

docs: Update custom_input_adapter.rst (#2032)
  docs/source/guides/custom_input_adapter.rst
Due: none

chore: add scripts to download numpy and pandas stubs
  DEVELOPMENT.md
  scripts/tools/install_stubs.sh
Due: none

chore: add notes about pyright
  DEVELOPMENT.md
Due: none

Stop using --pre in quickstart guide
  docs/source/quickstart.rst
  guides/quick-start/bentoml-quick-start-guide.ipynb
Due: none

test(internal): add model tests
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: none

chore: add generated stubs scripts
  scripts/tools/install_stubs.sh
Due: none

chore: stubs path
  scripts/tools/install_stubs.sh
Due: none

fix(internal): fix Store and add tests (#2081)
  bentoml/_internal/store.py
  tests/unit/_internal/test_store.py
Due: e2e-tests, unit-tests

chore: add stubs generating scripts
  scripts/tools/install_stubs.sh
  typings/PIL/PdfImagePlugin.pyi
  typings/PIL/__main__.pyi
  typings/deepmerge/compat.pyi
  typings/fs/_fscompat.pyi
  typings/importlib_metadata/_functools.pyi
  typings/importlib_metadata/_itertools.pyi
  typings/joblib/externals/__init__.pyi
  typings/onnxruntime/capi/__init__.pyi
  typings/pathspec/tests/__init__.pyi
Due: none

Update expected_yaml string
  tests/unit/_internal/models/test_model.py
Due: none

fix(internal): fix Model and add tests (#2080)
  bentoml/_internal/models/__init__.py
  bentoml/_internal/models/model.py
  bentoml/models.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: e2e-tests, unit-tests

update CI to run on 0.13-LTS branch
  .github/workflows/ci.yml
Due: none

Update docs links to 0.13-lts version
  README.md
Due: none

Update bentoml/catboost.py
  bentoml/catboost.py
Due: catboost, e2e-tests, unit-tests

Update gallery example links
  README.md
Due: none

feat: launch prod server & runner app
  bentoml/_internal/bento/bento.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/runner/client.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/formparser.py
  bentoml/keras.py
  bentoml/lightgbm.py
  bentoml/onnxmlir.py
  bentoml/paddle.py
  bentoml/pytorch.py
  bentoml/sklearn.py
  bentoml/spacy.py
  bentoml/tensorflow.py
  bentoml/transformers.py
  tests/e2e/bento_server_general_features/service.py
  typings/starlette/formparsers.pyi
Due: keras, lightgbm, onnxmlir, paddle, pytorch, sklearn, spacy, tensorflow, transformers, e2e-tests, unit-tests

revert changes
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

en;arge test server timeout
  bentoml/testing/server.py
Due: none

feat: stubs generation scripts
  .gitignore
  DEVELOPMENT.md
  Makefile
  scripts/ci/helpers.sh
  scripts/ci/run_tests.sh
  scripts/stubs/README.md
  scripts/stubs/imports.in
  scripts/stubs/imports.lock
  scripts/stubs/install_stubs.sh
  scripts/stubs/numpy.lock
  typings/README.md
Due: none

chore: rebase
  bentoml/lightgbm.py
  bentoml/mlflow.py
  bentoml/models.py
  bentoml/onnx.py
  bentoml/onnxmlir.py
  bentoml/paddle.py
  bentoml/pycaret.py
  bentoml/statsmodels.py
  bentoml/transformers.py
  bentoml/xgboost.py
Due: lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, statsmodels, transformers, xgboost, e2e-tests, unit-tests

chore: adds ml library stubs locally
  scripts/stubs/imports.in
  scripts/stubs/imports.lock
  scripts/stubs/install_stubs.sh
Due: none

chore: fix format for tensorflow
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

chore: add tensorflow_hub stubs
  Makefile
  scripts/stubs/imports.in
  scripts/stubs/imports.lock
Due: none

chore: add ignores
  .gitignore
Due: none

fix: only take first occurence in grep
  scripts/stubs/imports.lock
  scripts/stubs/install_stubs.sh
Due: none

feat: add cleanup
  .gitignore
  requirements/dev-requirements.txt
  scripts/tools/stubs_cleanup.sh
Due: none

fix: unary check for lock_version if not exists
  scripts/stubs/install_stubs.sh
Due: none

fix: add changes from stdout to files
  requirements/dev-requirements.txt
  scripts/tools/stubs_cleanup.sh
Due: none

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
