Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

remove old framework tests
  tests/integration/frameworks/paddle/__init__.py
  tests/integration/frameworks/paddle/conftest.py
  tests/integration/frameworks/paddle/senta_test/__init__.py
  tests/integration/frameworks/paddle/senta_test/module.py
  tests/integration/frameworks/paddle/senta_test/vocab.list
  tests/integration/frameworks/paddle/test_image.jpg
  tests/integration/frameworks/paddle/test_paddle_impl.py
  tests/integration/frameworks/paddle/test_paddle_runner.py
  tests/integration/frameworks/paddle/test_paddlehub_impl.py
  tests/integration/frameworks/spacy/__init__.py
  tests/integration/frameworks/spacy/conftest.py
  tests/integration/frameworks/spacy/test_spacy_impl.py
  tests/integration/frameworks/spacy/test_spacy_projects.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_easyocr_impl.py
  tests/integration/frameworks/test_gluon_impl.py
  tests/integration/frameworks/test_h2o_impl.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_onnxmlir_impl.py
  tests/integration/frameworks/test_pycaret_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
Due: none

Fix model options to_dict()
  bentoml/_internal/log.py
  bentoml/_internal/models/model.py
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

Remove starlette request log
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix(runner app): remove accidental request log (#2595)
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

feat: fastai testing
  bentoml/_internal/frameworks/fastai.py
  docs/source/conf.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/fastai.py
Due: fastai, e2e-tests, unit-tests

Resolve issue 2596
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

Correct reference to __python_pip_args__
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

Correct {{ __python_pip_args__ }}
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

fix: quoting shell scripts
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix(docker): fix issue with passed pip args (#2597)
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

fix Tensorflow modeloptions on save
  bentoml/_internal/frameworks/tensorflow_v2.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
Due: e2e-tests, unit-tests

fix framework tests for returning model
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
  tests/integration/frameworks/test_transformers_impl.py
Due: none

Update bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: address comments
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: fix with new PR
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

chore: updates documentation spellcheck
  .github/workflows/ci.yml
Due: none

fix: routing should check if it start with /
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

chore: wip
  tests/e2e/bento_server_general_features/service.py
Due: none

Format change
  bentoml/_internal/log.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Update log.py
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

Update streaming.rst
  docs/source/guides/streaming.rst
Due: none

Update streaming.rst (#2605)
  docs/source/guides/streaming.rst
Due: none

chore: testing for path
  tests/e2e/bento_server_general_features/tests/test_service_api.py
Due: none

bug: Fix Yatai client push bentos with model options (#2604)
  bentoml/_internal/models/model.py
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

chore: apply suggestion from code reivew
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: updates unit tests for e2e
  bentoml/_internal/server/service_app.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
  tests/e2e/bento_server_general_features/tests/test_service_api.py
Due: e2e-tests, unit-tests

chore: address pep8
  tests/e2e/bento_server_general_features/tests/test_service_api.py
Due: none

chore: address PR comments
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix(model): lock attrs to >=21.1.0
  setup.cfg
Due: none

Update setup.cfg
  setup.cfg
Due: none

update tutorial
  README.md
  docs/source/concepts/deploy.rst
  docs/source/conf.py
  docs/source/tutorial.rst
Due: none

Update README.md
  README.md
Due: none

Apply suggestions from code review
  docs/source/concepts/deploy.rst
  docs/source/tutorial.rst
Due: none

Update tutorial.rst
  docs/source/tutorial.rst
Due: none

updates
  README.md
  docs/source/index.rst
Due: none

Apply suggestions from code review
  docs/source/concepts/deploy.rst
Due: none

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
