Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore(runner): use payloads_to_batch; clean unused codes (#2099)
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/marshal/marshal.py
  bentoml/_internal/marshal/utils.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix: make type checker happy for yatai client
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

fix paddle integration test fixture import
  tests/integration/frameworks/paddle/conftest.py
  tests/integration/frameworks/paddle/test_paddle_impl.py
Due: none

fix pylint error
  tests/integration/frameworks/paddle/conftest.py
Due: none

chore: misc fixes (#2105)
  bentoml/_internal/bento/README.md
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/log.py
  bentoml/_internal/models/model.py
  docs/source/quickstart.rst
  tests/integration/frameworks/paddle/conftest.py
  tests/integration/frameworks/paddle/test_paddle_impl.py
Due: e2e-tests, unit-tests

chore: detectron2 multi args roll back
  bentoml/detectron.py
Due: detectron, e2e-tests, unit-tests

fix: sklearn model base type
  bentoml/sklearn.py
Due: sklearn, e2e-tests, unit-tests

fix: sklearn runner parallel unit number
  bentoml/sklearn.py
  tests/integration/frameworks/test_sklearn_impl.py
Due: sklearn, e2e-tests, unit-tests

chore: catboost, detectron, sklearn partial kwargs (#2063)
  bentoml/catboost.py
  bentoml/detectron.py
  bentoml/sklearn.py
  scripts/ci/run_tests.sh
  tests/integration/conftest.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
Due: catboost, detectron, sklearn, e2e-tests, unit-tests

formatting
  tests/integration/conftest.py
Due: none

fixes
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

skip problematic e2e test for now
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: none

fix: error when serve --production using bento path (#2107)
  bentoml/_internal/server/__init__.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/integration/conftest.py
Due: e2e-tests, unit-tests

fix(internal): strip leading slashes off paths when building bentos
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

add containerize --platform option
  bentoml/_internal/cli/containerize.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

add serve --production extra args warning
  bentoml/_internal/cli/bento_server.py
Due: e2e-tests, unit-tests

support serve with --host option
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

fix uvicorn logging
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

add serve --backlog option
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

fix NUMBER_OF_COMMON_PARAMS
  bentoml/_internal/cli/click_utils.py
Due: e2e-tests, unit-tests

fix style
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: add spacy changes
  bentoml/spacy.py
Due: spacy, e2e-tests, unit-tests

chore: type-safe spacy
  bentoml/spacy.py
  tests/integration/frameworks/spacy/conftest.py
  tests/integration/frameworks/spacy/test_spacy_impl.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
Due: spacy, e2e-tests, unit-tests

fix(run_batch): spacy args and kwargs
  bentoml/spacy.py
Due: spacy, e2e-tests, unit-tests

fix: minor changes
  bentoml/spacy.py
  tests/integration/frameworks/spacy/conftest.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
Due: spacy, e2e-tests, unit-tests

fix(internal): strip leading slashes off paths when building bentos (#2109)
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

feat: adding more serve CLI options, fix Uvicorn logs (#2110)
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/__init__.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

style: linter fix
  bentoml/spacy.py
Due: spacy, e2e-tests, unit-tests

chore: type-safe spacy (#2067)
  bentoml/spacy.py
  tests/integration/frameworks/spacy/conftest.py
  tests/integration/frameworks/spacy/test_spacy_impl.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
Due: spacy, e2e-tests, unit-tests

style: reformating
  bentoml/__init__.py
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/flax.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/mlflow.py
  bentoml/paddle.py
  bentoml/pytorch.py
  bentoml/transformers.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
Due: mlflow, paddle, pytorch, transformers, e2e-tests, unit-tests

refactor: relocate spacy
  bentoml/__init__.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/spacy.py
  tests/integration/frameworks/spacy/test_spacy_impl.py
  tests/integration/frameworks/spacy/test_spacy_projects.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
Due: spacy, e2e-tests, unit-tests

chore: github workflows and test coverage changes
  .github/workflows/frameworks.yml
  codecov.yml
Due: none

style: reformatting
  bentoml/__init__.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/spacy.py
Due: spacy, e2e-tests, unit-tests

fix: regular runner names
  bentoml/_internal/runner/runner.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features/train.py
Due: e2e-tests, unit-tests

style
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

revert 2107
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

fix test
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/train.py
Due: none
