Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: Apply suggestions from code review
  docs/source/frameworks/xgboost.rst
Due: none

reverse enforce_shape behavior change
  bentoml/_internal/io_descriptors/numpy.py
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: e2e-tests, unit-tests

docs(xgboost): XGBoost guide (#2708)
  docs/source/concepts/service.rst
  docs/source/frameworks/xgboost.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/xgboost.rst
Due: none

update sync tabs
  docs/source/frameworks/onnx.rst
Due: none

minor adjustments
  docs/source/frameworks/onnx.rst
Due: none

minor updates
  docs/source/frameworks/onnx.rst
Due: none

fix case
  docs/source/frameworks/onnx.rst
Due: none

minor fix
  docs/source/frameworks/onnx.rst
Due: none

Update docs/source/frameworks/onnx.rst
  docs/source/frameworks/onnx.rst
Due: none

update ONNX doc string and API reference
  bentoml/_internal/frameworks/onnx.py
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/onnx.rst
Due: onnx, e2e-tests, unit-tests

add explanation for runner.run.run
  docs/source/frameworks/onnx.rst
Due: none

update tensorflow sections
  docs/source/frameworks/onnx.rst
Due: none

docs(framework): ONNX guide
  docs/source/frameworks/index.rst
  docs/source/frameworks/onnx.rst
Due: none

add building service part and restructuring
  docs/source/frameworks/onnx.rst
Due: none

minor fixes
  docs/source/frameworks/onnx.rst
Due: none

chore: proof-read and grammar
  docs/source/frameworks/onnx.rst
Due: none

chore: updates
  docs/source/frameworks/onnx.rst
Due: none

docs(framework): ONNX guide (#2695)
  bentoml/_internal/frameworks/onnx.py
  docs/source/frameworks/index.rst
  docs/source/frameworks/onnx.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/onnx.rst
Due: onnx, e2e-tests, unit-tests

Apply suggestions from code review
  bentoml/_internal/frameworks/mlflow.py
  docs/source/integrations/mlflow.rst
Due: mlflow, e2e-tests, unit-tests

address comments
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/runner/runner.py
  docs/source/integrations/mlflow.rst
Due: mlflow, e2e-tests, unit-tests

numpy io descriptor: use debug log when failed to reshape or cast dtype
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

expose MLFLOW_MODEL_FOLDER
  bentoml/mlflow.py
  docs/source/integrations/mlflow.rst
Due: e2e-tests, unit-tests

Apply suggestions from code review
  docs/source/integrations/mlflow.rst
Due: none

Run user setup_script with "USER bentoml"
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

fix: setup_script should run with `USER bentoml` (#2725)
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

feat: mlflow support (#2702)
  .github/workflows/frameworks.yml
  bentoml/__init__.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/utils/__init__.py
  bentoml/mlflow.py
  docs/source/frameworks/index.rst
  docs/source/index.rst
  docs/source/integrations/index.rst
  docs/source/integrations/mlflow.rst
  docs/source/reference/frameworks/fastai.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/mlflow.rst
  docs/source/reference/frameworks/transformers.rst
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
Due: mlflow, e2e-tests, unit-tests

chore: fix some onnx docs format
  docs/source/frameworks/onnx.rst
  docs/source/reference/frameworks/onnx.rst
Due: none

chore: fix some onnx docs format (#2727)
  docs/source/frameworks/onnx.rst
  docs/source/reference/frameworks/onnx.rst
Due: none

Revert "fix: setup_script should run with `USER bentoml` (#2725)"
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

set HOME env var
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

chore(onnx): adding onnxruntime-silicon for m1 devices (#2699)
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

fix: revert #2725 and fix setup script permission (#2728)
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

chore: minor log fixes
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
