Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore: wip
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: wip
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/Dockerfile.j2
  bentoml/_internal/bento/docker/templates/cuda.j2
  bentoml/_internal/bento/docker/templates/v10.j2
  bentoml/_internal/bento/docker/templates/v11.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/log.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/docker.py
Due: e2e-tests, unit-tests

chore: updates wip
  DEVELOPMENT.md
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_alpine.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/base_debian.j2
  bentoml/_internal/bento/docker/templates/base_ubi8.j2
  bentoml/_internal/bento/docker/templates/cuda_debian.j2
  bentoml/_internal/bento/docker/templates/cuda_ubi8.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/docker/templates/python_alpine.j2
  bentoml/_internal/bento/docker/templates/python_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/python_debian.j2
  bentoml/_internal/bento/docker/templates/python_ubi8.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/docker.py
Due: e2e-tests, unit-tests

feat: support alpine
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_ubi8.j2
  bentoml/_internal/bento/docker/templates/python_alpine.j2
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

feat: supports all required images
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_alpine.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/base_debian.j2
  bentoml/_internal/bento/docker/templates/base_debian_j2
  bentoml/_internal/bento/docker/templates/base_ubi8.j2
  bentoml/_internal/bento/docker/templates/cuda_debian.j2
  bentoml/_internal/bento/docker/templates/cuda_ubi8.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/docker/templates/python_debian.j2
  bentoml/_internal/bento/docker/templates/python_ubi8.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

revert: cherry-pick docker frontend changes (will address in a different PR)
  bentoml/_internal/utils/docker.py
Due: e2e-tests, unit-tests

chore: apply sauyon reviews
  bentoml/_internal/bento/gen.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/utils/buildx.py
  setup.cfg
Due: e2e-tests, unit-tests

feat(DockerOptions): supports parsigin envars as file
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/gen.py
  setup.cfg
Due: e2e-tests, unit-tests

feat: amazonlinux supports 3.7 and 3.8
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_alpine.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/python_amazonlinux.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/log.py
  bentoml/_internal/utils/buildx.py
  bentoml/_internal/utils/cattr.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

chore(types): annotation for kwargs_transformers
  bentoml/_internal/bento/gen.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

chore: address some changes
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/cli/containerize.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

refactor(framework): update keras to runners-1.0 branch
  bentoml/_internal/frameworks/keras.py
  bentoml/keras.py
Due: keras, e2e-tests, unit-tests

chore: finish
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_alpine.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/base_debian.j2
  bentoml/_internal/bento/docker/templates/base_ubi8.j2
  bentoml/_internal/bento/docker/templates/cuda_debian.j2
  bentoml/_internal/bento/docker/templates/cuda_ubi8.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

chore: address type
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/gen.py
  bentoml/_internal/models/model.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

add keras tests cases
  bentoml/_internal/frameworks/keras.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, e2e-tests, unit-tests

comment out keras tf1 ci workflows for now
  .github/workflows/frameworks.yml
Due: none

style fix
  bentoml/_internal/frameworks/keras.py
  bentoml/keras.py
Due: keras, e2e-tests, unit-tests

chore: fix path
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

chore: enable buildkit for ubuntu only
  .github/workflows/ci.yml
Due: none

feat(runner): update Runnable.method
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/__init__.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
Due: e2e-tests, unit-tests

chore: update types
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/types.py
Due: e2e-tests, unit-tests

tests(frameworks): add framework testing framework
  tests/integration/conftest.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/xgboost.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: none

fix(xgboost): minor updates
  bentoml/_internal/frameworks/xgboost.py
Due: xgboost, e2e-tests, unit-tests

feat(runner app): factor out batching
  bentoml/_internal/runner/batching.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

chore: use library code for types
  pyproject.toml
Due: none

feat(tests): parametrize pytest
  .github/workflows/frameworks.yml
  scripts/ci/config.yml
  scripts/ci/run_tests.sh
  tests/integration/frameworks/conftest.py
  tests/integration/frameworks/test_frameworks.py
Due: none

chore: isort
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner_handle/remote.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/xgboost.py
Due: e2e-tests, unit-tests

Testing framework and runner app update (#2500)
  .github/workflows/frameworks.yml
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/batching.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/__init__.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/types.py
  pyproject.toml
  scripts/ci/config.yml
  scripts/ci/run_tests.sh
  tests/integration/conftest.py
  tests/integration/frameworks/conftest.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/xgboost.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: xgboost, e2e-tests, unit-tests

Apply suggestions from code review
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

refactor(framework): update keras to runners-1.0 branch (#2498)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/keras.py
  bentoml/keras.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, e2e-tests, unit-tests

updates
  README.md
  bentoml/_internal/bento/README.md
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/README.md
  bentoml/bentos.py
  docs/source/concepts/bento.rst
  docs/source/concepts/deploy.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/concepts/service.rst
  docs/source/tutorial.rst
Due: e2e-tests, unit-tests

fix swagger UI
  bentoml/_internal/server/service_app.py
  bentoml/_internal/server/static_content/favicon-32x32.png
  bentoml/_internal/server/static_content/favicon-96x96.png
  bentoml/_internal/server/static_content/index.css
  bentoml/_internal/server/static_content/main.css
  bentoml/_internal/server/static_content/readme.css
  bentoml/_internal/server/static_content/swagger-initializer.js
  bentoml/_internal/server/static_content/swagger-ui-bundle.js
  bentoml/_internal/server/static_content/swagger-ui-standalone-preset.js
  bentoml/_internal/server/static_content/swagger-ui.css
Due: e2e-tests, unit-tests

Update bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

chore: address sauyon changes
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/containerize.py
Due: e2e-tests, unit-tests

chore: fix unit
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: fix typo
  setup.cfg
Due: none

fix: swagger UI bundle update (#2501)
  bentoml/_internal/server/service_app.py
  bentoml/_internal/server/static_content/favicon-32x32.png
  bentoml/_internal/server/static_content/favicon-96x96.png
  bentoml/_internal/server/static_content/index.css
  bentoml/_internal/server/static_content/main.css
  bentoml/_internal/server/static_content/readme.css
  bentoml/_internal/server/static_content/swagger-initializer.js
  bentoml/_internal/server/static_content/swagger-ui-bundle.js
  bentoml/_internal/server/static_content/swagger-ui-standalone-preset.js
  bentoml/_internal/server/static_content/swagger-ui.css
Due: e2e-tests, unit-tests
