Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

fix(bug): Make `model.with_options()` additive (#2519)
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
  bentoml/keras.py
  bentoml/tensorflow.py
  bentoml/transformers.py
  tests/conftest.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: keras, transformers, e2e-tests, unit-tests

chore(runner): add shcedule shortcuts to runners (#2576)
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/runner_app.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: e2e-tests, unit-tests

feat: implement LightGBM for the 1.0 runner API (#2589)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/lightgbm.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/lightgbm.py
  tests/integration/frameworks/test_lightgbm_impl.py
Due: lightgbm, e2e-tests, unit-tests

fix: propagate should be false (#2594)
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

fix(runner): pass init params to runnable (#2587)
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/local.py
  docs/source/concepts/runner.rst
Due: e2e-tests, unit-tests

docs: add setuptools to docs dependencies (#2586)
  requirements/docs-requirements.txt
Due: none

test(frameworks): minor test improvements (#2590)
  tests/integration/frameworks/models/xgboost.py
  tests/integration/frameworks/test_frameworks.py
Due: none

fix(docker): fix issue with passed pip args (#2597)
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

Update streaming.rst (#2605)
  docs/source/guides/streaming.rst
Due: none

fix(model): lock attrs to >=21.1.0 (#2610)
  setup.cfg
Due: none

bug: Fix Yatai client push bentos with model options (#2604)
  bentoml/_internal/models/model.py
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

docs: allow running tutorial from docker (#2611)
  README.md
  docs/source/concepts/deploy.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/tutorial.rst
Due: none

fix(runner app): remove accidental request log (#2595)
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

bug: fix/routing path (#2606)
  bentoml/_internal/server/service_app.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
  tests/unit/_internal/test_service_api.py
Due: e2e-tests, unit-tests

fix(model): load ModelOptions lazily (#2608)
  bentoml/_internal/models/model.py
  tests/integration/frameworks/test_frameworks.py
Due: e2e-tests, unit-tests

docs: Fix documentation formats (#2612)
  docs/source/concepts/bento.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/guides/streaming.rst
Due: none

feat: install.sh for python packages (#2555)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

fix: build config (#2581)
  .github/workflows/ci.yml
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/models/model.py
  docs/source/concepts/bento.rst
  docs/source/guides/dockerfile_generation.rst
  hooks/commit-msg
  hooks/pre-commit
  pyproject.toml
  scripts/ci/helpers.sh
  tests/unit/_internal/bento/test_bento.py
Due: e2e-tests, unit-tests

chore: type fix and enforce correct options for custom templates
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/gen.py
  docs/source/concepts/bento.rst
  docs/source/guides/dockerfile_generation.rst
Due: e2e-tests, unit-tests

fix: Server silently crash without logging exceptions (#2635)
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

Added Tuple message to represent tuples
  protos/io_descriptors.proto
Due: none

Added timestamp and duration datatypes
  protos/io_descriptors.proto
Due: none

Added concise todo comments
  protos/io_descriptors.proto
Due: none

Fix onnx-mlir execution session invoke.
  bentoml/frameworks/onnxmlir.py
Due: e2e-tests, unit-tests

fix(framework): some GPU related fixes
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  tests/integration/frameworks/test_frameworks.py
Due: transformers, xgboost, e2e-tests, unit-tests

Check for -1 when setting CUDA_VISIBLE_DEVICE
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: transformers, xgboost, e2e-tests, unit-tests

fix(framework): some GPU related fixes (#2637)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  tests/integration/frameworks/test_frameworks.py
Due: transformers, xgboost, e2e-tests, unit-tests

Implement load_model()
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

Update save_model()
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

feat(framework): onnx support
  bentoml/_internal/frameworks/onnx.py
  bentoml/onnx.py
Due: onnx, e2e-tests, unit-tests

Update bentoml/onnx.py
  bentoml/onnx.py
Due: e2e-tests, unit-tests

update github workflows
  .github/workflows/frameworks.yml
Due: none

onnx: more conservative for default providers
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

test(framework): add onnx test cases
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/onnx.py
  tests/integration/frameworks/test_frameworks.py
Due: none

style formatting
  bentoml/_internal/frameworks/onnx.py
  bentoml/onnx.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/onnx.py
  tests/integration/frameworks/test_frameworks.py
Due: onnx, e2e-tests, unit-tests

update github workflow
  .github/workflows/frameworks.yml
Due: none

minor fixes
  bentoml/onnx.py
  scripts/ci/config.yml
Due: e2e-tests, unit-tests

Apply suggestions from code review
  docs/source/reference/frameworks/index.rst
Due: none

Apply suggestions from code review
  docs/source/frameworks/fastai.rst
Due: none

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
