Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

feat: add shutdown events usage reports
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

Update test_io.py
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: none

Revert "fix DistroString name error"
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

Update build_config.py
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: remove unnecessary missing dependency warning (#2324)
  bentoml/_internal/io_descriptors/pandas.py
  requirements/tests-requirements.txt
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: e2e-tests, unit-tests

chore: fall back to lock_packages=False when pip-tools fails (#2327)
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

feat: add ubi + update poetry.lock
  docker/README.md
  docker/generated/bento-server/README.md
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/cuda.repo
  docker/generated/bento-server/ubi7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi7/devel/Dockerfile
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/cuda.repo
  docker/generated/bento-server/ubi8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/manager.py
  docker/manifest.yml
  docker/poetry.lock
  docker/utils.py
Due: none

chore: wip
  docker/exceptions.py
  docker/manager.py
  docker/manifest.yml
  docker/poetry.lock
  docker/pyproject.toml
  docker/utils.py
  docker/validator.py
Due: none

chore: fix ubi7 for amd64
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi8/Dockerfile
  docker/manager.py
  docker/manifest.yml
Due: e2e-tests, unit-tests

chore: update dockerfile for ubi7
  docker/generated/bento-server/ubi7/Dockerfile
Due: none

feat(internal): implement more sophisticated export
  bentoml/_internal/bento/bento.py
  bentoml/_internal/exportable.py
  bentoml/_internal/models/model.py
  bentoml/_internal/store.py
  bentoml/bentos.py
  bentoml/models.py
  tests/unit/_internal/bento/bentoa/bentoa.py
  tests/unit/_internal/bento/bentoa/testfile
  tests/unit/_internal/bento/bentoa1/bentoa.py
  tests/unit/_internal/bento/bentoa1/testfile
  tests/unit/_internal/bento/bentob/bentob.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/models/test_model.py
  tests/unit/_internal/test_store.py
  tests/unit/test_models.py
Due: e2e-tests, unit-tests

feat(internal): add typename method to StoreItem
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

feat(internal): try to unnecessarily flush bento metadata less
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix(internal): clear up errors when creating bentos/models with 'from_fs'
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Fix docstring formatting
  bentoml/bentos.py
  bentoml/models.py
Due: e2e-tests, unit-tests

chore: wip
  docker/log.py
  docker/manager.py
  docker/manifest.yml
  docker/utils.py
Due: none

Implement more sophisticated import / export APIs (#2237)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/exportable.py
  bentoml/_internal/models/model.py
  bentoml/_internal/store.py
  bentoml/bentos.py
  bentoml/models.py
  tests/unit/_internal/bento/bentoa/bentoa.py
  tests/unit/_internal/bento/bentoa/testfile
  tests/unit/_internal/bento/bentoa1/bentoa.py
  tests/unit/_internal/bento/bentoa1/testfile
  tests/unit/_internal/bento/bentob/bentob.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/models/test_model.py
  tests/unit/_internal/test_store.py
  tests/unit/test_models.py
Due: e2e-tests, unit-tests

chore: add nee README
  docker/generated/README.md
  docker/generated/bento-server/1.0.0a5/README.md
  docker/log.py
  docker/manager.py
  docker/manifest.yml
  docker/templates/docs/README.md.j2
  docker/utils.py
  docker/validator.py
Due: none

tracking link on doc index
  docs/source/index.rst
Due: none

Update README.md
  README.md
Due: none

Update README.md
  docker/README.md
Due: none

Update README.md.j2
  docker/templates/docs/README.md.j2
Due: none

update aiohttp version specifier
  setup.cfg
Due: none

docs: update slack community link (#2331)
  README.md
  docker/README.md
  docker/templates/docs/README.md.j2
  docs/source/index.rst
Due: none

docs: update yatai and bentoctl project description (#2334)
  README.md
Due: none

fix: avoid using aiohttp preview release(#2333)
  setup.cfg
Due: none

Update base on comments
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/yatai_rest_api_client/config.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
Due: e2e-tests, unit-tests

chore: revert to latest for ubi images
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi8/Dockerfile
  docker/manifest.yml
Due: none

chore: refactor big time
  docker/README.md
  docker/generated/bento-server/1.0.0a5/README.md
  docker/generated/bento-server/1.0.0a5/centos7/Dockerfile
  docker/generated/bento-server/1.0.0a5/centos7/cudnn/Dockerfile
  docker/generated/bento-server/1.0.0a5/centos7/devel/Dockerfile
  docker/generated/bento-server/1.0.0a5/centos7/runtime/Dockerfile
  docker/generated/bento-server/1.0.0a5/centos8/Dockerfile
  docker/generated/bento-server/1.0.0a5/centos8/cudnn/Dockerfile
  docker/generated/bento-server/1.0.0a5/centos8/devel/Dockerfile
  docker/generated/bento-server/1.0.0a5/centos8/runtime/Dockerfile
  docker/generated/bento-server/1.0.0a5/ubi7/cudnn/cuda.repo
  docker/generated/bento-server/1.0.0a5/ubi7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/1.0.0a5/ubi8/cudnn/cuda.repo
  docker/generated/bento-server/1.0.0a5/ubi8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/debian10/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/cuda.repo
  docker/generated/bento-server/ubi7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi7/devel/Dockerfile
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/cuda.repo
  docker/generated/bento-server/ubi8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/manager.py
  docker/manifest.yml
  docker/templates/debian/base-dockerfile.j2
  docker/utils.py
Due: none

Update bentoml/_internal/cli/yatai.py
  bentoml/_internal/cli/yatai.py
Due: e2e-tests, unit-tests

chore: readme display correct arch supports
  docker/generated/bento-server/README.md
  docker/manager.py
  docker/templates/docs/README.md.j2
  docker/utils.py
Due: none

style: minor fix
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

feature(framework): keras add save_format option
  bentoml/_internal/frameworks/keras.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, e2e-tests, unit-tests

test: add keras nlp model save load test
  tests/integration/frameworks/test_keras_impl.py
  tests/utils/frameworks/tensorflow_utils.py
Due: none

chore: finish debian templates
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/debian10/Dockerfile-trt
  docker/generated/bento-server/debian10/base/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian11/Dockerfile-trt
  docker/generated/bento-server/debian11/base/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/cuda.repo
  docker/generated/bento-server/ubi7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi8/Dockerfile
  docker/generated/bento-server/ubi8/base/nvidia-ml.repo-amd64
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/cuda.repo
  docker/generated/bento-server/ubi8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/manager.py
  docker/manifest.yml
  docker/templates/debian/base-dockerfile.j2
  docker/templates/debian/cudnn-dockerfile.j2
  docker/templates/debian/devel-dockerfile.j2
  docker/templates/debian/runtime-dockerfile.j2
  docker/templates/debian/trt-dockerfile.j2
  docker/tools/Dockerfile-platform
  docker/utils.py
Due: none

feat(docker): add ubi images (#2328)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  docker/README.md
  docker/generated/bento-server/README.md
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/cuda.repo
  docker/generated/bento-server/ubi7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi7/devel/Dockerfile
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/cuda.repo
  docker/generated/bento-server/ubi8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/manager.py
  docker/manifest.yml
  docker/poetry.lock
  docker/utils.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
