Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

feat(model): allow custom model versions
  bentoml/_internal/models/model.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

finish removing init_http_response
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

chore: add abstract methods for pandas
  bentoml/_internal/io_descriptors/pandas.py
  setup.cfg
Due: e2e-tests, unit-tests

fix(io descriptors): finish removing init_http_response (#2774)
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

doc(framework): keras guide
  docs/source/frameworks/keras.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/keras.rst
Due: none

minor update
  docs/source/frameworks/keras.rst
Due: none

update keras doc strings
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

chore: fix typo
  docs/source/concepts/bento.rst
Due: none

chore: another fix
  docs/source/concepts/bento.rst
Due: none

chore: fix typo (#2776)
  docs/source/concepts/bento.rst
Due: none

fix model creation on windows
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

feat(model): allow custom model versions (#2775)
  bentoml/_internal/models/model.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

chore: add watchfiles as bentoml dependencies
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  setup.cfg
Due: e2e-tests, unit-tests

Update service schema and validation docs
  docs/source/concepts/service.rst
  docs/source/reference/api_io_descriptors.rst
Due: none

chore: grammar
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: add watchfiles as bentoml dependency (#2777)
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  setup.cfg
Due: e2e-tests, unit-tests

feat: added generic proto file for grpc service (#2742)
  protos/io_descriptors.proto
  protos/service.proto
Due: none

chore: rename protobuf message for Array repr (#2745)
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

feat: add generic protobuf (#2634)
  protos/io_descriptors.proto
Due: none

style: gRPC (#2746)
  .github/workflows/ci.yml
  .gitignore
  Makefile
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/protos/__init__.py
  protos/buf.yaml
  protos/generate.py
  protos/io_descriptors.proto
  protos/payload.proto
  protos/service.proto
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/style/proto_check.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
  setup.cfg
Due: e2e-tests, unit-tests

feat: grpc generated stubs (#2756)
  DEVELOPMENT.md
  protos/generate.py
  pyproject.toml
  setup.cfg
  setup.py
Due: none

fix: protobuf generation on windows (#2759)
  pyproject.toml
  setup.cfg
  setup.py
Due: none

chore: update protobuf conversion functions (#2749)
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

feat(dev-server): `--grpc` (#2763)
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/service/service.py
  requirements/tests-requirements.txt
  scripts/tools/formatter.sh
  setup.cfg
Due: e2e-tests, unit-tests

chore: remove ast parsing and reorg
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/service/service.py
  bentoml/protos/buf.yaml
  bentoml/protos/payload.proto
  bentoml/protos/payload_pb2.pyi
  bentoml/protos/service.proto
  bentoml/protos/service_pb2.pyi
  bentoml/protos/service_pb2_grpc.pyi
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/style/proto_check.sh
  scripts/tools/formatter.sh
  setup.cfg
  setup.py
Due: e2e-tests, unit-tests

chore: init correct io_descriptors abstract methods (#2771)
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  pyproject.toml
  setup.cfg
Due: e2e-tests, unit-tests

Update keras.rst
  docs/source/frameworks/keras.rst
Due: none

doc(framework): keras guide (#2741)
  bentoml/_internal/frameworks/keras.py
  docs/source/frameworks/keras.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/keras.rst
Due: keras, e2e-tests, unit-tests

fix(runner): thread limiter doesn't take effect
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

docs: Update service schema and validation (#2778)
  docs/source/concepts/service.rst
  docs/source/reference/api_io_descriptors.rst
Due: none

fix
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

chore: add notes and renaming
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

doc(frameworks): fix pip package syntax
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/keras.rst
  docs/source/frameworks/onnx.rst
  docs/source/frameworks/xgboost.rst
Due: none

doc(frameworks): fix pip package syntax (#2782)
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/keras.rst
  docs/source/frameworks/onnx.rst
  docs/source/frameworks/xgboost.rst
Due: none

chore: patching security for yarn modules
  bentoml/yatai/web/client/package.json
  bentoml/yatai/web/package.json
Due: e2e-tests, unit-tests

Update bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

fix(runner): thread limiter doesn't take effect (#2781)
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

Update strategy.py
  bentoml/_internal/runner/strategy.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
