Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, tensorflow_v1, transformers, xgboost, e2e-tests-http, e2e-tests-grpc, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  fastai: any of: bentoml/fastai.py, bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  picklable_model: any of: bentoml/_internal/frameworks/picklable.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow_v2.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  tensorflow_v1: any of: bentoml/_internal/frameworks/tensorflow_v1.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  e2e-tests-http: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  e2e-tests-grpc: any of: bentoml/**/*, bentoml/grpc/utils.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings

test: fix new changes
  tests/unit/_internal/utils/test_analytics.py
Due: none

feat: gRPC tracking (#3015)
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/serve.py
  bentoml/start.py
  pyproject.toml
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: Update access log format configuration schema.
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
  docs/source/guides/logging.rst
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

configuration: migrate schema to `api_server` (#3046)
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
  docs/source/guides/logging.rst
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

qa: cleanup MLflow (#2945)
  bentoml/_internal/frameworks/mlflow.py
Due: mlflow, e2e-tests-http, e2e-tests-grpc, unit-tests

chore(otel): remove otel setup (move to #2980)
  bentoml/testing/grpc/__init__.py
  tests/e2e/bento_server_grpc/tests/conftest.py
  tests/e2e/bento_server_grpc/tests/test_meta.py
  tests/integration/conftest.py
  tests/unit/_internal/bento/test_bento.py
Due: none

chore: update repr format string
  .devcontainer/lifecycle/post-start
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/grpc/utils/__init__.py
  bentoml/grpc/v1alpha1/service.proto
  bentoml/testing/grpc/__init__.py
  bentoml/testing/grpc/_servicer.py
  bentoml/testing/grpc/interceptors.py
  bentoml/testing/server.py
  bentoml/testing/utils.py
  requirements/tests-requirements.txt
  scripts/ci/config.yml
  scripts/ci/run_tests.sh
  tests/e2e/bento_server_grpc/tests/conftest.py
  tests/e2e/bento_server_http/tests/conftest.py
  tests/e2e/bento_server_http/tests/test_io.py
  tests/e2e/bento_server_http/tests/test_meta.py
  tests/e2e/bento_server_http/tests/test_microbatch.py
  tests/e2e/conftest.py
  tests/unit/_internal/io/test_multipart.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

feat: bentoml pytest plugin
  bentoml/grpc/types.py
  bentoml/grpc/utils/__init__.py
  bentoml/testing/grpc/__init__.py
  bentoml/testing/grpc/_io.py
  bentoml/testing/grpc/servicer.py
  bentoml/testing/pytest/__init__.py
  bentoml/testing/pytest/plugin.py
  bentoml/testing/server.py
  pyproject.toml
  scripts/ci/run_tests.sh
  tests/e2e/README.md
  tests/e2e/bento_server_grpc/context_server_interceptor.py
  tests/e2e/bento_server_grpc/service.py
  tests/e2e/bento_server_grpc/tests/conftest.py
  tests/e2e/bento_server_grpc/tests/test_custom_components.py
  tests/e2e/bento_server_grpc/tests/test_descriptors.py
  tests/e2e/bento_server_grpc/train.py
  tests/e2e/bento_server_http/tests/conftest.py
  tests/e2e/bento_server_http/train.py
  tests/unit/_internal/io/conftest.py
  tests/unit/_internal/io/test_json.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: disable xdist on windows
  .github/workflows/ci.yml
  bentoml/testing/pytest/plugin.py
  scripts/ci/run_tests.sh
Due: none

fix: naming stage and unnecessary set environment variable
  bentoml/bentos.py
  bentoml/models.py
  bentoml/testing/pytest/plugin.py
  bentoml/testing/server.py
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/run_tests.sh
  tests/e2e/README.md
  tests/e2e/bento_server_grpc/tests/conftest.py
  tests/e2e/bento_server_http/tests/conftest.py
  tests/e2e/bento_server_http/tests/test_io.py
  tests/integration/conftest.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: move fixtures to plugins
  bentoml/testing/grpc/servicer.py
  bentoml/testing/pytest/plugin.py
  pyproject.toml
  tests/conftest.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/runner/test_container.py
  tests/unit/_internal/runner/utils.py
  tests/unit/_internal/test_utils.py
  tests/unit/_internal/utils/test_analytics.py
  tests/unit/grpc/interceptors/test_access.py
  tests/unit/grpc/interceptors/test_prometheus.py
  tests/unit/grpc/server/test_config.py
  tests/unit/grpc/test_grpc_utils.py
Due: none

fix: prometheus disable multiproc
  .devcontainer/lifecycle/post-start
  bentoml/testing/pytest/__init__.py
  bentoml/testing/pytest/plugin.py
  codecov.yml
  scripts/ci/run_tests.sh
  tests/unit/conftest.py
  tests/unit/grpc/interceptors/test_prometheus.py
Due: none

chore: fix tests
  bentoml/grpc/v1alpha1/service.proto
  bentoml/testing/pytest/plugin.py
  pyproject.toml
  requirements/frameworks-requirements.txt
  scripts/ci/run_tests.sh
  tests/e2e/bento_server_grpc/tests/conftest.py
  tests/e2e/bento_server_http/tests/conftest.py
  tests/unit/_internal/models/test_model.py
  tests/unit/conftest.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix(ci): disable multiple workers for windows
  scripts/ci/run_tests.sh
Due: none

chore: update tests
  .github/workflows/ci.yml
  bentoml/testing/pytest/plugin.py
  pyproject.toml
  tests/integration/conftest.py
  tests/integration/frameworks/test_frameworks.py
Due: none

chore: fix format
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/testing/grpc/__init__.py
  bentoml/testing/server.py
  pyproject.toml
  tests/e2e/bento_server_grpc/tests/conftest.py
  tests/e2e/bento_server_grpc/tracing.yml
  tests/unit/_internal/models/test_model.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: address warning and fix loopback
  bentoml/testing/grpc/__init__.py
  bentoml/testing/server.py
  tests/unit/_internal/io/test_numpy.py
Due: none

chore: disable tests on Windows
  .github/workflows/ci.yml
  DEVELOPMENT.md
  Makefile
  bentoml/testing/pytest/plugin.py
  pyproject.toml
  scripts/ci/run_tests.sh
  tests/integration/conftest.py
  tests/integration/frameworks/test_frameworks.py
Due: none

fix: explicit assign keys for multipart
  bentoml/_internal/io_descriptors/multipart.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix: tests
  tests/unit/_internal/utils/test_analytics.py
  tests/unit/conftest.py
Due: none

chore: kaniko support
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix: metrics tests
  bentoml/testing/pytest/plugin.py
  tests/unit/grpc/interceptors/test_prometheus.py
Due: none

chore: lint and format
  tests/unit/grpc/interceptors/test_prometheus.py
Due: none

feat: support multipart upload for large bento and model
  bentoml/_internal/yatai_client/__init__.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
  bentoml_cli/bentos.py
  bentoml_cli/models.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

feat: support multipart upload for large bento and model (#3044)
  bentoml/_internal/yatai_client/__init__.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
  bentoml_cli/bentos.py
  bentoml_cli/models.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix: use `api_server.workers` from config correctly
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/serve.py
  bentoml_cli/serve.py
  bentoml_cli/start.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

feat: refactor configuration options for tracing
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  tests/unit/_internal/test_configuration.py
  tests/unit/grpc/interceptors/test_opentelemetry.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: set null to `~`
  bentoml/_internal/configuration/default_configuration.yaml
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: update migration for comments args
  bentoml/_internal/configuration/containers.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix(config): respect `api_server.workers` (#3049)
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/serve.py
  bentoml_cli/serve.py
  bentoml_cli/start.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore(lint): remove unused import
  bentoml/serve.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore(lint): remove unused import (#3051)
  bentoml/serve.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: remove comments
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: lazy import bentoml to avoid side effects
  bentoml_cli/bentos.py
  bentoml_cli/cli.py
  bentoml_cli/env.py
  bentoml_cli/models.py
  bentoml_cli/utils.py
  bentoml_cli/yatai.py
Due: none

fix(import): namespace collision
  bentoml/__init__.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix(import): namespace collision (#3058)
  bentoml/__init__.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

update examples
  examples/custom_model_runner/service.py
  examples/custom_python_model/lda_classifier/service.py
  examples/custom_python_model/simple_pickable_model/service.py
  examples/custom_runner/nltk_pretrained_model/service.py
  examples/custom_runner/torch_hub_yolov5/service.py
  examples/custom_web_serving/fastapi_example/service.py
  examples/custom_web_serving/flask_example/service.py
  examples/kfserving/service.py
  examples/mlflow/lightgbm/service.py
  examples/mlflow/pytorch/service.py
  examples/pydantic_validation/service.py
  examples/quickstart/README.md
  examples/quickstart/service.py
  examples/sklearn/linear_regression/service.py
  examples/sklearn/pipeline/service.py
  examples/xgboost/agaricus.py
Due: none

chore(docs): convert sync endopoint to async endpoint
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/keras.rst
  docs/source/frameworks/onnx.rst
  docs/source/frameworks/transformers.rst
  docs/source/frameworks/xgboost.rst
Due: none
