Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

feat(cli): serve-grpc with options and entrypoints
  bentoml/bentos.py
  bentoml/serve.py
  bentoml/start.py
  bentoml_cli/containerize.py
  bentoml_cli/serve.py
  bentoml_cli/start.py
  bentoml_cli/utils.py
  bentoml_cli/worker/grpc_api_server.py
  bentoml_cli/worker/grpc_dev_api_server.py
  bentoml_cli/worker/grpc_prometheus_server.py
  bentoml_cli/worker/http_api_server.py
  bentoml_cli/worker/http_dev_api_server.py
Due: e2e-tests, unit-tests

feat(api): expose functions under `bentoml.grpc`
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/grpc/buf.yaml
  bentoml/grpc/interceptors/__init__.py
  bentoml/grpc/interceptors/access.py
  bentoml/grpc/interceptors/opentelemetry.py
  bentoml/grpc/interceptors/prometheus.py
  bentoml/grpc/types.py
  bentoml/grpc/utils/__init__.py
  bentoml/grpc/utils/_import_hook.py
  bentoml/grpc/utils/mapping.py
  bentoml_cli/utils.py
Due: e2e-tests, unit-tests

feat(bento): build process
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker/__init__.py
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/external_typing/__init__.py
  tests/unit/_internal/bento/test_bento.py
Due: e2e-tests, unit-tests

feat(io): descriptor implementation
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  tests/unit/_internal/io/test_numpy.py
Due: e2e-tests, unit-tests

feat: track serve update for start subcommands (#2976)
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/start.py
Due: e2e-tests, unit-tests

chore: CLI quotes and lint
  bentoml_cli/utils.py
Due: none

docs: update wrong paths for disabling logs (#2974)
  docs/source/guides/logging.rst
Due: none

add docs
  docs/source/guides/logging.rst
Due: none

BREAKING: feat: otel trace format customization (#2961)
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
  docs/source/guides/logging.rst
Due: e2e-tests, unit-tests

chore(cli): using quotes instead of backslash (#2981)
  bentoml_cli/utils.py
Due: none

feat: show full tracebacks in debug mode
  bentoml_cli/utils.py
Due: none

feat(cli): show full tracebacks in debug mode (#2982)
  bentoml_cli/utils.py
Due: none

feature(runner): add multiple output support (#2912)
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/runner_app.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: keras, e2e-tests, unit-tests

revert: lazy
  bentoml/_internal/frameworks/mlflow.py
Due: mlflow, e2e-tests, unit-tests

feat: test bento bundle
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
  bentoml_cli/cli.py
  bentoml_cli/test.py
Due: e2e-tests, unit-tests

split serialization logic from http methods
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

support test data from files; utilize io descriptor; bento client; support pandas and numpy
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/client/__init__.py
  bentoml/_internal/client/test_client/__init__.py
  bentoml/_internal/client/test_client/client.py
  bentoml/_internal/client/test_client/utils.py
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

add test CLI command description
  bentoml_cli/test.py
Due: none

remove unnecessary imports
  bentoml_cli/test.py
Due: none

Add airflow integrations docs
  bentoml/bentos.py
  bentoml/models.py
  docs/source/integrations/airflow.rst
  docs/source/integrations/index.rst
Due: e2e-tests, unit-tests

fix exception handling
  bentoml/bentos.py
Due: e2e-tests, unit-tests

formatter+linter
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/client/test_client/client.py
  bentoml/_internal/client/test_client/utils.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
  bentoml_cli/cli.py
  bentoml_cli/test.py
Due: e2e-tests, unit-tests

fix style
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

make pylint happy
  pyproject.toml
Due: none

expose bento test client
  bentoml/_internal/client/__init__.py
  bentoml/_internal/client/test_client/__init__.py
  bentoml/client/__init__.py
  bentoml/client/test_client/__init__.py
  bentoml/client/test_client/client.py
  bentoml/client/test_client/utils.py
Due: e2e-tests, unit-tests

formatting misc
  bentoml/bentos.py
  bentoml_cli/cli.py
  bentoml_cli/test.py
Due: e2e-tests, unit-tests

bentoml build --test flag support
  bentoml_cli/bentos.py
Due: none

docs: add airflow integration page (#2990)
  bentoml/bentos.py
  bentoml/models.py
  docs/source/integrations/airflow.rst
  docs/source/integrations/index.rst
Due: e2e-tests, unit-tests

fix(runner): receive requests before cork
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

type hint adjustments
  bentoml/client/test_client/utils.py
Due: e2e-tests, unit-tests

add __all__
  bentoml/client/__init__.py
  bentoml/client/test_client/__init__.py
Due: e2e-tests, unit-tests

type hint adjustments; lazy import
  bentoml/client/test_client/client.py
  bentoml/client/test_client/utils.py
  bentoml_cli/bentos.py
Due: e2e-tests, unit-tests

chore(ci): fix the unit test of transformers
  tests/integration/frameworks/test_transformers_unit.py
Due: none

chore(ci): fix the unit test of transformers (#3003)
  tests/integration/frameworks/test_transformers_unit.py
Due: none

chore(ci): fix the issue caused by the change of check_task
  tests/integration/frameworks/test_transformers_unit.py
Due: none

chore(ci): fix the issue caused by the change of check_task (#3004)
  tests/integration/frameworks/test_transformers_unit.py
Due: none

add config; fix typing
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/utils/alg.py
Due: e2e-tests, unit-tests

refactor(metrics): use new metrics names
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/context.py
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/serve.py
  bentoml_cli/worker/runner.py
Due: e2e-tests, unit-tests
