Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

fix pickable model integration test
  tests/integration/frameworks/test_picklable_model_impl.py
Due: none

fix: revert pining pip version for tests
  scripts/ci/run_tests.sh
Due: none

fix: revert pining pip version for tests (#2514)
  scripts/ci/run_tests.sh
Due: none

docs: update readme installation --pre flag
  README.md
Due: none

docs: update readme installation --pre flag (#2515)
  README.md
Due: none

chore(ci): quit immediately for errors e2e tests
  .github/workflows/ci.yml
Due: none

chore(ci): quit immediately for errors e2e tests (#2517)
  .github/workflows/ci.yml
Due: none

fix(ci): cover sync endpoints; cover cors
  tests/e2e/bento_server_general_features/server_config_cors_enabled.yml
  tests/e2e/bento_server_general_features/server_config_default.yml
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
  tests/e2e/bento_server_general_features_sync/bentofile.yaml
  tests/e2e/bento_server_general_features_sync/bentoml_config.yml
  tests/e2e/bento_server_general_features_sync/pickle_model.py
  tests/e2e/bento_server_general_features_sync/requirements.txt
  tests/e2e/bento_server_general_features_sync/service.py
  tests/e2e/bento_server_general_features_sync/tests/conftest.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/tests/test_meta.py
  tests/e2e/bento_server_general_features_sync/tests/test_microbatch.py
  tests/e2e/bento_server_general_features_sync/train.py
Due: none

fix(ci): cover sync endpoints; cover cors (#2520)
  tests/e2e/bento_server_general_features/server_config_cors_enabled.yml
  tests/e2e/bento_server_general_features/server_config_default.yml
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
  tests/e2e/bento_server_general_features_sync/bentofile.yaml
  tests/e2e/bento_server_general_features_sync/bentoml_config.yml
  tests/e2e/bento_server_general_features_sync/pickle_model.py
  tests/e2e/bento_server_general_features_sync/requirements.txt
  tests/e2e/bento_server_general_features_sync/service.py
  tests/e2e/bento_server_general_features_sync/tests/conftest.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/tests/test_meta.py
  tests/e2e/bento_server_general_features_sync/tests/test_microbatch.py
  tests/e2e/bento_server_general_features_sync/train.py
Due: none

chore: add api_version for frameworks
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  bentoml/models.py
  tests/unit/_internal/models/test_model.py
Due: keras, pytorch, sklearn, transformers, xgboost, e2e-tests, unit-tests

also update framework template
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
Due: e2e-tests, unit-tests

docs: fix cuda_version
  docs/source/guides/gpu.rst
Due: none

docs: fix cuda_version string value (#2523)
  docs/source/guides/gpu.rst
Due: none

fix(framework): fix tf2 and keras class variable names
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  docs/source/concepts/runner.rst
Due: keras, e2e-tests, unit-tests

fix(framework): fix tf2 and keras class variable names (#2525)
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  docs/source/concepts/runner.rst
Due: keras, e2e-tests, unit-tests

chore: boost e2e tests
  bentoml/testing/server.py
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

fix fixture order
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

chore: add single data cases
  bentoml/testing/server.py
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/train.py
Due: none

debug info
  bentoml/_internal/utils/__init__.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

chore(ci): add more edge cases; boost e2e tests (#2521)
  bentoml/_internal/utils/__init__.py
  bentoml/testing/server.py
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/train.py
Due: e2e-tests, unit-tests

fix: remove backslash in comments
  bentoml/_internal/bento/docker/entrypoint.sh
Due: e2e-tests, unit-tests

Update bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/entrypoint.sh
Due: e2e-tests, unit-tests

fix(docker): remove backslash in comments (#2527)
  bentoml/_internal/bento/docker/entrypoint.sh
Due: e2e-tests, unit-tests

feat: push runner to yatai
  bentoml/_internal/yatai_client/__init__.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
Due: e2e-tests, unit-tests

pass usertemplate name
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

fix(runner): sync remote runner uri schema with runner_app
  bentoml/_internal/runner/runner_handle/remote.py
Due: e2e-tests, unit-tests

fix(runner): sync remote runner uri schema with runner_app (#2531)
  bentoml/_internal/runner/runner_handle/remote.py
Due: e2e-tests, unit-tests

fix: bug fix for tensorflow integration
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

bug fix for resources placement
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: disable nvidia cpu in case of CPU workers
  bentoml/_internal/runner/strategy.py
Due: e2e-tests, unit-tests

fix: major bugs fixes about serving and GPU placement (#2535)
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/__init__.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

chore(sdk): allowed signle int value as the batch_dim
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

chore(sdk): allowed signle int value as the batch_dim (#2536)
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

chore(ci): cover add_asgi_middleware in e2e tests
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/service_app.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
Due: e2e-tests, unit-tests

chore(ci): cover add_asgi_middleware in e2e tests (#2537)
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/service_app.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
Due: e2e-tests, unit-tests

chore(framework): Add api_version for current implemented frameworks (#2522)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  bentoml/models.py
  tests/unit/_internal/models/test_model.py
Due: keras, pytorch, sklearn, transformers, xgboost, e2e-tests, unit-tests

chore: tests + fixes
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/gen.py
  tests/unit/_internal/bento/test_build_config.py
Due: e2e-tests, unit-tests

chore(ci): test asgi app mounting
  tests/e2e/bento_server_general_features/requirements.txt
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
Due: none

chore(server): lazy load meters
  bentoml/_internal/server/instruments.py
Due: e2e-tests, unit-tests
