Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore: update protobuf conversion functions (#2749)
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

update `cattrs` version to `v22.1.0`
  setup.cfg
Due: none

fix: absolute imports
  setup.py
Due: none

chore(deps): `cattrs>=22.1.0` in setup.cfg (#2758)
  setup.cfg
Due: none

fix: now generates protobuf stubs for windows
  setup.py
Due: none

fix: protobuf generation on windows (#2759)
  setup.py
Due: none

chore: add type hint for run and async_run
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

feat: add pypa/build as build backend
  MANIFEST.in
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/utils/tempdir.py
  hooks/pre-commit
  hooks/prepare-commit-msg
  requirements/tests-requirements.txt
  scripts/release_pypi.sh
  setup.cfg
Due: e2e-tests, unit-tests

Create transformers unit test
  .github/workflows/frameworks.yml
  bentoml/_internal/external_typing/transformers.py
  bentoml/_internal/frameworks/transformers.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/transformers.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_transformers_unit.py
Due: transformers, e2e-tests, unit-tests

Fix dependency
  scripts/ci/config.yml
  tests/integration/frameworks/models/transformers.py
Due: none

Delete test_transformers_impl.py
  tests/integration/frameworks/test_transformers_impl.py
Due: none

Update config.yml
  scripts/ci/config.yml
Due: none

Update frameworks.yml
  .github/workflows/frameworks.yml
Due: none

Update test_transformers_unit.py
  tests/integration/frameworks/test_transformers_unit.py
Due: none

test: adding batchable test
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/utils/pkg.py
  tests/integration/frameworks/models/transformers.py
  tests/integration/frameworks/test_transformers_unit.py
Due: transformers, e2e-tests, unit-tests

fix(transformers): kwargs and migrate to framework tests (#2761)
  .github/workflows/frameworks.yml
  bentoml/_internal/external_typing/transformers.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/utils/pkg.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/transformers.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/integration/frameworks/test_transformers_unit.py
Due: transformers, e2e-tests, unit-tests

chore: add type hint for run and async_run (#2760)
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix: CI for python <3.9
  pyproject.toml
  setup.cfg
  setup.py
Due: none

feat(server): start grpc dev server with `--grpc`
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

chore: fix type checking for `api.input`
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

chore: use `isinstance()` for type checking
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

chore: sorting imports
  bentoml/_internal/server/cli/grpc_dev_api_server.py
Due: e2e-tests, unit-tests

chore: Update bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/bento_server.py
Due: e2e-tests, unit-tests

chore: Update `bentoml/_internal/cli/bento_server.py`
  bentoml/_internal/cli/bento_server.py
Due: e2e-tests, unit-tests

chore: updates based on pr comments
  bentoml/_internal/server/cli/grpc_dev_api_server.py
Due: e2e-tests, unit-tests

chore: use buf binary if available on system
  scripts/tools/formatter.sh
  setup.cfg
Due: none

doc: remove final comma
  README.md
Due: none

chore: updates astunparse for docs requirements
  hooks/pre-commit
  requirements/tests-requirements.txt
Due: none

Update SECURITY.md
  SECURITY.md
Due: none

chore(e2e): capture log output
  .github/workflows/ci.yml
  bentoml/testing/server.py
Due: none

docs reorganize and cleanups
  docs/source/concepts/deploy.rst
  docs/source/concepts/runner.rst
  docs/source/concepts/service.rst
  docs/source/faq.md
  docs/source/frameworks/index.rst
  docs/source/frameworks/lightgbm.rst
  docs/source/frameworks/picklable.rst
  docs/source/frameworks/sklearn.rst
  docs/source/guides/batch_scoring.rst
  docs/source/guides/benchmark.rst
  docs/source/guides/containerization.rst
  docs/source/guides/custom_framework.rst
  docs/source/guides/index.rst
  docs/source/guides/multi_models.rst
  docs/source/guides/performance.rst
  docs/source/guides/security.rst
  docs/source/guides/server.rst
  docs/source/guides/tracing.rst
  docs/source/index.rst
  docs/source/integrations/flink.rst
  docs/source/integrations/index.rst
  docs/source/integrations/mlflow.rst
  docs/source/integrations/sagemaker.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/lightgbm.rst
  docs/source/reference/frameworks/picklable_model.rst
  docs/source/reference/frameworks/sklearn.rst
Due: none

chore: add -x to pytest
  .github/workflows/ci.yml
  scripts/ci/run_tests.sh
Due: none

chore(typo): GitHub
  SECURITY.md
Due: none

docs: fix typo in SECURITY.md (#2766)
  SECURITY.md
Due: none

chore: updates format
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  hooks/pre-commit
  hooks/prepare-commit-msg
Due: e2e-tests, unit-tests

fix custom runner link
  docs/source/frameworks/index.rst
Due: none

chore: use pypa/build as PEP517 backend (#2680)
  MANIFEST.in
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/utils/tempdir.py
  hooks/pre-commit
  hooks/prepare-commit-msg
  requirements/tests-requirements.txt
  scripts/release_pypi.sh
  setup.cfg
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/testing/server.py
Due: none

chore: add ignoring generated proto stub when switching branch
  .gitignore
Due: none

chore: revert upstream gitignore
  .gitignore
Due: none
