Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

style: test_picklable_model_impl.py
  tests/integration/frameworks/test_picklable_model_impl.py
Due: none

Revert "fix(test): transformer test"
  tests/integration/frameworks/test_transformers_impl.py
Due: none

fix: ci (#2306)
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/statsmodels.py
  tests/integration/frameworks/paddle/test_paddle_impl.py
  tests/integration/frameworks/spacy/test_spacy_projects.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
Due: keras, onnx, paddle, statsmodels, e2e-tests, unit-tests

Use default_format rather than from/to_parquet.
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

Appease the linter god.
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

refactor(framework): remove load_runner
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/catboost.py
Due: catboost, detectron, easyocr, gluon, h2o, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

chore: use backported cached_property
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

fix(runner): do not enable dispatcher for SimpleRunners
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

chore: use backported cached_property (#2309)
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

fix(runner): do not enable dispatcher for SimpleRunners (#2310)
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

Make dev and prod api_server circus process and port management consistent
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

Make dev and prod api_server circus process and port management consistent (#2311)
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

Just use obj.to_parquet().
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

Unit tests for PandasDataFrame changes.
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
Due: none

Add general_features e2e tests. Use class variable has_parquet.
  bentoml/_internal/io_descriptors/pandas.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
Due: e2e-tests, unit-tests

Test openai schema with different serialization types.
  tests/unit/_internal/io/test_openapi_schema.py
Due: none

Support for Literal in pandas.py for py3.6 and py3.7.
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

isort
  bentoml/_internal/io_descriptors/pandas.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
Due: e2e-tests, unit-tests

Use parquet_engine instead of has_parquet.
  bentoml/_internal/io_descriptors/pandas.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
Due: e2e-tests, unit-tests

black
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

Properly reference self.parquet_engine.
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

Fix syntax error in version check.
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

chore: fix property
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/utils/lazy_loader.py
Due: e2e-tests, unit-tests

feat: support for parquet ser/deser for PandasDataFrame (#2301)
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/utils/lazy_loader.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
  tests/unit/_internal/io/test_openapi_schema.py
Due: e2e-tests, unit-tests

refactor(SDK): move batch options
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

style: fix server/__init__.py
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

apply isort
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
Due: e2e-tests, unit-tests

style: fix server/__init__.py (#2315)
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
Due: e2e-tests, unit-tests

Update bento_management.rst
  docs/source/concepts/bento_management.rst
Due: none

docs: typo correction (#2319)
  docs/source/concepts/bento_management.rst
Due: none

chore(transformers): returns pipelines automatically (#2292)
  bentoml/_internal/frameworks/transformers.py
  tests/integration/frameworks/test_transformers_impl.py
Due: transformers, e2e-tests, unit-tests

Update bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

chore: add torchscript github workflow
  .github/workflows/frameworks.yml
  scripts/ci/config.yml
Due: none

refactor(framework): split pytorch impl to pytorch and torchscript
  bentoml/__init__.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/pytorch.py
  bentoml/torchscript.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
  tests/utils/frameworks/pytorch_utils.py
Due: pytorch_lightning, e2e-tests, unit-tests

test: pytorch frameworks test save format
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

doc: fix pytorch/torchscript changes
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/torchscript.py
Due: pytorch, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
