Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

Changed field names, message name `NumpyNdarray`
  protos/io_descriptors.proto
Due: none

fix(runner): validate runner names
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

chore: address docs comments and fix CI
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/fastai.py
  bentoml/fastai.py
  docs/source/frameworks/fastai.rst
  tests/integration/frameworks/test_fastai_unit.py
  tests/integration/frameworks/test_frameworks.py
  tests/utils/frameworks/fastai_utils.py
Due: fastai, e2e-tests, unit-tests

warn about models with multiple outputs
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

test cases minor fix
  tests/integration/frameworks/models/onnx.py
Due: none

Update bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

chore(internal): fix LazyType typing
  bentoml/_internal/types.py
Due: none

chore: updates docs and remove unused code
  bentoml/_internal/frameworks/fastai.py
  bentoml/fastai.py
  docs/source/frameworks/fastai.rst
Due: fastai, e2e-tests, unit-tests

chore: Apply suggestions from code review
  docs/source/frameworks/fastai.rst
Due: none

perf: use LazyType instead of function imports
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

chore: depends on #2632 now
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

fix(ci): lock torch to 1.9.0 since fastai doesn't have support for 1.11 yet
  scripts/ci/config.yml
Due: none

tests: minor e2e test cleanup
  bentoml/testing/server.py
  bentoml/testing/utils.py
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: none

tests: minor e2e test cleanup (#2643)
  bentoml/testing/server.py
  bentoml/testing/utils.py
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: none

Applied changed message name, moved todo comment
  protos/io_descriptors.proto
Due: none

Added trailing newline
  protos/io_descriptors.proto
Due: none

Fixed sint32 and sint64 field names
  protos/io_descriptors.proto
Due: none

fix: CI changes
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

feat: add generic protobuf (#2634)
  protos/io_descriptors.proto
Due: none

Add model in bentoml.pytorch.save_model() example
  docs/source/frameworks/pytorch.rst
Due: none

docs: Add model in bentoml.pytorch.save_model() pytorch integration example (#2644)
  docs/source/frameworks/pytorch.rst
Due: none

Added conversion method from protobuf to array
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Commenting and styling based on Hitchhiker's guide
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Fixed styling
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore(ci): always enable actions on PR
  .github/workflows/ci.yml
Due: none

chore(ci): always enable actions on PR (#2646)
  .github/workflows/ci.yml
Due: none

feat: integrate catboost
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/frameworks/catboost.py
  bentoml/catboost.py
  tests/integration/frameworks/models/catboost.py
Due: catboost, e2e-tests, unit-tests

ci: add catboost ci
  .github/workflows/frameworks.yml
  scripts/ci/config.yml
Due: none

chore: refactor fastai to recent resources
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

chore: revert docs/source from upstream/main
  docs/source/concepts/bento.rst
  docs/source/concepts/model.rst
  docs/source/conf.py
  docs/source/frameworks/index.rst
  docs/source/frameworks/pytorch.rst
  docs/source/reference/index.rst
Due: none

revert: refactor to another PR
  docs/source/frameworks/fastai.rst
  docs/source/reference/api_io_descriptors.rst
  docs/source/reference/cli.rst
  docs/source/reference/core.rst
  docs/source/reference/frameworks/fastai.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/index.rst
  docs/source/reference/stores.rst
  requirements/docs-requirements.txt
Due: none

chore: revert docs/source from upstream/main
  docs/source/reference/api_io_descriptors.rst
  docs/source/reference/cli.rst
  docs/source/reference/core.rst
  docs/source/reference/index.rst
  docs/source/reference/stores.rst
Due: none

chore: fastai
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

fix: CI
  .github/workflows/ci.yml
Due: none

chore: revert python version for docs
  .github/workflows/ci.yml
Due: none

chore: ci
  .github/workflows/ci.yml
Due: none

chore: fix ci
  .github/workflows/frameworks.yml
Due: none

chore: updates ci
  .github/workflows/ci.yml
Due: none
