Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

feat: numpy grpc
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/grpc/buf.yaml
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/struct.proto
  setup.py
Due: e2e-tests, unit-tests

chore: updates message and serialization
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

feat(io): numpy grpc handling (#2823)
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/grpc/buf.yaml
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/struct.proto
  setup.py
Due: e2e-tests, unit-tests

fix: anyio.run_sync for sync function
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/grpc/servicer.py
Due: e2e-tests, unit-tests

chore: remove unused changes
  .gitattributes
  requirements/tests-requirements.txt
  setup.cfg
Due: none

fix(framework): add more test for keras and fix keras GPU handling
  bentoml/_internal/frameworks/keras.py
  tests/integration/frameworks/models/keras_tf2.py
Due: keras, e2e-tests, unit-tests

Update bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

chore: update sauyon's comments
  DEVELOPMENT.md
Due: none

chore: cleanup and remove client interceptor
  Makefile
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/http_api_server.py
  bentoml/_internal/server/cli/http_dev_api_server.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

feat: added access log interceptor for grpc
  bentoml/_internal/server/grpc/interceptors/access_log.py
  bentoml/_internal/server/grpc_app.py
  setup.cfg
Due: e2e-tests, unit-tests

chore: implemented grpc request and response
  bentoml/_internal/io_descriptors/text.py
Due: e2e-tests, unit-tests

chore: update based on comment
  bentoml/_internal/server/grpc/interceptors/access_log.py
Due: e2e-tests, unit-tests

fix: interceptor to only allow unary RPCs
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/interceptors/access.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
Due: e2e-tests, unit-tests

chore: format
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

fix(framework): keras GPU handling (#2824)
  bentoml/_internal/frameworks/keras.py
  tests/integration/frameworks/models/keras_tf2.py
Due: keras, e2e-tests, unit-tests

docs: update custom bentoserver guide (#2809)
  docs/source/guides/server.rst
Due: none

fix(runner): bind limiter to runner_ref instead
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

fix(runner): bind limiter to runner_ref instead (#2826)
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

fix(pytorch): inference_mode context is a thead local
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

fix: types for multiple tags
  bentoml/_internal/cli/containerize.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix(pytorch): inference_mode context is a thead local (#2828)
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

chore: fix validating process
  bentoml/_internal/utils/docker.py
Due: e2e-tests, unit-tests

fix: accepting multiple tags
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/utils/buildx.py
  bentoml/_internal/utils/docker.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix: remove chmod install scripts
  bentoml/_internal/bento/docker/templates/_macros.j2
Due: e2e-tests, unit-tests

doc[frameworks]: tensorflow
  docs/source/frameworks/tensorflow.rst
  docs/source/reference/frameworks/tensorflow.rst
Due: none

add training steps
  docs/source/frameworks/tensorflow.rst
Due: none

Update tensorflow.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/guides/containerization.rst
  docs/source/guides/gpu.rst
  docs/source/installation.rst
  docs/source/reference/frameworks/tensorflow.rst
Due: none

Add Hugging Face Transformers framework guide.
  docs/source/frameworks/tensorflow.rst
Due: none

append
  docs/source/frameworks/tensorflow.rst
Due: none

minor fix
  docs/source/frameworks/tensorflow.rst
Due: none

details
  docs/source/frameworks/tensorflow.rst
Due: none

fix: address multiple tags for containerize (#2797)
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/utils/buildx.py
  bentoml/_internal/utils/docker.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix: remove dups
  bentoml/_internal/bento/docker/templates/_macros.j2
Due: e2e-tests, unit-tests

Fix pep8
  examples/custom_runner/nltk_pretrained_model/download_nltk_models.py
  examples/custom_runner/nltk_pretrained_model/service.py
  examples/custom_runner/torch_hub_yolov5/service.py
  examples/custom_web_serving/fastapi_example/service.py
  examples/custom_web_serving/flask_example/service.py
  examples/inference_graph/service.py
  examples/kfserving/service.py
  examples/lda_classifier/lda.py
  examples/lda_classifier/service.py
  examples/lda_classifier/train.py
  examples/mlflow/keras/train.py
  examples/mlflow/lightgbm/service.py
  examples/mlflow/pytorch/mnist.py
  examples/mlflow/pytorch/service.py
  examples/mlflow/sklearn_autolog/grid_search_cv.py
  examples/mlflow/sklearn_autolog/linear_regression.py
  examples/mlflow/sklearn_autolog/utils.py
  examples/mlflow/torchscript/IrisClassification/iris_classification.py
  examples/mlflow/torchscript/MNIST/mnist_torchscript.py
  examples/pydantic_validation/service.py
  examples/pytorch_mnist/locustfile.py
  examples/pytorch_mnist/service.py
  examples/pytorch_mnist/tests/conftest.py
  examples/pytorch_mnist/tests/test_prediction.py
  examples/pytorch_mnist/train.py
  examples/quickstart/service.py
  examples/simple_pickable_model/service.py
  examples/sklearn/linear_regression/service.py
  examples/sklearn/pipeline/service.py
  examples/tensorflow2_keras/service.py
  examples/tensorflow2_keras/tests/conftest.py
  examples/tensorflow2_keras/tests/test_prediction.py
  examples/tensorflow2_keras/train.py
  examples/tensorflow2_native/service.py
  examples/tensorflow2_native/tests/conftest.py
  examples/tensorflow2_native/tests/test_prediction.py
  examples/tensorflow2_native/train.py
  examples/xgboost/agaricus.py
  examples/xgboost/locustfile.py
Due: none

Fix more pep 8
  examples/lda_classifier/lda.py
  examples/mlflow/torchscript/MNIST/mnist_torchscript.py
  examples/pytorch_mnist/service.py
  examples/pytorch_mnist/tests/test_prediction.py
  examples/tensorflow2_keras/service.py
  examples/tensorflow2_keras/tests/conftest.py
  examples/tensorflow2_native/service.py
  examples/tensorflow2_native/tests/conftest.py
Due: none

fix: adding inline runscript to run abitrary scripts
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

fixing starlette middleware argument
  docs/source/guides/security.rst
Due: none

Update README.md
  examples/README.md
Due: none

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
