Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

refactor: gRPC server lifecycle (#2801)
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc/dev_api_server.py
  bentoml/_internal/server/cli/http/api_server.py
  bentoml/_internal/server/cli/http/dev_api_server.py
  bentoml/_internal/server/grpc/__init__.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/utils.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/exceptions.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

refactor: fix entrypoints to address #2801 (#2802)
  bentoml/_internal/server/cli/grpc/__init__.py
  bentoml/_internal/server/cli/grpc/dev_api_server.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/server/cli/http/__init__.py
  bentoml/_internal/server/cli/http/api_server.py
  bentoml/_internal/server/cli/http/dev_api_server.py
Due: e2e-tests, unit-tests

chore: convert namespace from .protos to .grpc (#2779)
  bentoml/grpc/__init__.py
  bentoml/grpc/buf.yaml
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/service_pb2.pyi
  bentoml/grpc/v1/service_pb2_grpc.pyi
  bentoml/grpc/v1/service_test.proto
  bentoml/grpc/v1/service_test_pb2.pyi
  bentoml/grpc/v1/service_test_pb2_grpc.pyi
  bentoml/grpc/v1/struct.proto
  bentoml/grpc/v1/struct_pb2.pyi
  bentoml/grpc/v1/types.proto
  bentoml/grpc/v1/types_pb2.pyi
  bentoml/protos/buf.yaml
  bentoml/protos/payload.proto
  bentoml/protos/payload_pb2.pyi
  bentoml/protos/service.proto
  bentoml/protos/service_pb2.pyi
  bentoml/protos/service_pb2_grpc.pyi
  pyproject.toml
  setup.cfg
  setup.py
Due: e2e-tests, unit-tests

Update json.py
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

support pydantic model as output
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

format
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

update examples
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

chore: renaming for better coherency
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/grpc/v1/__init__.py
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/service_pb2.pyi
  bentoml/grpc/v1/struct.proto
  bentoml/grpc/v1/struct_pb2.pyi
  pyproject.toml
  setup.cfg
  setup.py
Due: e2e-tests, unit-tests

refactor: cleanup files
  .gitignore
  MANIFEST.in
  bentoml/grpc/v1/service_pb2.pyi
  bentoml/grpc/v1/service_pb2_grpc.pyi
  bentoml/grpc/v1/service_test_pb2.pyi
  bentoml/grpc/v1/service_test_pb2_grpc.pyi
  bentoml/grpc/v1/struct_pb2.pyi
  bentoml/grpc/v1/types_pb2.pyi
Due: e2e-tests, unit-tests

chore: fix formats
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

chore: refactor exception to interceptor
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc/utils.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/utils/grpc/__init__.py
Due: e2e-tests, unit-tests

address comments
  bentoml/_internal/io_descriptors/json.py
  docs/source/concepts/service.rst
Due: e2e-tests, unit-tests

address comment
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

target zero breaking change in 1.0.*
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

show warning if user have validate_json=True in the code
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

Update loader.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

bug: fix JSON io_descriptor validate_json option (#2803)
  bentoml/_internal/io_descriptors/json.py
  docs/source/concepts/service.rst
Due: e2e-tests, unit-tests

Update bentoml/_internal/service/loader.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

chore: improve error message when failed importing user service code (#2806)
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

feature(runner): draft multiple outputs support using tuple
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/runner/container.py
Due: keras, e2e-tests, unit-tests

chore: cleanup some impl
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc/__init__.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/server/cli/http/__init__.py
  bentoml/_internal/server/cli/rest_api_server.py
  bentoml/_internal/server/cli/rest_dev_api_server.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/service_test.proto
  bentoml/grpc/v1/struct.proto
  bentoml/grpc/v1/types.proto
  bentoml/testing/server.py
  setup.py
Due: e2e-tests, unit-tests

chore: cleanup
  bentoml/_internal/utils/grpc/codec.py
Due: e2e-tests, unit-tests

grpc: serialization process (#2804)
  .gitignore
  MANIFEST.in
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/grpc/__init__.py
  bentoml/_internal/server/cli/grpc_dev_api_server.py
  bentoml/_internal/server/cli/http/__init__.py
  bentoml/_internal/server/cli/rest_api_server.py
  bentoml/_internal/server/cli/rest_dev_api_server.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc/types.py
  bentoml/_internal/server/grpc/utils.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/grpc/__init__.py
  bentoml/_internal/utils/grpc/codec.py
  bentoml/_internal/utils/grpc/serializer.py
  bentoml/grpc/v1/__init__.py
  bentoml/grpc/v1/service.proto
  bentoml/grpc/v1/service_pb2.pyi
  bentoml/grpc/v1/service_pb2_grpc.pyi
  bentoml/grpc/v1/service_test.proto
  bentoml/grpc/v1/service_test_pb2.pyi
  bentoml/grpc/v1/service_test_pb2_grpc.pyi
  bentoml/grpc/v1/struct.proto
  bentoml/grpc/v1/struct_pb2.pyi
  bentoml/grpc/v1/types.proto
  bentoml/grpc/v1/types_pb2.pyi
  bentoml/testing/server.py
  pyproject.toml
  setup.cfg
  setup.py
Due: e2e-tests, unit-tests

fix: repeated contents field
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/grpc/v1/service.proto
Due: e2e-tests, unit-tests

Update server.rst
  docs/source/guides/server.rst
Due: none

Apply suggestions from code review
  docs/source/guides/server.rst
Due: none

chore: automatic cache action version update and remove stale bot (#2798)
  .github/dependabot.yml
  .github/stale.yml
Due: none

Update docs/source/guides/server.rst
  docs/source/guides/server.rst
Due: none

revert: remove errors and status code from message
  bentoml/grpc/v1/service.proto
  pyproject.toml
  setup.cfg
  setup.py
Due: e2e-tests, unit-tests

fix(datacontainer): pytorch to_payload should disable gradient
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

fix(framework): fix keras single input edge case
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

better style
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

fix(datacontainer): pytorch to_payload should disable gradient (#2821)
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

fix(framework): fix keras single input edge case (#2822)
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests
