Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

Update README.md
  README.md
Due: none

chore: update README messaging (#2937)
  README.md
Due: none

fix: use a temporary file for file uploads (#2929)
  bentoml/_internal/utils/formparser.py
Due: e2e-tests, unit-tests

renaming
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/start.py
  bentoml_cli/start.py
Due: e2e-tests, unit-tests

fix testing suites
  bentoml/testing/server.py
Due: none

patch
  bentoml/testing/server.py
Due: none

Update runner.rst
  docs/source/concepts/runner.rst
Due: none

feat(cli): add CLI command to serve a runner (#2920)
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/serve.py
  bentoml/start.py
  bentoml/testing/server.py
  bentoml_cli/cli.py
  bentoml_cli/serve.py
  bentoml_cli/start.py
  bentoml_cli/worker/README.md
  bentoml_cli/worker/__init__.py
  bentoml_cli/worker/http_api_server.py
  bentoml_cli/worker/http_dev_api_server.py
  bentoml_cli/worker/runner.py
  requirements/docs-requirements.txt
  requirements/tests-requirements.txt
  scripts/ci/run_tests.sh
  setup.cfg
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: e2e-tests, unit-tests

docs: Runner configuration for batching and resource allocation (#2941)
  docs/source/concepts/runner.rst
Due: none

Update image.py
  bentoml/_internal/io_descriptors/image.py
Due: e2e-tests, unit-tests

bug: handle bad image file (#2942)
  bentoml/_internal/io_descriptors/image.py
Due: e2e-tests, unit-tests

fix: CLI helper message default values
  bentoml_cli/serve.py
  bentoml_cli/start.py
Due: none

chore(docs): earlier check for buildx (#2940)
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
  bentoml_cli/containerize.py
Due: e2e-tests, unit-tests

feat(sdk): add external_modules option to save_model
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/fastai.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  bentoml/models.py
  tests/e2e/bento_server_general_features/bentofile.yaml
  tests/e2e/bento_server_general_features/train.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
Due: catboost, fastai, keras, lightgbm, mlflow, onnx, pytorch, pytorch_lightning, sklearn, transformers, xgboost, e2e-tests, unit-tests

fix annotations
  tests/integration/frameworks/test_sklearn_impl.py
Due: none

fix(cli): helper message default values (#2943)
  bentoml_cli/serve.py
  bentoml_cli/start.py
Due: none

feat(sdk): add external_modules option to save_model (#2895)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/fastai.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  bentoml/models.py
  tests/e2e/bento_server_general_features/bentofile.yaml
  tests/e2e/bento_server_general_features/train.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
Due: catboost, fastai, keras, lightgbm, mlflow, onnx, pytorch, pytorch_lightning, sklearn, transformers, xgboost, e2e-tests, unit-tests

fix: component name regression
  bentoml_cli/worker/runner.py
Due: none

Update component name setting in api_server
  bentoml_cli/worker/http_api_server.py
  bentoml_cli/worker/http_dev_api_server.py
Due: none

qa: cleanup MLflow
  bentoml/_internal/frameworks/mlflow.py
Due: mlflow, e2e-tests, unit-tests

fix(cli): component name regression (#2944)
  bentoml_cli/worker/http_api_server.py
  bentoml_cli/worker/http_dev_api_server.py
  bentoml_cli/worker/runner.py
Due: none

Update batching docs
  docs/source/_static/img/batching-architecture.png
  docs/source/guides/batching.rst
Due: none

Add more details about adaptive batching
  docs/source/_static/img/adaptive-batching-histogram.png
  docs/source/guides/batching.rst
Due: none

docs: adaptive batching docs (#2946)
  docs/source/_static/img/adaptive-batching-histogram.png
  docs/source/_static/img/batching-architecture.png
  docs/source/guides/batching.rst
Due: none

fix: fix context parameter for multi-input IO descriptors
  bentoml/_internal/service/inference_api.py
Due: e2e-tests, unit-tests

ci: temp fix for models test
  tests/unit/test_models.py
Due: none

use `torch.from_numpy()` instead of `torch.Tensor()` to keep data type
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

fix(entrypoint): backward compatibility with yatai<1.0.0
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml_cli/start.py
Due: e2e-tests, unit-tests

fix: log runner errors explicitly
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

Update runner_app.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fixup
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml_cli/start.py
Due: e2e-tests, unit-tests

fix(entrypoint): backward compatibility with yatai<1.0.0 (#2953)
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml_cli/start.py
Due: e2e-tests, unit-tests

fix: log runner errors explicitly (#2952)
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

docs: update docstring
  bentoml_cli/containerize.py
Due: none

fix(logs): wrong formatted message
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix: backticks to quotes
  bentoml_cli/containerize.py
Due: none

ci: temp fix for models test (#2949)
  tests/unit/test_models.py
Due: none

fix: fix context parameter for multi-input IO descriptors (#2948)
  bentoml/_internal/service/inference_api.py
Due: e2e-tests, unit-tests
