Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

Update tensorflow_v2.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

Make `model.with_options` additive.
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
  tests/integration/frameworks/test_transformers_impl.py
Due: keras, transformers, e2e-tests, unit-tests

Fix format
  tests/unit/_internal/models/test_model.py
Due: none

Format fix.
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Fix unit test
  tests/unit/_internal/models/test_model.py
Due: none

feat(cli): output times in the local timezone (#2572)
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

fix(build): use subprocess to call pip-compile
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix(store): use >= for time checking
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

fix(store): use >= for time checking (#2574)
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

fix(build): use subprocess to call pip-compile (#2573)
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix wrong variable name
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

docs: fix wrong variable name in comment (#2575)
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore(runner): add shcedule shortcuts to runners
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/runner_app.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: e2e-tests, unit-tests

feat: improve logging (#2568)
  bentoml/__init__.py
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/log.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/service/loader.py
  bentoml/bentos.py
  bentoml/testing/server.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

chore: update with latest rc
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/gen.py
  tests/conftest.py
  tests/unit/_internal/bento/test_build_config.py
  tests/unit/_internal/bento/test_docker_gen.py
  tests/unit/_internal/bento/testdata/configuration/Dockerfile.template
  tests/unit/_internal/bento/testdata/dockeroptions_raisewarning5.yaml
Due: e2e-tests, unit-tests

chore: updates accordingly
  MANIFEST.in
Due: none

chore: updates
  MANIFEST.in
Due: none

chore: updates
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

fix: pip args failed to register
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

feat: fastai
  bentoml/__init__.py
  bentoml/_internal/frameworks/fastai.py
  bentoml/fastai.py
Due: fastai, e2e-tests, unit-tests

feat: tests ci
  .github/workflows/generated_fastai.yml
  .github/workflows/generated_noop_fastai.yml
  Makefile
  bentoml/_internal/frameworks/fastai.py
  docs/build.sh
  docs/source/conf.py
  docs/source/reference/frameworks/fastai.rst
Due: fastai, e2e-tests, unit-tests

revert: build.sh
  docs/build.sh
Due: none

Apply suggestions from code review
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

revert: changes
  .github/workflows/_fastai.yml
  bentoml/__init__.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

chore: using autotypehint
  .github/workflows/_fastai.yml
  .github/workflows/generated_fastai.yml
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/fastai.py
  codecov.yml
  docs/source/conf.py
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/index.rst
  docs/source/reference/frameworks/fastai.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/index.rst
  requirements/docs-requirements.txt
Due: fastai, e2e-tests, unit-tests

feat: tests ci
  .github/workflows/generated_fastai.yml
  .github/workflows/generated_noop_fastai.yml
Due: none

chore: remove backwards warning
  bentoml/fastai.py
Due: e2e-tests, unit-tests

chore: modify names
  .github/workflows/generated_fastai.yml
  .github/workflows/generated_noop_fastai.yml
Due: none

chore: remove wrong files
  .github/workflows/generated_noop_fastai.yml
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

chore: updates address from PR
  docs/source/reference/frameworks/fastai.rst
Due: none

chore: wip
  .github/workflows/generated_fastai.yml
  codecov.yml
  tests/integration/frameworks/models/fastai.py
Due: none

Added register_structure_hook_func in from_yaml_file() in model.py
  bentoml/_internal/models/model.py
  bentoml/keras.py
  bentoml/tensorflow.py
  bentoml/transformers.py
  tests/conftest.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: e2e-tests, unit-tests

fix(service): JsonIO doesn't return a pydantic model
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

fix(service): JsonIO doesn't return a pydantic model (#2578)
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

Add TensorflowOptions
  bentoml/_internal/frameworks/tensorflow_v2.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/models/model.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Use alias instead of module variable
  bentoml/keras.py
  bentoml/tensorflow.py
  bentoml/transformers.py
Due: e2e-tests, unit-tests

fix format
  bentoml/keras.py
  bentoml/tensorflow.py
  bentoml/transformers.py
Due: e2e-tests, unit-tests

fixes
  bentoml/_internal/bento/build_config.py
  docs/source/concepts/bento.rst
  docs/source/installation.rst
Due: e2e-tests, unit-tests

Update bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests
