Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

fix unit tests
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
  bentoml/_internal/yatai_client/__init__.py
  bentoml/models.py
  setup.cfg
  tests/conftest.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: e2e-tests, unit-tests

docs(model): update ModelSignature documentation
  bentoml/_internal/models/model.py
  setup.cfg
Due: e2e-tests, unit-tests

tests: fix runner1.0 branch unit tests (#2462)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
  bentoml/_internal/yatai_client/__init__.py
  bentoml/models.py
  setup.cfg
  tests/conftest.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: e2e-tests, unit-tests

chore(types): add ModelSignature
  bentoml/_internal/models/model.py
  bentoml/models.py
  bentoml/types.py
Due: e2e-tests, unit-tests

fix(sklearn): update sklearn for template changes
  bentoml/_internal/frameworks/sklearn.py
Due: sklearn, e2e-tests, unit-tests

feat(frameworks): update framework template
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/xgboost.py
Due: xgboost, e2e-tests, unit-tests

feat(xgboost): 1.0 XGBoost implementation
  bentoml/_internal/frameworks/xgboost.py
  bentoml/xgboost.py
Due: xgboost, e2e-tests, unit-tests

Update bentoml/_internal/models/model.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

docs(model): update ModelSignature documentation (#2463)
  bentoml/_internal/models/model.py
  setup.cfg
Due: e2e-tests, unit-tests

Update bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/frameworks/xgboost.py
Due: xgboost, e2e-tests, unit-tests

feat(xgboost): 1.0 XGBoost implementation (#2459)
  bentoml/_internal/frameworks/xgboost.py
  bentoml/xgboost.py
Due: xgboost, e2e-tests, unit-tests

feat(frameworks): update framework template (#2461)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  bentoml/models.py
  bentoml/types.py
Due: sklearn, xgboost, e2e-tests, unit-tests

fix(framework): fix Runnable closing over loop variable bug
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/sklearn.py
Due: sklearn, e2e-tests, unit-tests

fix(framework): fix Runnable closing over loop variable bug (#2466)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/sklearn.py
Due: sklearn, e2e-tests, unit-tests

bugs: fixing loops issues
  bentoml/_internal/frameworks/xgboost.py
Due: xgboost, e2e-tests, unit-tests

chore: fix types
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/exportable.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/models.py
Due: e2e-tests, unit-tests

chore: fix types (#2468)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/exportable.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/models.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Update README.md
  README.md
Due: none

Update README.md
  CONTRIBUTING.md
  README.md
  docs/source/_static/css/bentoml.css
  docs/source/advanced/adaptive_batching.rst
  docs/source/advanced/batch_inference.rst
  docs/source/advanced/benchmark.rst
  docs/source/advanced/building_bentos.rst
  docs/source/advanced/ci.rst
  docs/source/advanced/configuration.rst
  docs/source/advanced/custom_endpoints.rst
  docs/source/advanced/custom_framework.rst
  docs/source/advanced/gpu.rst
  docs/source/advanced/index.rst
  docs/source/advanced/logging.rst
  docs/source/advanced/multi_models.rst
  docs/source/advanced/runner.rst
  docs/source/advanced/server.rst
  docs/source/advanced/tracing.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/tutorial.rst
Due: none

advanced -> guides
  docs/source/advanced/index.rst
  docs/source/concepts/index.rst
  docs/source/frameworks/index.rst
  docs/source/guides/adaptive_batching.rst
  docs/source/guides/batch_inference.rst
  docs/source/guides/benchmark.rst
  docs/source/guides/building_bentos.rst
  docs/source/guides/ci.rst
  docs/source/guides/configuration.rst
  docs/source/guides/custom_endpoints.rst
  docs/source/guides/custom_framework.rst
  docs/source/guides/gpu.rst
  docs/source/guides/index.rst
  docs/source/guides/logging.rst
  docs/source/guides/multi_models.rst
  docs/source/guides/runner.rst
  docs/source/guides/server.rst
  docs/source/guides/tracing.rst
  docs/source/index.rst
Due: none

docs index page
  README.md
  docs/source/advanced/index.rst
  docs/source/deployment/index.rst
  docs/source/index.rst
Due: none

faq, installation, and tutorial(WIP)
  docs/source/faq.md
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/tutorial.rst
Due: none

add why bentoml section
  docs/source/index.rst
  docs/source/tutorial.rst
Due: none

updates
  docs/source/conf.py
  docs/source/faq.md
  docs/source/index.rst
  docs/source/reference/api_io_descriptors.rst
  docs/source/reference/cli.rst
  docs/source/reference/core.rst
  docs/source/reference/index.rst
  docs/source/reference/stores.rst
Due: none

chore: make ModelInfo yaml backwards compatible (#2470)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix(runner): make runner batching work
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

:sparkles: Introduce pre and post run hooks
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix(runner): fix bugs in runner batching(#2469)
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

update framework guide titles and index
  docs/source/conf.py
  docs/source/deployment/index.rst
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/detectron.rst
  docs/source/frameworks/easyocr.rst
  docs/source/frameworks/gluon.rst
  docs/source/frameworks/h2o.rst
  docs/source/frameworks/index.rst
  docs/source/frameworks/keras.rst
  docs/source/frameworks/lightgbm.rst
  docs/source/frameworks/mlflow.rst
  docs/source/frameworks/onnx.rst
  docs/source/frameworks/onnxmlir.rst
  docs/source/frameworks/paddle.rst
  docs/source/frameworks/picklable.rst
  docs/source/frameworks/pycaret.rst
  docs/source/frameworks/pytorch.rst
  docs/source/frameworks/pytorch_lightning.rst
  docs/source/frameworks/sklearn.rst
  docs/source/frameworks/spacy.rst
  docs/source/frameworks/statsmodels.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/frameworks/tensorflow_v1.rst
  docs/source/frameworks/transformers.rst
  docs/source/frameworks/xgboost.rst
Due: none

update framework roadmap
  docs/source/frameworks/index.rst
Due: none

remove deployment section
  docs/source/deployment/index.rst
  docs/source/index.rst
  docs/source/integrations/index.rst
Due: none
