Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

Made changes based on PR suggestions
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Updates based on PR comments.
  protos/io_descriptors.proto
  protos/service.proto
Due: none

chore: adhere to grpc format
  protos/io_descriptors.proto
  protos/service.proto
Due: none

feat: added generic proto file for grpc service (#2742)
  protos/io_descriptors.proto
  protos/service.proto
Due: none

chore: rename protobuf message for Array repr (#2745)
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

fix: transformers load_model extra args
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

chore: adhere to gRPC standard
  .github/workflows/ci.yml
  .gitignore
  Makefile
  bentoml/protos/__init__.py
  bentoml/protos/buf.yaml
  bentoml/protos/generate.py
  bentoml/protos/service/v1alpha1/io_descriptors.proto
  bentoml/protos/service/v1alpha1/service.proto
  protos/io_descriptors.proto
  protos/service.proto
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/style/proto_check.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
  setup.cfg
Due: e2e-tests, unit-tests

chore: fixing types and naming
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/protos/service/v1alpha1/io_descriptors.proto
  protos/buf.yaml
  protos/generate.py
  protos/payload.proto
  protos/service.proto
  pyproject.toml
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
Due: e2e-tests, unit-tests

chore: remove comments
  scripts/ci/style/proto_check.sh
  scripts/tools/linter.sh
Due: none

chore: Update bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

feat: add generic protobuf (#2634)
  protos/io_descriptors.proto
Due: none

style: gRPC (#2746)
  .github/workflows/ci.yml
  .gitignore
  Makefile
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/protos/__init__.py
  protos/buf.yaml
  protos/generate.py
  protos/io_descriptors.proto
  protos/payload.proto
  protos/service.proto
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/style/proto_check.sh
  scripts/tools/formatter.sh
  scripts/tools/linter.sh
  setup.cfg
Due: e2e-tests, unit-tests

fix(framework): fix how pytorch DataContainer convert GPU tensor (#2739)
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

chore: update `handle_tuple` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: added `WhichArray` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: update `proto_to_arr` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: updated `is_supported` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: update `create_tuple_proto` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: update `arr_to_proto` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: fix formatting
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: update protobuf conversion functions (#2749)
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

doc: ddd missing variable
  docs/source/tutorial.rst
Due: none

doc: add missing variable (#2752)
  docs/source/tutorial.rst
Due: none

chore: lock imageio<=2.9.0 to address #2416
  bentoml/adapters/annotated_image_input.py
  bentoml/adapters/image_input.py
  bentoml/adapters/multi_image_input.py
  setup.py
Due: e2e-tests, unit-tests

chore: updates pypi
  README.md
Due: none

Update Transformers to use framework tests
  bentoml/_internal/frameworks/transformers.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/transformers.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/integration/frameworks/test_transformers_unit.py
Due: transformers, e2e-tests, unit-tests

Update transformers.py
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

feat: adding grpcio-tools to installation process
  protos/generate.py
  pyproject.toml
  setup.cfg
  setup.py
Due: none

chore: update DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

chore: enable debug for pip
  .github/workflows/ci.yml
Due: none

fix: setup.py generation
  setup.py
Due: none

chore: revert changes from upstream/main
  .github/workflows/ci.yml
Due: none

feat: grpc generated stubs (#2756)
  DEVELOPMENT.md
  protos/generate.py
  pyproject.toml
  setup.cfg
  setup.py
Due: none
