Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore(ci): run e2e tests in docker
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/bentos.py
  bentoml/testing/server.py
  tests/e2e/bento_server_general_features/bentofile.yaml
  tests/e2e/bento_server_general_features/bentoml
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/requirements.txt
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/train.py
  tests/e2e/bento_server_general_features_sync/bentofile.yaml
  tests/e2e/bento_server_general_features_sync/bentoml
  tests/e2e/bento_server_general_features_sync/pickle_model.py
  tests/e2e/bento_server_general_features_sync/requirements.txt
  tests/e2e/bento_server_general_features_sync/service.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/train.py
Due: sklearn, e2e-tests, unit-tests

only run e2e in docker on linux
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

fix
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

chore(ci): run e2e tests in docker (#2349)
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/bentos.py
  bentoml/testing/server.py
  tests/e2e/bento_server_general_features/bentofile.yaml
  tests/e2e/bento_server_general_features/bentoml
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/requirements.txt
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/train.py
  tests/e2e/bento_server_general_features_sync/bentofile.yaml
  tests/e2e/bento_server_general_features_sync/bentoml
  tests/e2e/bento_server_general_features_sync/pickle_model.py
  tests/e2e/bento_server_general_features_sync/requirements.txt
  tests/e2e/bento_server_general_features_sync/service.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/train.py
Due: sklearn, e2e-tests, unit-tests

style: minor typing fixes
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

style: minor typing fixes (#2350)
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

style: minor fix
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/torchscript.py
Due: detectron, pytorch, e2e-tests, unit-tests

test(frameworks): add more test for frameworks' save
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_easyocr_impl.py
  tests/integration/frameworks/test_gluon_impl.py
  tests/integration/frameworks/test_h2o_impl.py
  tests/integration/frameworks/test_lightgbm_impl.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_onnxmlir_impl.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_pycaret_impl.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: none

fix(framework): fix tensorflow_v2 save
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

refactor(framework): add labels and custom_objects to save
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

style: better formatting
  tests/integration/frameworks/test_picklable_model_impl.py
Due: none

fix: better error message in python < 3.9
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

chore: add local-xx built for faster caching
  DEVELOPMENT.md
  docker/.gitignore
  docker/.gitmodules
  docker/Makefile
  docker/docker-bake.hcl
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/base/Dockerfile
  docker/generated/bento-server/alpine3.14/devel/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/debian10/base/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian11/base/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/hack/buildx_cleanup
  docker/hack/dev.Dockerfile
  docker/hack/platform.Dockerfile
  docker/manager/_click_utils.py
  docker/manager/_utils.py
  docker/manager/authenticate.py
  docker/manager/build.py
  docker/manager/generate.py
  docker/poetry.lock
  docker/pyproject.toml
  docker/templates/alpine/base-dockerfile.j2
  docker/templates/alpine/devel-dockerfile.j2
  docker/templates/alpine/runtime-dockerfile.j2
  docker/templates/debian/base-dockerfile.j2
  docker/templates/debian/cudnn-dockerfile.j2
  docker/templates/debian/devel-dockerfile.j2
  docker/templates/debian/runtime-dockerfile.j2
  docker/templates/docs/README.md.j2
Due: none

chore: fix login issue
  docker/.gitignore
  docker/manager/build.py
  docker/manager/containerscript/reg_dockerhub.py
  docker/manager/containerscript/reg_ecr.py
Due: none

chore: remove validation
  docker/hack/buildx_cleanup
  docker/manager/__init__.py
  docker/manager/_types.py
  docker/manager/build.py
  docker/manager/containerscript/reg_dockerhub.py
  docker/manager/validate.py
  docker/poetry.lock
  docker/pyproject.toml
Due: none

chore: bake recipe
  docker/docker-bake.hcl
  docker/hack/dev.Dockerfile
  docker/manager/_click_utils.py
  docker/manager/authenticate.py
Due: none

chore: update templates
  docker/generated/bento-server/alpine3.14/base/Dockerfile
  docker/generated/bento-server/alpine3.14/devel/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/base/Dockerfile
  docker/generated/bento-server/amazonlinux2/devel/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/debian10/base/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian11/base/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/generated/bento-server/ubi7/base/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/devel/Dockerfile
  docker/generated/bento-server/ubi8/base/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/manager/build.py
  docker/manager/containerscript/reg_dockerhub.py
  docker/templates/alpine/base-dockerfile.j2
  docker/templates/alpine/devel-dockerfile.j2
  docker/templates/alpine/runtime-dockerfile.j2
  docker/templates/ami2/base-dockerfile.j2
  docker/templates/ami2/devel-dockerfile.j2
  docker/templates/ami2/runtime-dockerfile.j2
  docker/templates/debian/base-dockerfile.j2
  docker/templates/debian/cudnn-dockerfile.j2
  docker/templates/debian/devel-dockerfile.j2
  docker/templates/debian/runtime-dockerfile.j2
  docker/templates/rhel/base-dockerfile.j2
  docker/templates/rhel/cudnn-dockerfile.j2
  docker/templates/rhel/devel-dockerfile.j2
Due: none

revert: remove generated changes
  docker/generated/README.md
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/centos7/Dockerfile
  docker/generated/bento-server/centos7/cudnn/Dockerfile
  docker/generated/bento-server/centos7/cudnn/cuda.repo
  docker/generated/bento-server/centos7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/centos7/devel/Dockerfile
  docker/generated/bento-server/centos7/runtime/Dockerfile
  docker/generated/bento-server/centos8/Dockerfile
  docker/generated/bento-server/centos8/cudnn/Dockerfile
  docker/generated/bento-server/centos8/cudnn/cuda.repo
  docker/generated/bento-server/centos8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/centos8/devel/Dockerfile
  docker/generated/bento-server/centos8/runtime/Dockerfile
  docker/generated/bento-server/debian10/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/cuda.repo
  docker/generated/bento-server/ubi7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/cuda.repo
  docker/generated/bento-server/ubi8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
Due: none

fix: alpine building
  docker/Makefile
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/base/Dockerfile
  docker/generated/bento-server/alpine3.14/devel/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/hack/dev.Dockerfile
  docker/manager/build.py
  docker/manifest/bento-server.cuda_v11.5.1.yaml
  docker/templates/alpine/base-dockerfile.j2
Due: none

chore: server tracking as context manager
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

chore: cleanup
  docker/Makefile
  docker/docker-bake.hcl
  docker/generated/bento-server/alpine3.14/base/Dockerfile
  docker/generated/bento-server/amazonlinux2/base/Dockerfile
  docker/generated/bento-server/debian10/base/Dockerfile
  docker/generated/bento-server/debian11/base/Dockerfile
  docker/generated/bento-server/ubi7/base/Dockerfile
  docker/generated/bento-server/ubi8/base/Dockerfile
  docker/hack/DESIGN.md
  docker/hack/dev.Dockerfile
  docker/manager/_click_utils.py
  docker/manager/_utils.py
  docker/manager/build.py
  docker/manager/generate.py
  docker/pyproject.toml
  docker/templates/alpine/base-dockerfile.j2
  docker/templates/ami2/base-dockerfile.j2
  docker/templates/debian/base-dockerfile.j2
  docker/templates/rhel/base-dockerfile.j2
Due: none

chore: address PR comments
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

chore: remove tags tracking
  bentoml/_internal/bento/bento.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

chore: wip
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/tracking_utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/README.md
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

chore: ignore j2 templates from PR
  .gitattributes
Due: none

chore: add mapping for custom payload
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/tracking_utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/get_event_tracking.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

feat: managing CLI resources
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

fix: failed CI test
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/get_event_tracking.py
  bentoml/_internal/utils/analytics/usage_stats.py
  hooks/pre-commit
  setup.cfg
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

Apply suggestions from code review
  bentoml/_internal/bento/bento.py
  bentoml/_internal/server/__init__.py
  setup.cfg
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

Apply suggestions from code review
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
Due: e2e-tests, unit-tests

refactor client id
  bentoml/_internal/bento/bento.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

do_not_track scheduled_track
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

updates
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/models/model.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/analytics/get_event_tracking.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

updates
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

Update yatai.py
  bentoml/_internal/cli/yatai.py
Due: e2e-tests, unit-tests

add change_global_cwd params to bentoml.load
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

refactor(framework): tensorflow v1 runner cache session
  bentoml/_internal/frameworks/tensorflow_v1.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
