Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

Update bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

add favicon
  docs/source/_static/img/favicon-32x32.ico
  docs/source/_static/img/favicon-96x96.ico
  docs/source/conf.py
Due: none

chore: add warnings
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: fmt
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

feat(internal): add save_format_version for BentoML model
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  tests/conftest.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: keras, sklearn, transformers, xgboost, e2e-tests, unit-tests

update tests
  tests/integration/frameworks/test_frameworks.py
Due: none

rename save_format_version to model_format_version
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  tests/conftest.py
  tests/integration/frameworks/test_frameworks.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: keras, sklearn, transformers, xgboost, e2e-tests, unit-tests

feat(internal): add save_format_version for BentoML model (#2502)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  tests/conftest.py
  tests/integration/frameworks/test_frameworks.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: keras, sklearn, transformers, xgboost, e2e-tests, unit-tests

Make `model.with_options()` additive instead of overriding.
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
  tests/integration/frameworks/test_transformers_impl.py
Due: keras, transformers, e2e-tests, unit-tests

Remove parse_options helper.
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

Revert "feat(internal): add save_format_version for BentoML model (#2502)"
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  tests/conftest.py
  tests/integration/frameworks/test_frameworks.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: keras, sklearn, transformers, xgboost, e2e-tests, unit-tests

Revert "feat(internal): add save_format_version for BentoML model (#2502)" (#2504)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  tests/conftest.py
  tests/integration/frameworks/test_frameworks.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: keras, sklearn, transformers, xgboost, e2e-tests, unit-tests

fix pytorch_lightning
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

opt & simplify the implementations
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/models/__init__.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

fix torch tensor container
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

pytorch_lightning
  bentoml/_internal/frameworks/pytorch_lightning.py
Due: pytorch_lightning, e2e-tests, unit-tests

feat(framework): pytorch
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
Due: pytorch, sklearn, e2e-tests, unit-tests

minor cleaning
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
Due: pytorch, sklearn, e2e-tests, unit-tests

fix: model info
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

clean docs
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

fix
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

try fix
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix: minor fixes
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/torchscript.py
Due: pytorch, pytorch_lightning, sklearn, e2e-tests, unit-tests

remove FrozenModelInfo
  bentoml/_internal/models/model.py
  bentoml/models.py
Due: e2e-tests, unit-tests

clean codes
  bentoml/_internal/models/model.py
  bentoml/models.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

updates
  README.md
  bentoml/_internal/runner/runner.py
  docs/source/_static/css/custom.css
  docs/source/concepts/bento.rst
  docs/source/concepts/deploy.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/guides/gpu.rst
Due: e2e-tests, unit-tests

formatting code
  bentoml/__init__.py
  bentoml/bentos.py
  docs/source/conf.py
Due: e2e-tests, unit-tests

fix(framework): adapt changes for Tensorflow DataContainer
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
Due: keras, transformers, e2e-tests, unit-tests

fix(framework): tensorflow thread number bug
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

fix: reload_delay and circus parsing options as string
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/log.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/trace.py
  bentoml/_internal/utils/circus.py
  bentoml/_internal/utils/click.py
Due: e2e-tests, unit-tests

fix: logger
  bentoml/_internal/utils/circus.py
Due: e2e-tests, unit-tests

chore: fmt
  bentoml/_internal/server/cli/api_server.py
Due: e2e-tests, unit-tests
