Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

fixed a sentence fragment
  docs/source/quickstart.rst
Due: none

updated runner name to pickable_model
  .github/workflows/frameworks.yml
  bentoml/__init__.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/picklable_model.py
  bentoml/pickle.py
  scripts/ci/config.yml
  tests/integration/frameworks/test_picklable_model_impl.py
Due: e2e-tests, unit-tests

Update docs/source/quickstart.rst
  docs/source/quickstart.rst
Due: none

updated slack cta. happy to be helping more people :)
  README.md
  docker/README.md
Due: none

removed clarification, will add more detail to describing bentofile.yaml instead
  docs/source/quickstart.rst
Due: none

removed unused dependencies
  bentoml/_internal/frameworks/picklable_model.py
Due: e2e-tests, unit-tests

Update README.md
  README.md
Due: none

Update README.md
  docker/README.md
Due: none

fix: ci and better typing
  bentoml/_internal/external_typing/tensorflow.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
  pyproject.toml
  scripts/ci/config.yml
  setup.cfg
Due: e2e-tests, unit-tests

chore: init global variable for tf1 session
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

chore: enable sessions for saving to make sure model is initialized with global session
  bentoml/_internal/external_typing/tensorflow.py
  bentoml/_internal/frameworks/tensorflow_v1.py
Due: e2e-tests, unit-tests

fix: hub v2 is not compatible with tensorflow v1
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  scripts/ci/config.yml
  tests/integration/frameworks/test_tensorflow_impl.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
Due: e2e-tests, unit-tests

fix: load hooked model and correct module name
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
Due: e2e-tests, unit-tests

chore: fix CI
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

cleaned up intro and clarifications with regard to how the bento is generated and the libraries are pulled together
  docs/source/quickstart.rst
Due: none

update docker publick profile
  docker/templates/docs/README.md.j2
Due: none

fixed spelling
  docker/templates/docs/README.md.j2
Due: none

added correctly typed return
  bentoml/_internal/frameworks/picklable_model.py
Due: e2e-tests, unit-tests

didn't mean to commit that
  bentoml/_internal/frameworks/picklable_model.py
Due: e2e-tests, unit-tests

docs: update getting started guide (#2260)
  README.md
  docker/README.md
  docker/templates/docs/README.md.j2
  docs/source/index.rst
  docs/source/quickstart.rst
Due: none

fix: escape cmd for windows
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

enable windows e2e tests
  .github/workflows/ci.yml
Due: none

feat: serving without AF_UNIX
  bentoml/_internal/runner/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/uri.py
  tests/unit/_internal/utils/test_uri.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

cmd util
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

abandon circus sockets
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

abandon circus process manager
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/uri.py
Due: e2e-tests, unit-tests

use fd
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/utils/flask_ngrok.py
Due: e2e-tests, unit-tests

refactor: tf1 explicit imports
  bentoml/__init__.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/tensorflow.py
  bentoml/tensorflow_v1.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
Due: tensorflow, e2e-tests, unit-tests

fix for win
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: fix ci
  bentoml/_internal/frameworks/tensorflow_v1.py
  codecov.yml
  tests/integration/frameworks/test_tensorflow_v1_impl.py
Due: e2e-tests, unit-tests

fix: tensorflow v1
  tests/integration/frameworks/test_tensorflow_v1_impl.py
Due: none

chore: fix pep8
  bentoml/_internal/frameworks/tensorflow_v1.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
Due: e2e-tests, unit-tests

fix typo in readme
  README.md
Due: none

fix: typo in readme (#2266)
  README.md
Due: none

fit for windows
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/entrypoint/__init__.py
  bentoml/_internal/server/entrypoint/api_server.py
  bentoml/_internal/server/entrypoint/common.py
  bentoml/_internal/server/entrypoint/dev_api_server.py
  bentoml/_internal/server/entrypoint/ngrok.py
  bentoml/_internal/server/entrypoint/runner.py
Due: e2e-tests, unit-tests

f
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
