Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: Update setup.cfg
  setup.cfg
Due: none

revert: changes from upstream/main for bentoml/_internal/types.py
  bentoml/_internal/types.py
Due: none

fix: using packaging.version.Version instead
  bentoml/_internal/utils/cattr.py
  bentoml/_internal/utils/pkg.py
  setup.cfg
Due: e2e-tests, unit-tests

chore: update readme according to latest logs change (#2679)
  README.md
Due: none

fix: address discussion implementation
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/cattr.py
  setup.cfg
Due: e2e-tests, unit-tests

fix: remove types for annotations import
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

docs: rewrote advanced guides for containerization (#2636)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/io_descriptors/multipart.py
  docs/source/concepts/bento.rst
  docs/source/guides/containerization.rst
  docs/source/guides/dockerfile_generation.rst
  docs/source/guides/index.rst
  hooks/pre-commit
Due: e2e-tests, unit-tests

Add 1.0 migration guide document
  docs/source/guides/index.rst
  docs/source/guides/migration.rst
Due: none

Add installation step
  docs/source/guides/migration.rst
Due: none

Update migration.rst
  docs/source/guides/migration.rst
Due: none

Fix styles.
  docs/source/guides/migration.rst
Due: none

fix(doc): deprecated APIs & the IO list
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/server/runner_app.py
  docs/source/concepts/service.rst
  docs/source/frameworks/lightgbm.rst
  docs/source/frameworks/picklable.rst
  docs/source/frameworks/pytorch.rst
  docs/source/frameworks/pytorch_lightning.rst
  docs/source/frameworks/sklearn.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/frameworks/transformers.rst
  tests/unit/_internal/bento/simplebento/simplebento.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/io_descriptors/text.py
Due: e2e-tests, unit-tests

docs: 1.0 migration guide (#2700)
  docs/source/guides/index.rst
  docs/source/guides/migration.rst
Due: none

fix(doc): deprecated APIs & the IO list (#2701)
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/server/runner_app.py
  docs/source/concepts/service.rst
  docs/source/frameworks/lightgbm.rst
  docs/source/frameworks/picklable.rst
  docs/source/frameworks/pytorch.rst
  docs/source/frameworks/pytorch_lightning.rst
  docs/source/frameworks/sklearn.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/frameworks/transformers.rst
  tests/unit/_internal/bento/simplebento/simplebento.py
Due: e2e-tests, unit-tests

mlflow support prototype
  bentoml/__init__.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/utils/__init__.py
  bentoml/mlflow.py
  docs/source/index.rst
  docs/source/integrations/index.rst
  docs/source/integrations/mlflow.rst
Due: mlflow, e2e-tests, unit-tests

refactor: move from Converter to GenConverter (#2688)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/tag.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
  bentoml/_internal/utils/pkg.py
  setup.cfg
Due: e2e-tests, unit-tests

refactor: pypi check logic
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

feat: add watchfiles
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus.py
  setup.cfg
  tests/conftest.py
Due: e2e-tests, unit-tests

feat: circus plugins
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/supervisors/__init__.py
  bentoml/_internal/server/supervisors/baseplugin.py
  bentoml/_internal/server/supervisors/statsplugin.py
  bentoml/_internal/server/supervisors/watchfilesplugin.py
  bentoml/_internal/utils/circus.py
  docs/build.sh
  setup.cfg
  tests/conftest.py
  tests/unit/_internal/server/supervisors/test_watchfilesplugin.py
Due: e2e-tests, unit-tests

fix: adapt watchfiles plugin to new changes
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/server/supervisors/baseplugin.py
  bentoml/_internal/server/supervisors/statsplugin.py
  bentoml/_internal/server/supervisors/watchfilesplugin.py
Due: e2e-tests, unit-tests

refactor: move to _internal/utils/circus
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/supervisors/__init__.py
  bentoml/_internal/utils/circus/__init__.py
  bentoml/_internal/utils/circus/baseplugin.py
  bentoml/_internal/utils/circus/statsplugin.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
Due: e2e-tests, unit-tests

fix: typing for 3.7
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

test: add tests for statsplugin and watchfilesplugin
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/baseplugin.py
  bentoml/_internal/utils/circus/statsplugin.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  tests/unit/_internal/utils/circus/test_statsplugin.py
  tests/unit/_internal/utils/circus/test_watchfilesplugin.py
Due: e2e-tests, unit-tests

chore: update typing and fix tests
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

test: add tests and --reload-backend options for --reload
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/baseplugin.py
  tests/unit/_internal/utils/circus/test_statsplugin.py
Due: e2e-tests, unit-tests

fix: typing for tuple chore: add watchfiles to test deps
  bentoml/_internal/bento/build_config.py
  requirements/tests-requirements.txt
Due: e2e-tests, unit-tests

chore: updates comments
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  requirements/tests-requirements.txt
Due: e2e-tests, unit-tests

refactor: removing statsplugins and requires watchfiles for --reload
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/__init__.py
  bentoml/_internal/utils/circus/baseplugin.py
  bentoml/_internal/utils/circus/statsplugin.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  tests/unit/_internal/utils/circus/test_statsplugin.py
Due: e2e-tests, unit-tests

chore: fix typo
  bentoml/_internal/utils/circus/watchfilesplugin.py
Due: e2e-tests, unit-tests

fix: tests
  tests/unit/_internal/utils/circus/test_watchfilesplugin.py
Due: none

chore: fix ci imports
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/__init__.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  setup.cfg
Due: e2e-tests, unit-tests

fix: remove reload_delay as it is irrelevant
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  tests/unit/_internal/utils/circus/test_watchfilesplugin.py
Due: e2e-tests, unit-tests

chore: generic components name for supervisor
  bentoml/_internal/cli/bento_server.py
Due: e2e-tests, unit-tests

chore: Apply suggestions from code review
  bentoml/_internal/cli/bento_server.py
Due: e2e-tests, unit-tests

refactor: move components name to CLI level
  bentoml/__main__.py
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/bento_server.py
Due: e2e-tests, unit-tests

feat(server): provide different backend for `--reload` (#2533)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus.py
  bentoml/_internal/utils/circus/__init__.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  bentoml/_internal/utils/pkg.py
  docs/build.sh
  requirements/tests-requirements.txt
  setup.cfg
  tests/conftest.py
  tests/unit/_internal/utils/circus/test_watchfilesplugin.py
Due: e2e-tests, unit-tests

perf: improve import cli speed
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

chore: add more information for debugging
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

fix: typing compatible for < 3.10
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
