Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

docs: allow running tutorial from docker (#2611)
  README.md
  docs/source/concepts/deploy.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/tutorial.rst
Due: none

fix(model): lock attrs to >=21.1.0 (#2610)
  setup.cfg
Due: none

Fix documentation formats
  docs/source/concepts/bento.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/guides/streaming.rst
Due: none

docs: Fix documentation formats (#2612)
  docs/source/concepts/bento.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/guides/streaming.rst
Due: none

feat: fastai docs
  bentoml/_internal/frameworks/fastai.py
  docs/source/concepts/bento.rst
  docs/source/concepts/model.rst
  docs/source/frameworks/fastai.rst
  fastai_example.py
Due: fastai, e2e-tests, unit-tests

chore: remove testfiles
  fastai_example.py
Due: none

fix: unit tests
  tests/unit/_internal/bento/test_bento.py
Due: none

add ModelOptions tests
  tests/integration/frameworks/test_frameworks.py
Due: none

chore: moving to unit tests
  tests/unit/_internal/test_service_api.py
Due: none

fix: ci tests
  tests/unit/_internal/bento/test_bento.py
Due: none

load ModelOptions lazily
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

chore: refactoring tests
  tests/e2e/bento_server_general_features/tests/test_meta.py
  tests/unit/_internal/test_service_api.py
Due: none

fix: remove no cover
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

fix(model): load ModelOptions lazily (#2608)
  bentoml/_internal/models/model.py
  tests/integration/frameworks/test_frameworks.py
Due: e2e-tests, unit-tests

feat: install.sh for python packages (#2555)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

chore: updates imports
  tests/e2e/bento_server_general_features/tests/test_meta.py
Due: none

chore: address PR
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: checkout from qa/build_config
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

Update docs/source/frameworks/fastai.rst
  docs/source/frameworks/fastai.rst
Due: none

bug: fix/routing path (#2606)
  bentoml/_internal/server/service_app.py
  tests/e2e/bento_server_general_features/tests/test_meta.py
  tests/unit/_internal/test_service_api.py
Due: e2e-tests, unit-tests

fix: create wheels directory when BENTOML_BUNDLE_LOCAL_BUILD=True
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

chore: format
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  setup.cfg
Due: e2e-tests, unit-tests

chore: updates
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  setup.cfg
Due: e2e-tests, unit-tests

refactor(server): merge contexts; add yatai headers
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/context.py
  bentoml/_internal/log.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/tag.py
  bentoml/_internal/trace.py
  bentoml/testing/server.py
  bentoml/testing/utils.py
Due: e2e-tests, unit-tests

chore: apply suggestion from review
  .github/workflows/frameworks.yml
  docs/source/frameworks/fastai.rst
Due: none

chore: update frameworks include files for CI
  .github/workflows/frameworks.yml
Due: none

updates
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/models/model.py
  docs/source/concepts/bento.rst
Due: e2e-tests, unit-tests

updates
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/configuration/__init__.py
Due: e2e-tests, unit-tests

address comments + docs
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  docs/source/concepts/bento.rst
Due: e2e-tests, unit-tests

Update build_config.py
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix extra index url
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

add default scm version, fix bentoml version regex
  bentoml/_internal/configuration/__init__.py
  pyproject.toml
Due: e2e-tests, unit-tests

formatting
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix bentoml installation in dockerfile
  .github/workflows/ci.yml
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix: build config (#2581)
  .github/workflows/ci.yml
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/models/model.py
  docs/source/concepts/bento.rst
  hooks/commit-msg
  hooks/pre-commit
  pyproject.toml
  scripts/ci/helpers.sh
  tests/unit/_internal/bento/test_bento.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

style fix and notes
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests
