Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

renaming
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/common.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/ngrok.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

add shutdown callback
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix unit test
  tests/unit/_internal/utils/test_uri.py
Due: none

Update bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

refine
  bentoml/_internal/runner/remote.py
Due: e2e-tests, unit-tests

refactor(server): fix process supervisor; support Windows (#2262)
  .github/workflows/ci.yml
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/server/cli/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/common.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/ngrok.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/flask_ngrok.py
  bentoml/_internal/utils/uri.py
  tests/unit/_internal/utils/test_uri.py
Due: e2e-tests, unit-tests

Implement access log middleware.
  bentoml/_internal/log.py
  bentoml/_internal/server/access.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

Logging change poc
  bentoml/_internal/server/access.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

Move ServiceContextClass to tracing
  bentoml/_internal/log.py
  bentoml/_internal/tracing/__init__.py
Due: e2e-tests, unit-tests

Clean up log and trace modules.
  bentoml/_internal/log.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/access.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/trace.py
Due: e2e-tests, unit-tests

Rebase to main.
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/common.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

Add component name contextvar.
  bentoml/_internal/log.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/trace.py
Due: e2e-tests, unit-tests

Integrate runner and aiohttp client with opentelemetry.
  bentoml/_internal/log.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/server/access.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/trace.py
  setup.cfg
Due: e2e-tests, unit-tests

chore: fix accordingly
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
  docs/source/frameworks/index.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/frameworks/tensorflow_v1.rst
  tests/integration/frameworks/test_tensorflow_v1_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
Due: e2e-tests, unit-tests

fix: docs
  bentoml/_internal/external_typing/transformers.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  codecov.yml
Due: e2e-tests, unit-tests

updated pr based on feedback
  bentoml/_internal/frameworks/picklable_model.py
  codecov.yml
  tests/integration/frameworks/test_picklable_model_impl.py
Due: e2e-tests, unit-tests

added picklable model to docs
  bentoml/_internal/frameworks/picklable_model.py
  docs/source/bentoml_wordlist.txt
  docs/source/conf.py
  docs/source/frameworks/index.rst
  docs/source/frameworks/onnxmlir.rst
  docs/source/frameworks/picklable_model.rst
  docs/source/frameworks/statsmodels.rst
Due: e2e-tests, unit-tests

fixed stupid spelling issues
  codecov.yml
  docs/source/bentoml_wordlist.txt
  docs/source/conf.py
  docs/source/frameworks/picklable_model.rst
Due: none

removed unneeded mock and separated code example
  docs/source/conf.py
  docs/source/frameworks/picklable_model.rst
Due: none

removed duplicate code block in docs
  docs/source/frameworks/picklable_model.rst
Due: none

updated to the right method call
  docs/source/frameworks/picklable_model.rst
Due: none

removed unneeded code
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/picklable_model.py
Due: e2e-tests, unit-tests

chore: change default serving port to 3000 MacOS Monterey listening on port 5000 by default
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/utils/benchmark.py
  bentoml/testing/server.py
  docs/source/concepts/containerize_bentos.rst
  docs/source/guides/gpu.rst
  docs/source/guides/tracing.rst
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

refactor(tensorflow): separate V1 and V2 impl (#2254)
  .github/workflows/frameworks.yml
  bentoml/__init__.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/ext_typing.py
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/external_typing/numpy.py
  bentoml/_internal/external_typing/starlette.py
  bentoml/_internal/external_typing/tensorflow.py
  bentoml/_internal/external_typing/transformers.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/tensorflow.py
  bentoml/tensorflow.py
  bentoml/tensorflow_v1.py
  codecov.yml
  docs/source/frameworks/index.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/frameworks/tensorflow_v1.rst
  pyproject.toml
  requirements/tests-requirements.txt
  scripts/ci/config.yml
  setup.cfg
  tests/integration/frameworks/test_tensorflow_impl.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  typings/fs/ftpfs.pyi
  typings/fs/memoryfs.pyi
  typings/importlib_metadata/__init__.pyi
Due: tensorflow, e2e-tests, unit-tests

chore: remove import_from_huggingface_hub from public API
  bentoml/_internal/frameworks/transformers.py
  bentoml/transformers.py
Due: transformers, e2e-tests, unit-tests

chore: remove import_from_huggingface_hub for now
  bentoml/_internal/frameworks/transformers.py
  tests/integration/frameworks/test_transformers_impl.py
Due: e2e-tests, unit-tests

chore: fix external typings according to #2254
  bentoml/_internal/frameworks/transformers.py
Due: e2e-tests, unit-tests

chore: fix tests
  tests/integration/frameworks/test_transformers_impl.py
Due: none

chore(sdk): adjust dynamic batching log messages
  bentoml/_internal/marshal/dispatcher.py
Due: e2e-tests, unit-tests

apply formater
  bentoml/_internal/log.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/access.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/trace.py
Due: e2e-tests, unit-tests

chore(sdk): adjust dynamic batching log messages (#2274)
  bentoml/_internal/marshal/dispatcher.py
Due: e2e-tests, unit-tests

feat: Service and access log improvement (#2268)
  bentoml/_internal/log.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/access.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/common.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/trace.py
  setup.cfg
Due: e2e-tests, unit-tests

chore: remove import_from_huggingface_hub from public API (#2265)
  bentoml/_internal/frameworks/transformers.py
  bentoml/transformers.py
  tests/integration/frameworks/test_transformers_impl.py
Due: transformers, e2e-tests, unit-tests

refactor DefaultDataContainer to work with both iterable and generator
  bentoml/_internal/runner/container.py
  tests/unit/_internal/runner/container.py
Due: e2e-tests, unit-tests

formatting code
  bentoml/_internal/runner/container.py
  tests/unit/_internal/runner/container.py
Due: e2e-tests, unit-tests

auto formatting
  bentoml/_internal/frameworks/picklable_model.py
  tests/integration/frameworks/test_picklable_model_impl.py
Due: e2e-tests, unit-tests

feat: support picklable_model (#2251)
  .github/workflows/frameworks.yml
  bentoml/__init__.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/picklable_model.py
  codecov.yml
  docs/source/bentoml_wordlist.txt
  docs/source/frameworks/index.rst
  docs/source/frameworks/onnxmlir.rst
  docs/source/frameworks/picklable_model.rst
  docs/source/frameworks/statsmodels.rst
  scripts/ci/config.yml
  tests/integration/frameworks/test_picklable_model_impl.py
Due: e2e-tests, unit-tests

Update container.py
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

updates
  bentoml/_internal/runner/container.py
  tests/unit/_internal/runner/container.py
Due: e2e-tests, unit-tests

fallback to pickle generator case only
  bentoml/_internal/runner/container.py
  tests/unit/_internal/runner/container.py
Due: e2e-tests, unit-tests
