Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: chore
  docker/Makefile
  docker/manager/build.py
Due: none

fix: tests
  docker/Makefile
  docker/docker-bake.hcl
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian10/devel/Dockerfile-conda
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian11/devel/Dockerfile-conda
  docker/hack/docker.mk
  docker/hack/dockerfiles/bats-test.Dockerfile
  docker/hack/dockerfiles/builder.Dockerfile
  docker/hack/dockerfiles/linter.Dockerfile
  docker/hack/run_tests
  docker/hack/shells/buildx_misc
  docker/hack/shells/docker-entrypoint.sh
  docker/hack/shells/modprobe.sh
  docker/templates/debian/conda-cudnn-dockerfile.j2
  docker/templates/debian/conda-devel-dockerfile.j2
  docker/templates/debian/cudnn-dockerfile.j2
  docker/tests/Dockerfile
Due: none

chore: fixing tests
  docker/.gitignore
  docker/Makefile
  docker/docker-bake.hcl
  docker/generated/bento-server/alpine3.14/devel/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile-conda
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile-conda
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile-conda
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile-conda
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/hack/docker.mk
  docker/hack/run_tests
  docker/hack/shells/buildx_misc
  docker/tests/00-runtime-check-arch.bats
  docker/tests/01-runtime-check-requirements.bats
  docker/tests/02-cudnn-nvidia-version.bats
  docker/tests/03-cudnn-nvidia-tools.bats
  docker/tests/Dockerfile
  docker/tests/helpers.bash
  docker/tests/run_tests.sh
Due: none

fix: zip imports while upload to remotes (#2364)
  bentoml/saved_bundle/bundler.py
Due: e2e-tests, unit-tests

chore: wip tests with Make
  docker/Makefile
  docker/docker-bake.hcl
  docker/hack/docker.mk
  docker/hack/dockerfiles/bats-test.Dockerfile
  docker/hack/shells/buildx_misc
  docker/tests/Dockerfile
  docker/tests/helpers.bash
Due: none

chore: fix tests
  docker/Makefile
  docker/generated/bento-server/amazonlinux2/base/Dockerfile
  docker/generated/bento-server/ubi8/base/Dockerfile
  docker/hack/docker.mk
  docker/templates/ami2/base-dockerfile.j2
  docker/templates/rhel/base-dockerfile.j2
  docker/tests/00-runtime-check-arch.bats
  docker/tests/01-runtime-check-requirements.bats
  docker/tests/02-cudnn-nvidia-version.bats
  docker/tests/03-cudnn-nvidia-tools.bats
  docker/tests/Dockerfile
  docker/tests/helpers.bash
  docker/tests/run_tests.sh
Due: none

chore: correct images org
  docker/Makefile
  docker/generated/bento-server/alpine3.14/devel/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile-conda
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile-conda
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile-conda
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile-conda
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/hack/docker.mk
Due: none

fix(service): fix load_bento arguments position
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

feat: add load and push to containerize
  bentoml/_internal/cli/containerize.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix: reading cgroup from cpusets
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
Due: e2e-tests, unit-tests

chore: fmt hooks with shfmt + minor update
  hooks/commit-msg
  hooks/pre-commit
  hooks/prepare-commit-msg
  setup.cfg
Due: none

fix(service): fix load_bento arguments position (#2369)
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

fix: cpu should be 1 when rq.cpu is between 0 and 1
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
Due: catboost, h2o, onnx, paddle, picklable_model, sklearn, statsmodels, xgboost, e2e-tests, unit-tests

chore: better exception handling
  bentoml/_internal/runner/utils.py
  tests/integration/frameworks/test_catboost_impl.py
Due: e2e-tests, unit-tests

fix: cgroups for cpu should be 1 when <= 0 (#2372)
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/utils.py
  tests/integration/frameworks/test_catboost_impl.py
Due: catboost, h2o, onnx, paddle, picklable_model, sklearn, statsmodels, xgboost, e2e-tests, unit-tests

update client id to just uuid4
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

Apply suggestions from code review
  README.md
  setup.cfg
Due: none

remove debugging statement
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

renaming modelinfo class
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

fix bento models field backwards compatibility
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

revert back yatai client changes
  bentoml/_internal/yatai_rest_api_client/config.py
Due: e2e-tests, unit-tests

remove docs from index.rst
  docs/source/index.rst
Due: none

chore: lock rich versioning
  docker/pyproject.toml
Due: none

chore: lock rich to be >=11.2.0
  setup.cfg
Due: none

chore: lock rich to be >=11.2.0 (#2378)
  setup.cfg
Due: none

add cattrs unstructure hook for tag
  bentoml/_internal/tag.py
Due: e2e-tests, unit-tests

feat(internal): try to correct missing latest files
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

fix "bool object has no attribute get" error
  bentoml/_internal/service/loader.py
  bentoml/_internal/tag.py
Due: e2e-tests, unit-tests

fix SERVE_USAGE_TRACKING_INTERVAL_SECONDS
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

chore: remove unecessary model_store
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

refactors
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/models.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

use shared cattr converter
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/tag.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/cattr.py
Due: e2e-tests, unit-tests

remove model_runner_module in runner info
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

update metrics report
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

fix renaming typo
  bentoml/_internal/cli/bento_management.py
Due: e2e-tests, unit-tests

fixing unit tests
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

fix formatting
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

add inline notes
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

rename total_memory_in_mb
  bentoml/_internal/utils/analytics/schemas.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

add internal debugging mode
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
