Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

fix: invalid build option python_version="None" when base_image is used (#2623)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

clean
  bentoml/_internal/server/cli/api_server.py
Due: e2e-tests, unit-tests

fix: Transformers NVIDIA_VISIBLE_DEVICES value type casting
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

chore: remove old tests, update docs + add custom models for testing
  bentoml/_internal/frameworks/fastai.py
  docs/source/frameworks/fastai.rst
  tests/integration/frameworks/models/fastai.py
  tests/integration/frameworks/test_fastai_impl.py
Due: fastai, e2e-tests, unit-tests

chore: updates fastcore requirements under model context
  bentoml/_internal/frameworks/fastai.py
  docs/source/frameworks/fastai.rst
Due: fastai, e2e-tests, unit-tests

chore: add unit tests for fastai to cover frameworks test didn't cover
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/fastai.py
  bentoml/fastai.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/fastai.py
  tests/integration/frameworks/test_frameworks.py
  tests/unit/_internal/frameworks/test_fastai.py
  tests/utils/frameworks/fastai_utils.py
Due: fastai, e2e-tests, unit-tests

require pyyaml>=5
  setup.cfg
Due: none

chore(pylint): update pylint configuration
  pyproject.toml
Due: none

fix(dependencies): require pyyaml>=5 (#2626)
  setup.cfg
Due: none

chore(types): document LazyType `__instancecheck__` better
  bentoml/_internal/types.py
Due: none

feat(xgboost): load xgboost lazily as required
  bentoml/_internal/frameworks/xgboost.py
Due: xgboost, e2e-tests, unit-tests

Update bentoml/_internal/frameworks/fastai.py
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

chore: Apply suggestions from code review
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

Update docs/source/frameworks/fastai.rst
  docs/source/frameworks/fastai.rst
Due: none

chore: address grammar changes
  bentoml/_internal/frameworks/fastai.py
  docs/source/frameworks/fastai.rst
  docs/source/reference/frameworks/fastai.rst
Due: fastai, e2e-tests, unit-tests

fix: remove comments
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

chore: add stanford links for imdb
  docs/source/frameworks/fastai.rst
Due: none

refactor(server): merge contexts; add yatai headers (#2621)
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/context.py
  bentoml/_internal/log.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/tag.py
  bentoml/_internal/trace.py
  bentoml/testing/server.py
  bentoml/testing/utils.py
Due: e2e-tests, unit-tests

Update NVIDIA_VISIBLE_DEVICES to CUDA_VISIBLE_DEVICES
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: transformers, xgboost, e2e-tests, unit-tests

chore(pylint): update pylint configuration (#2627)
  pyproject.toml
Due: none

Added generic proto file with basic Value message
  protos/io_descriptors.proto
Due: none

Added basic Array message to represent arrays
  protos/io_descriptors.proto
Due: none

fix: Transformers NVIDIA_VISIBLE_DEVICES value type casting (#2624)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: transformers, xgboost, e2e-tests, unit-tests

fix: Server silently crash without logging exceptions
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

Remove all log_config in uvicorn options
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

fix(server): metrics name issue under specify service names (#2556)
  bentoml/_internal/server/instruments.py
  bentoml/testing/server.py
  setup.cfg
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/train.py
Due: e2e-tests, unit-tests

fix: path for custom dockerfile templates (#2547)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

feat: include env build options in bento.yaml (#2562)
  bentoml/_internal/bento/bento.py
  tests/unit/_internal/bento/test_bento.py
Due: e2e-tests, unit-tests

chore: minor fixes and docs change from QA (#2564)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  docs/source/concepts/bento.rst
  setup.cfg
Due: e2e-tests, unit-tests

fix(qa): bento runner resource should limit to user provided configs (#2566)
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix(qa): allow cuda_version when distro is None with default (#2565)
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

feat(cli): output times in the local timezone (#2572)
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

fix(store): use >= for time checking (#2574)
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

feat: improve logging (#2568)
  bentoml/__init__.py
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/log.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/service/loader.py
  bentoml/bentos.py
  bentoml/testing/server.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

fix: update conda env yaml file name and default channel (#2580)
  bentoml/_internal/bento/build_config.py
  docs/source/concepts/bento.rst
  docs/source/installation.rst
Due: e2e-tests, unit-tests

fix(service): JsonIO doesn't return a pydantic model (#2578)
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

docs: fix wrong variable name in comment (#2575)
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

fix(build): use subprocess to call pip-compile (#2573)
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix(cli): cli encoding error on Windows (#2579)
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
