Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

convert runner names to lowercase
  bentoml/_internal/runner/runner.py
  bentoml/_internal/tag.py
Due: e2e-tests, unit-tests

gitignore catboost_info
  .gitignore
Due: none

add test for lowercasing runner name
  tests/unit/_internal/runner/test_runner.py
Due: none

fix(runner): lowercase runner names and add tests (#2656)
  .gitignore
  bentoml/_internal/runner/runner.py
  bentoml/_internal/tag.py
  tests/unit/_internal/runner/test_runner.py
Due: e2e-tests, unit-tests

style: github naming
  docs/source/index.rst
Due: none

docs: Github -> GitHub (#2659)
  docs/source/index.rst
Due: none

tests(framework): add new framework tests
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/test_frameworks.py
Due: none

undo resource cfg changes
  tests/integration/frameworks/test_frameworks.py
Due: none

revert more changes
  tests/integration/frameworks/test_frameworks.py
Due: none

tests(framework): add new framework tests (#2660)
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/test_frameworks.py
Due: none

fix: catboost predict params special case to 'predict' only
  bentoml/_internal/frameworks/catboost.py
Due: catboost, e2e-tests, unit-tests

Update bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/catboost.py
Due: catboost, e2e-tests, unit-tests

fix: predict_params locally load
  bentoml/_internal/frameworks/catboost.py
Due: catboost, e2e-tests, unit-tests

chore: fix catboost tests
  bentoml/_internal/frameworks/catboost.py
  tests/integration/frameworks/models/catboost.py
Due: catboost, e2e-tests, unit-tests

docs: missing code annotation (#2654)
  docs/source/concepts/model.rst
Due: none

Remove support for `staged_predict` in CatBoost
  tests/integration/frameworks/models/catboost.py
Due: none

Update tests/integration/frameworks/models/catboost.py
  tests/integration/frameworks/models/catboost.py
Due: none

Enable monitoring of framework integration test
  .github/workflows/frameworks.yml
Due: none

fix: python_version parsed incorrectly in conda
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

refactor: using macro for conda installation
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

chore: updates block and remove base-architecture
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

chore: refactor macro templates to include environment_yml
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

chore: address styling comments
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

perf(templates): cache python installation via conda (#2662)
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

fix: Remove support for `staged_predict` from CatBoost (#2663)
  .github/workflows/frameworks.yml
  tests/integration/frameworks/models/catboost.py
Due: none

fix(ci): destroy the runner after init_local
  tests/integration/frameworks/test_frameworks.py
Due: none

fix(ci): destroy the runner after init_local (#2665)
  tests/integration/frameworks/test_frameworks.py
Due: none

fix(tensorflow): casting error on kwargs
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

style
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

rearrange
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

fix: python installation order
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

fix(conda): python installation order (#2668)
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

docs(logging): update logging guide to reflect logging changes
  docs/source/_static/img/bentoml-logs-exception.png
  docs/source/_static/img/bentoml-logs.png
  docs/source/guides/logging.rst
Due: none

fix(tensorflow): casting error on kwargs (#2664)
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

add section for library logging
  docs/source/guides/logging.rst
Due: none

Resolve merge conflicts.
  tests/integration/frameworks/test_frameworks.py
Due: none

Resolve merge conflicts.
  tests/integration/frameworks/models/__init__.py
Due: none

Destroy runner after test.
  tests/integration/frameworks/test_frameworks.py
Due: none

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
