Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

record metrics after the last byte was sent
  bentoml/_internal/server/instruments.py
  bentoml_cli/worker/runner.py
Due: e2e-tests, unit-tests

fix: invalid character
  bentoml_cli/worker/http_api_server.py
  bentoml_cli/worker/http_dev_api_server.py
  bentoml_cli/worker/runner.py
Due: none

Update variables in metric names as labels
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/utils/metrics.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/server/instruments.py
Due: e2e-tests, unit-tests

amend
  bentoml/_internal/server/instruments.py
Due: e2e-tests, unit-tests

fix style
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

asdf
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

make pylint happy
  pyproject.toml
Due: none

fix(multipart): support multipart file inputs to non-file descriptors
  bentoml/_internal/utils/formparser.py
Due: e2e-tests, unit-tests

fix(multipart): support multipart file inputs to non-file descriptors (#3005)
  bentoml/_internal/utils/formparser.py
Due: e2e-tests, unit-tests

feat(server): add runner metrics; refactoring batch size metrics (#2977)
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/context.py
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/utils/alg.py
  bentoml/_internal/utils/metrics.py
  bentoml/serve.py
  bentoml_cli/worker/http_api_server.py
  bentoml_cli/worker/http_dev_api_server.py
  bentoml_cli/worker/runner.py
  pyproject.toml
Due: e2e-tests, unit-tests

feat(server): gRPC lifecycle
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/grpc/__init__.py
  bentoml/_internal/server/grpc/config.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/interceptors/access.py
  bentoml/_internal/server/grpc/interceptors/opentelemetry.py
  bentoml/_internal/server/grpc/interceptors/prometheus.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/server/http/__init__.py
  bentoml/_internal/server/http/access.py
  bentoml/_internal/server/http/instruments.py
  bentoml/_internal/server/http_app.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/platform.py
  bentoml/exceptions.py
  bentoml/serve.py
  bentoml/start.py
Due: e2e-tests, unit-tests

feat(proto): generic service protobuf definition
  bentoml/grpc/v1alpha1/__init__.py
  bentoml/grpc/v1alpha1/service.proto
  bentoml/grpc/v1alpha1/service_test.proto
  bentoml/protos/buf.yaml
Due: e2e-tests, unit-tests

chore(misc): update documentation and generation scripts
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/lifecycle/post-create
  .devcontainer/lifecycle/post-start
  .github/workflows/ci.yml
  .gitignore
  DEVELOPMENT.md
  MANIFEST.in
  Makefile
  bentoml/grpc/__init__.py
  bentoml/grpc/buf.yaml
  bentoml/protos/buf.yaml
  codecov.yml
  pyproject.toml
  requirements/dev-requirements.txt
  requirements/tests-requirements.txt
  scripts/generate_grpc_stubs.sh
  scripts/release_pypi.sh
  setup.cfg
Due: e2e-tests, unit-tests

feat(configuration): gRPC options
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
Due: e2e-tests, unit-tests

feat(cli): serve-grpc with options and entrypoints
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
  bentoml_cli/containerize.py
  bentoml_cli/serve.py
  bentoml_cli/start.py
  bentoml_cli/utils.py
  bentoml_cli/worker/grpc_api_server.py
  bentoml_cli/worker/grpc_dev_api_server.py
  bentoml_cli/worker/grpc_prometheus_server.py
Due: e2e-tests, unit-tests

feat(api): expose functions under `bentoml.grpc`
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/grpc/buf.yaml
  bentoml/grpc/interceptors/__init__.py
  bentoml/grpc/interceptors/access.py
  bentoml/grpc/interceptors/opentelemetry.py
  bentoml/grpc/interceptors/prometheus.py
  bentoml/grpc/types.py
  bentoml/grpc/utils/__init__.py
  bentoml/grpc/utils/_import_hook.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

feat(bento): build process
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker/__init__.py
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/gen.py
  bentoml/_internal/external_typing/__init__.py
Due: e2e-tests, unit-tests

feat(io): descriptor implementation
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  tests/unit/_internal/io/test_numpy.py
Due: e2e-tests, unit-tests

fix(runner): receive requests before cork
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix for multi output
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix(runner): receive requests before cork (#2996)
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix(server): service_name label of runner metrics
  bentoml_cli/worker/runner.py
Due: none

fix(server): service_name label of runner metrics (#3008)
  bentoml_cli/worker/runner.py
Due: none

feat(xgboost): support xgboost sklearn models
  bentoml/_internal/frameworks/xgboost.py
  bentoml/xgboost.py
Due: xgboost, e2e-tests, unit-tests

Update bentoml/xgboost.py
  bentoml/xgboost.py
Due: e2e-tests, unit-tests

feat(xgboost): support xgboost sklearn models
  bentoml/_internal/frameworks/xgboost.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/xgboost.py
Due: xgboost, e2e-tests, unit-tests

chore(misc): remove mentioned from team member from PR request
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(misc): remove mentioned for team member from PR request (#3009)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat(xgboost): support xgboost sklearn models (#2997)
  bentoml/_internal/frameworks/xgboost.py
  bentoml/xgboost.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/xgboost.py
Due: xgboost, e2e-tests, unit-tests

chore: fix cycle import warning
  bentoml/_internal/configuration/__init__.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

feat(io/image): allow restricting mime types
  bentoml/_internal/io_descriptors/image.py
Due: e2e-tests, unit-tests

chore(image): only load pillow once
  bentoml/_internal/io_descriptors/image.py
Due: e2e-tests, unit-tests

address review comments
  bentoml/_internal/io_descriptors/image.py
Due: e2e-tests, unit-tests

feat(io/image): allow restricting mime types (#2999)
  bentoml/_internal/io_descriptors/image.py
Due: e2e-tests, unit-tests

fix: docker message
  bentoml_cli/containerize.py
Due: none

fix(grpc): docker message (#3012)
  bentoml_cli/containerize.py
Due: none

chor: cleanup cli utils
  bentoml/_internal/utils/docker.py
  bentoml_cli/containerize.py
  bentoml_cli/utils.py
Due: e2e-tests, unit-tests

fix: exception test for image io
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: none
