Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Update the quickstart guide to be consistent with the gallery.
  docs/source/quickstart.rst
Due: none

docs: Update the quickstart guide to be consistent with the gallery (#2299)
  docs/source/quickstart.rst
Due: none

chore: reflect changes from comments
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/runner/utils.py
  tests/integration/frameworks/test_picklable_model_impl.py
  typings/fs/ftpfs.pyi
  typings/fs/memoryfs.pyi
  typings/importlib_metadata/__init__.pyi
Due: transformers, e2e-tests, unit-tests

feat: passthrough correct kwargs similar to transformers design
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

remove model_store in integration tests
  bentoml/_internal/frameworks/keras.py
  tests/integration/conftest.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
  tests/integration/frameworks/paddle/test_paddle_impl.py
  tests/integration/frameworks/paddle/test_paddle_runner.py
  tests/integration/frameworks/paddle/test_paddlehub_impl.py
  tests/integration/frameworks/spacy/test_spacy_impl.py
  tests/integration/frameworks/spacy/test_spacy_projects.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_easyocr_impl.py
  tests/integration/frameworks/test_gluon_impl.py
  tests/integration/frameworks/test_h2o_impl.py
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_lightgbm_impl.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_onnxmlir_impl.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_pycaret_impl.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: keras, e2e-tests, unit-tests

remove runner args
  tests/integration/frameworks/paddle/test_paddle_runner.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
  tests/integration/frameworks/test_lightgbm_impl.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: none

mod default model_store for integration tests
  tests/integration/conftest.py
Due: none

try fix keras
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

fix picklable_model tests
  tests/integration/frameworks/test_picklable_model_impl.py
Due: none

fix detectron
  bentoml/_internal/frameworks/detectron.py
Due: detectron, e2e-tests, unit-tests

review
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix picklable_model
  tests/integration/frameworks/test_picklable_model_impl.py
Due: none

append
  tests/integration/frameworks/test_picklable_model_impl.py
Due: none

fix(internal): skip all files when listing store
  bentoml/_internal/store.py
  tests/unit/_internal/test_store.py
Due: e2e-tests, unit-tests

feat: Improve logging format and configurability (#2298)
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
  bentoml/_internal/server/access.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/trace.py
Due: e2e-tests, unit-tests

chore: fmt
  bentoml/_internal/store.py
  tests/unit/_internal/test_store.py
Due: e2e-tests, unit-tests

chore: add rough notes and ignore
  .gitattributes
  .gitignore
  requirements/dev-requirements.txt
  scripts/generate_stubs.py
  scripts/tools/clean_github_workflow.sh
  scripts/tools/clean_stubs.sh
  scripts/tools/stubs_cleanup.sh
  typings/README.md
Due: none

chore: add deepmerge patch files
  typings/README.md
  typings/stubs-deepmerge.patch
Due: none

chore(typings): add deepmerge stubs
  typings/deepmerge/__init__.pyi
  typings/deepmerge/compat.pyi
  typings/deepmerge/exception.pyi
  typings/deepmerge/merger.pyi
  typings/deepmerge/strategy/core.pyi
  typings/deepmerge/strategy/dict.pyi
  typings/deepmerge/strategy/fallback.pyi
  typings/deepmerge/strategy/list.pyi
  typings/deepmerge/strategy/set.pyi
  typings/deepmerge/strategy/type_conflict.pyi
Due: none

chore: updates finished scripts
  .gitignore
  DEVELOPMENT.md
  Makefile
  scripts/generate_stubs.py
  scripts/tools/formatter.sh
  scripts/typestubs.py
  tests/integration/frameworks/test_picklable_model_impl.py
  typings/README.md
  typings/deepmerge/__init__.pyi
  typings/deepmerge/compat.pyi
  typings/deepmerge/exception.pyi
  typings/deepmerge/merger.pyi
  typings/deepmerge/strategy/core.pyi
  typings/deepmerge/strategy/dict.pyi
  typings/deepmerge/strategy/fallback.pyi
  typings/deepmerge/strategy/list.pyi
  typings/deepmerge/strategy/set.pyi
  typings/deepmerge/strategy/type_conflict.pyi
  typings/stubs-deepmerge.patch
Due: none

chore: add for commit
  .gitignore
  scripts/typestubs.py
  typings/README.md
Due: none

chore: explicit add
  scripts/typestubs.py
Due: none

"feat(typings): add stubs-deepmerge.patch"
  .gitignore
  typings/stubs-deepmerge.patch
Due: none

Fix broken link to Contribute.md
  README.md
Due: none

docs: Fix broken link in CONTRIBUTE.md (#2304)
  README.md
Due: none

fix(internal): skip all files when listing store (#2300)
  bentoml/_internal/store.py
  tests/unit/_internal/test_store.py
Due: e2e-tests, unit-tests

chore: change default serving port to 3000 (#2273)
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/utils/benchmark.py
  bentoml/testing/server.py
  docs/source/concepts/containerize_bentos.rst
  docs/source/guides/gpu.rst
  docs/source/guides/tracing.rst
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

fix(framework): statsmodels
  bentoml/_internal/frameworks/statsmodels.py
  tests/integration/frameworks/test_statsmodels_impl.py
Due: statsmodels, e2e-tests, unit-tests

fix(framework): onnx
  bentoml/_internal/frameworks/onnx.py
  tests/integration/frameworks/test_onnx_impl.py
Due: onnx, e2e-tests, unit-tests

fix(test): transformer test
  tests/integration/frameworks/test_transformers_impl.py
Due: none

fix(framework): keras
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

fix(test): spacy test
  tests/integration/frameworks/spacy/test_spacy_projects.py
Due: none

fix(framework): paddlepaddle
  bentoml/_internal/frameworks/paddle.py
  tests/integration/frameworks/paddle/test_paddle_impl.py
Due: paddle, e2e-tests, unit-tests

chore: fix CI
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_transformers_impl.py
Due: none

style: minor fix
  bentoml/_internal/frameworks/paddle.py
  tests/integration/frameworks/paddle/test_paddle_impl.py
Due: paddle, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
