Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore: fix bugs
  bentoml/_internal/utils/circus.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/utils/circus.py
  bentoml/_internal/utils/circus.py
Due: e2e-tests, unit-tests

chore: add supports for reading LINES and COLUMNS for better logging
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

chore: fix CI
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

chore: fix templates?
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

fix(framework): adapt changes for Tensorflow DataContainer (#2507)
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
Due: keras, transformers, e2e-tests, unit-tests

fix style; add integration back (not finished)
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
  bentoml/torchscript.py
  tests/integration/frameworks/test_pytorch_impl.py
Due: pytorch_lightning, e2e-tests, unit-tests

revert: ci
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
Due: none

fix style
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
  bentoml/torchscript.py
  tests/integration/frameworks/test_pytorch_impl.py
Due: e2e-tests, unit-tests

chore: revert lines and columns for better debug on CI
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/trace.py
  bentoml/_internal/utils/click.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/torchscript.py
  tests/integration/frameworks/test_pytorch_impl.py
Due: pytorch, e2e-tests, unit-tests

fix
  bentoml/_internal/frameworks/common/pytorch.py
  tests/integration/frameworks/test_pytorch_impl.py
Due: e2e-tests, unit-tests

finished pytorch integration test
  tests/integration/frameworks/test_pytorch_impl.py
Due: none

fix torchscript integration tests
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: pytorch_lightning, e2e-tests, unit-tests

fix all pytorch integration tests
  scripts/ci/config.yml
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
  tests/utils/frameworks/pytorch_utils.py
Due: none

clean tests
  .github/workflows/frameworks.yml
Due: none

try fix requirement issues
  scripts/ci/config.yml
  tests/integration/frameworks/test_pytorch_impl.py
Due: none

feat(framework): pytorch (#2499)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/models/__init__.py
  bentoml/_internal/models/model.py
  bentoml/models.py
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
  bentoml/torchscript.py
  scripts/ci/config.yml
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
  tests/unit/_internal/models/test_model.py
  tests/utils/frameworks/pytorch_utils.py
Due: pytorch, pytorch_lightning, sklearn, e2e-tests, unit-tests

refactor(framework): move `_mapping` for tf2 and keras
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: keras, e2e-tests, unit-tests

docs updates
  docs/source/concepts/bento.rst
  docs/source/concepts/deploy.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/guides/gpu.rst
  docs/source/tutorial.rst
Due: none

update typing-extensions version and ci tf version
  scripts/ci/config.yml
  setup.cfg
Due: none

remove debug codes
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

remove unused import
  bentoml/_internal/frameworks/sklearn.py
Due: sklearn, e2e-tests, unit-tests

CI - fetch depth 1
  .github/workflows/ci.yml
Due: none

NotImplementedError for unsupported framework modules
  bentoml/catboost.py
  bentoml/detectron.py
  bentoml/easyocr.py
  bentoml/evalml.py
  bentoml/fastai.py
  bentoml/fasttext.py
  bentoml/flax.py
  bentoml/gluon.py
  bentoml/h2o.py
  bentoml/lightgbm.py
  bentoml/mlflow.py
  bentoml/onnx.py
  bentoml/onnxmlir.py
  bentoml/paddle.py
  bentoml/pycaret.py
  bentoml/pyspark.py
  bentoml/spacy.py
  bentoml/statsmodels.py
  bentoml/tensorflow_v1.py
Due: e2e-tests, unit-tests

update supported frameworks doc
  docs/source/frameworks/index.rst
Due: none

reformat
  bentoml/catboost.py
  bentoml/detectron.py
  bentoml/easyocr.py
  bentoml/evalml.py
  bentoml/fastai.py
  bentoml/fasttext.py
  bentoml/flax.py
  bentoml/gluon.py
  bentoml/h2o.py
  bentoml/lightgbm.py
  bentoml/mlflow.py
  bentoml/onnx.py
  bentoml/onnxmlir.py
  bentoml/paddle.py
  bentoml/pycaret.py
  bentoml/pyspark.py
  bentoml/spacy.py
  bentoml/statsmodels.py
  bentoml/tensorflow_v1.py
Due: e2e-tests, unit-tests

fix sklearn
  bentoml/_internal/frameworks/sklearn.py
Due: sklearn, e2e-tests, unit-tests

add backwards compatibility warning for supported ML framework modules
  bentoml/keras.py
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
  bentoml/sklearn.py
  bentoml/tensorflow.py
  bentoml/torchscript.py
  bentoml/transformers.py
  bentoml/xgboost.py
Due: e2e-tests, unit-tests

deprecate use of SAVE_NAMESPACE constant
  bentoml/_internal/models/__init__.py
Due: e2e-tests, unit-tests

framework docs MVP
  docs/source/frameworks/keras.rst
  docs/source/frameworks/picklable.rst
  docs/source/frameworks/pytorch.rst
  docs/source/frameworks/pytorch_lightning.rst
  docs/source/frameworks/sklearn.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/frameworks/transformers.rst
Due: none

template typo and notes
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

use a simpler example for reusable runnable class
  docs/source/concepts/runner.rst
Due: none

docs: misc docs updates (#2511)
  docs/source/concepts/bento.rst
  docs/source/concepts/deploy.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/guides/gpu.rst
  docs/source/tutorial.rst
Due: none

fix f-string placeholder warning
  bentoml/_internal/frameworks/sklearn.py
Due: sklearn, e2e-tests, unit-tests

refactor(framework): move `_mapping` for tf2 and keras (#2510)
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  scripts/ci/config.yml
  setup.cfg
Due: keras, e2e-tests, unit-tests

revert: srver changes
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: unify circus logs to bentoml + fix circus config parsing for api_server (#2509)
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/log.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/trace.py
  bentoml/_internal/utils/circus.py
  bentoml/_internal/utils/click.py
Due: e2e-tests, unit-tests

fix sklearn integration tests
  tests/integration/frameworks/test_sklearn_impl.py
Due: none
