Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

fix(cli): cli encoding error on Windows
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

chore(ci): increase sleep time for consistency
  tests/unit/_internal/utils/test_analytics.py
Due: none

chore: testing
  .github/workflows/frameworks.yml
  .github/workflows/generated_fastai.yml
  bentoml/_internal/frameworks/fastai.py
  scripts/ci/config.yml
  scripts/tools/stubs_cleanup.sh
Due: fastai, e2e-tests, unit-tests

qa: build config
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  hooks/commit-msg
Due: e2e-tests, unit-tests

chore: add qa to branch regex
  bentoml/_internal/bento/build_config.py
  hooks/pre-commit
  scripts/ci/helpers.sh
Due: e2e-tests, unit-tests

chore: refactor to #2581 (ci will fail)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/utils/__init__.py
  requirements/tests-requirements.txt
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/bento/test_build_config.py
Due: e2e-tests, unit-tests

fix: update conda env yaml file name and default channel (#2580)
  bentoml/_internal/bento/build_config.py
  docs/source/concepts/bento.rst
  docs/source/installation.rst
Due: e2e-tests, unit-tests

chore(runner): add shcedule shortcuts to runners (#2576)
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/runner_app.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: e2e-tests, unit-tests

Adding #noqa to ModelOptions import
  bentoml/keras.py
  bentoml/tensorflow.py
  bentoml/transformers.py
Due: e2e-tests, unit-tests

feat: conf.py fix types
  docs/source/conf.py
Due: none

revert: scripts
  docs/source/reference/frameworks/fastai.rst
  scripts/ci/config.yml
  scripts/tools/stubs_cleanup.sh
Due: none

chore: updates ci
  .github/workflows/frameworks.yml
Due: none

fix(cli): cli encoding error on Windows (#2579)
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

fix(bug): Make `model.with_options()` additive (#2519)
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
  bentoml/keras.py
  bentoml/tensorflow.py
  bentoml/transformers.py
  tests/conftest.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/unit/_internal/models/test_model.py
  tests/unit/test_models.py
Due: keras, transformers, e2e-tests, unit-tests

feat: zsh autocompletion
  Makefile
  bentoml/_internal/cli/bento_management.py
  completions/bentoml.zsh
Due: e2e-tests, unit-tests

feat: dockerfile templates advanced guides (#2548)
  codecov.yml
  docs/source/concepts/bento.rst
  docs/source/conf.py
  docs/source/guides/dockerfile_generation.rst
  docs/source/guides/index.rst
Due: none

add setuptools to docs dependencies
  requirements/docs-requirements.txt
Due: none

docs: add setuptools to docs dependencies (#2586)
  requirements/docs-requirements.txt
Due: none

fix(runner): pass init params to runnable
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/local.py
  docs/source/concepts/runner.rst
Due: e2e-tests, unit-tests

LightGBM framework implementation, plus integration test.
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/lightgbm.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/lightgbm.py
  tests/integration/frameworks/test_lightgbm_impl.py
Due: lightgbm, e2e-tests, unit-tests

black, isort
  bentoml/_internal/frameworks/lightgbm.py
  tests/integration/frameworks/models/lightgbm.py
Due: lightgbm, e2e-tests, unit-tests

tests(xgboost): minor cleanup
  tests/integration/frameworks/models/xgboost.py
Due: none

tests(frameworks): add conditions for skipping gpu and batching tests
  tests/integration/frameworks/models/xgboost.py
  tests/integration/frameworks/test_frameworks.py
Due: none

test(frameworks): minor test improvements (#2590)
  tests/integration/frameworks/models/xgboost.py
  tests/integration/frameworks/test_frameworks.py
Due: none

test: wip
  bentoml/_internal/frameworks/fastai.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/fastai.py
Due: fastai, e2e-tests, unit-tests

address review comments
  bentoml/_internal/frameworks/lightgbm.py
Due: lightgbm, e2e-tests, unit-tests

feat: implement LightGBM for the 1.0 runner API (#2589)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/lightgbm.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/lightgbm.py
  tests/integration/frameworks/test_lightgbm_impl.py
Due: lightgbm, e2e-tests, unit-tests

chore: address PR comments
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

chore: updates stuff
  completions/bentoml.zsh
Due: none

fix(runner): pass init params to runnable (#2587)
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/local.py
  docs/source/concepts/runner.rst
Due: e2e-tests, unit-tests

chore: updates tests
  bentoml/_internal/bento/build_config.py
  tests/unit/_internal/bento/test_build_config.py
  tests/unit/_internal/bento/testdata/bentobuildconfig_invalid6.yaml
  tests/unit/_internal/bento/testdata/bentobuildconfig_invalid7.yaml
  tests/unit/_internal/bento/testdata/dockeroptions_valid6.yaml
Due: e2e-tests, unit-tests

fix: tests
  bentoml/_internal/bento/build_config.py
  tests/unit/_internal/bento/test_build_config.py
  tests/unit/_internal/bento/testdata/bentobuildconfig_invalid7.yaml
  tests/unit/_internal/bento/testdata/configuration/realworld_bentofile.yaml
Due: e2e-tests, unit-tests

fix: propagate should be false
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

add instancecheck to LazyType
  bentoml/_internal/types.py
Due: none

minor framework template update
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: keras, lightgbm, pytorch, sklearn, transformers, xgboost, e2e-tests, unit-tests

return bento.Model from save_model
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: keras, lightgbm, pytorch, pytorch_lightning, sklearn, transformers, xgboost, e2e-tests, unit-tests

remove old framework docs
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/detectron.rst
  docs/source/frameworks/easyocr.rst
  docs/source/frameworks/gluon.rst
  docs/source/frameworks/h2o.rst
  docs/source/frameworks/mlflow.rst
  docs/source/frameworks/onnx.rst
  docs/source/frameworks/onnxmlir.rst
  docs/source/frameworks/paddle.rst
  docs/source/frameworks/pycaret.rst
  docs/source/frameworks/spacy.rst
  docs/source/frameworks/statsmodels.rst
  docs/source/frameworks/tensorflow_v1.rst
Due: none

remove old framework code
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
Due: catboost, detectron, easyocr, gluon, h2o, mlflow, onnx, onnxmlir, paddle, pycaret, spacy, statsmodels, e2e-tests, unit-tests

fix: propagate should be false (#2594)
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

fix: some stuff
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests
