Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

skip docker deployment of e2e tests on Windows
  .github/workflows/ci.yml
  tests/e2e/bento_server_general_features/tests/conftest.py
Due: none

clean
  bentoml/_internal/log.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

Update bento_management.rst
  docs/source/concepts/bento_management.rst
Due: none

Update docs/source/guides/adaptive_batching.rst
  docs/source/guides/adaptive_batching.rst
Due: none

Update bentoml/testing/server.py
  bentoml/testing/server.py
Due: none

Update bentoml/_internal/utils/platform.py
  bentoml/_internal/utils/platform.py
Due: e2e-tests, unit-tests

fix(server): ensure distributed serving / serving on all platforms (#2414)
  .gitattributes
  .github/workflows/ci.yml
  bentoml/_internal/log.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/utils/circus.py
  bentoml/_internal/utils/click.py
  bentoml/_internal/utils/platform.py
  bentoml/testing/server.py
  scripts/ci/run_tests.sh
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features_sync/tests/conftest.py
Due: e2e-tests, unit-tests

updates based on sean's feedback
  docs/source/concepts/bento_management.rst
  docs/source/guides/adaptive_batching.rst
  docs/source/guides/logging.rst
Due: none

chore: remove redundant context naming under service_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/service/inference_api.py
Due: e2e-tests, unit-tests

fix: consistent naming accross docker and build config
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
Due: e2e-tests, unit-tests

fix(internal): utils.finalize_http_response -> utils.set_content_length
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/utils/http.py
Due: e2e-tests, unit-tests

address review comments
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/service/inference_api.py
Due: e2e-tests, unit-tests

remove redundant set_content_length
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

docs: core concept and guides (#2417)
  README.md
  docs/README.md
  docs/source/_static/img/batching-diagram.png
  docs/source/_static/img/bentoml-logs-exception.png
  docs/source/_static/img/bentoml-logs.png
  docs/source/concepts/api_io_descriptors.rst
  docs/source/concepts/bento_management.rst
  docs/source/concepts/service_definition.rst
  docs/source/guides/adaptive_batching.rst
  docs/source/guides/custom_endpoints.rst
  docs/source/guides/logging.rst
  docs/source/guides/multi_models.rst
Due: none

chore(server): default values for entrypoints (#2401)
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

fix test issue
  bentoml/_internal/frameworks/catboost.py
Due: catboost, e2e-tests, unit-tests

fix(ci): use local bentoml in e2e test (#2403)
  bentoml/testing/server.py
  tests/e2e/bento_server_general_features/bentoml
  tests/e2e/bento_server_general_features/tests/conftest.py
  tests/e2e/bento_server_general_features_sync/bentoml
  tests/e2e/bento_server_general_features_sync/tests/conftest.py
Due: none

feat(internal): implement request contexts and check inference API types (#2375)
  bentoml/__init__.py
  bentoml/_internal/context.py
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/service/inference_api.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/formparser.py
  bentoml/_internal/utils/http.py
Due: e2e-tests, unit-tests

fix: ensure compatibility with attrs 20.1.0 (#2423)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

asdf
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
Due: e2e-tests, unit-tests

fix(sdk): remote exception (#2427)
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
Due: e2e-tests, unit-tests

Runners refactoring: init commit
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

chore(server): resource utils
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
  setup.cfg
Due: detectron, easyocr, gluon, lightgbm, onnx, paddle, spacy, xgboost, e2e-tests, unit-tests

chore(server): resource utils (#2370)
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
  setup.cfg
Due: detectron, easyocr, gluon, lightgbm, onnx, paddle, spacy, xgboost, e2e-tests, unit-tests

added details for each paramters in options
  docs/source/concepts/building_bentos.rst
Due: none

chore: add runners-1.0 to CI
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
Due: none

refactor
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/schedule_strategy.py
Due: e2e-tests, unit-tests

feat(internal): add signature to Model and remove bentoml_version
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

discussion sync
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

finish runnable
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

finish strategy
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
Due: e2e-tests, unit-tests

working on runner/runner app
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

finish runner / runner app
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

working on runner resources
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix: consistent naming accross docker and build config (#2426)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
Due: e2e-tests, unit-tests

refactor: runner/runnable interface (#2432)
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/schedule_strategy.py
Due: e2e-tests, unit-tests

feat(internal): add signature to Model and remove bentoml_version (#2433)
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Update model.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
