Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, tensorflow_v1, transformers, xgboost, e2e-tests-http, e2e-tests-grpc, unit-tests

fix typo
  examples/custom_python_model/simple_pickable_model/service.py
Due: none

chore: locking dependencies resolution
  pyproject.toml
Due: none

docs: using async implementation (#3060)
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/keras.rst
  docs/source/frameworks/onnx.rst
  docs/source/frameworks/transformers.rst
  docs/source/frameworks/xgboost.rst
  examples/custom_model_runner/service.py
  examples/custom_python_model/lda_classifier/service.py
  examples/custom_python_model/simple_pickable_model/service.py
  examples/custom_runner/nltk_pretrained_model/service.py
  examples/custom_runner/torch_hub_yolov5/service.py
  examples/custom_web_serving/fastapi_example/service.py
  examples/custom_web_serving/flask_example/service.py
  examples/kfserving/service.py
  examples/mlflow/lightgbm/service.py
  examples/mlflow/pytorch/service.py
  examples/pydantic_validation/service.py
  examples/quickstart/README.md
  examples/quickstart/service.py
  examples/sklearn/linear_regression/service.py
  examples/sklearn/pipeline/service.py
  examples/xgboost/agaricus.py
Due: none

fix(ci): running windows test
  bentoml/testing/pytest/plugin.py
Due: none

docs(framework): fix typos in TensorFlow framework docs
  docs/source/frameworks/tensorflow.rst
Due: none

docs(framework): fix typos in TensorFlow framework docs (#3065)
  docs/source/frameworks/tensorflow.rst
Due: none

docs: cleanup
  docs/source/concepts/bento.rst
  docs/source/concepts/runner.rst
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/pytorch_lightning.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/guides/grpc.rst
  requirements/tests-requirements.txt
Due: none

chore: remove space for requirements.txt
  requirements/tests-requirements.txt
Due: none

update init file to include matrics
  .gitignore
  bentoml/__init__.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/metrics.py
  bentoml/metrics.pyi
  tests/unit/test_metrics.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: __dir__ and __getattr__
  bentoml/metrics.py
  bentoml/metrics.pyi
  scripts/tools/formatter.sh
  tests/unit/test_metrics.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix: tests
  bentoml/__init__.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/metrics.pyi
  tests/unit/test_metrics.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

revert: changes from main
  .gitignore
Due: none

feat: expose metrics client via `bentoml.metrics` (#3053)
  bentoml/__init__.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/metrics.py
  bentoml/metrics.pyi
  scripts/tools/formatter.sh
  tests/unit/test_metrics.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix(containerize): kaniko support (#3047)
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

docs: cleanup and fix broken links (#3066)
  docs/source/concepts/bento.rst
  docs/source/concepts/runner.rst
  docs/source/frameworks/catboost.rst
  docs/source/frameworks/pytorch_lightning.rst
  docs/source/frameworks/tensorflow.rst
  docs/source/guides/grpc.rst
  requirements/tests-requirements.txt
Due: none

fix(pytest): export plugin lazily via environment variables
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  DEVELOPMENT.md
  pyproject.toml
Due: none

chore(test): cleanup
  tests/integration/conftest.py
  tests/integration/frameworks/conftest.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/utils/helpers.py
Due: none

re-Fix mlflow models:/ import
  bentoml/_internal/frameworks/mlflow.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
Due: mlflow, e2e-tests-http, e2e-tests-grpc, unit-tests

fix(mlflow): cleanup if temporary models:/ exists (#3075)
  bentoml/_internal/frameworks/mlflow.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
Due: mlflow, e2e-tests-http, e2e-tests-grpc, unit-tests

chore(cli): lazy import bentoml to avoid side effects (#3057)
  bentoml_cli/bentos.py
  bentoml_cli/cli.py
  bentoml_cli/env.py
  bentoml_cli/models.py
  bentoml_cli/utils.py
  bentoml_cli/yatai.py
Due: none

chore(deps): ensure grpc resolve dependencies correctly (#3062)
  pyproject.toml
Due: none

fix(ci): running windows test (#3063)
  bentoml/testing/pytest/plugin.py
Due: none

fix(pytest): export plugin lazily via environment variables (#3068)
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  DEVELOPMENT.md
  pyproject.toml
Due: none

chore(test): cleanup (#3070)
  tests/integration/conftest.py
  tests/integration/frameworks/conftest.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/utils/helpers.py
Due: none

fix: remove 1.4 EOF for specific distributions
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/cuda_debian.j2
  bentoml/_internal/bento/docker/templates/cuda_ubi8.j2
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: move GPU warning to debug
  bentoml/_internal/resource.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore(log): move GPU warning to debug (#3078)
  bentoml/_internal/resource.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: remove config class
  bentoml/_internal/server/grpc/__init__.py
  bentoml/_internal/server/grpc/config.py
  bentoml/_internal/server/grpc/server.py
  bentoml/serve.py
  bentoml_cli/worker/grpc_api_server.py
  bentoml_cli/worker/grpc_dev_api_server.py
  tests/unit/grpc/server/__init__.py
  tests/unit/grpc/server/test_config.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: move startup after health checker is ready
  bentoml/_internal/server/grpc/server.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix: ensure prometheus dir is created
  bentoml/serve.py
  bentoml/start.py
  bentoml_cli/worker/grpc_api_server.py
  bentoml_cli/worker/grpc_dev_api_server.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

feat: skafolding onnxmlir support
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/utils/buildx.py
  bentoml/onnx.py
  bentoml/onnxmlir.py
Due: onnxmlir, e2e-tests-http, e2e-tests-grpc, unit-tests

feat: zsh autocompletion
  Makefile
  bentoml_cli/bentos.py
  completions/bentoml.zsh
Due: none

fix(containerize): ensure only 1.2 features are used (#3076)
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/cuda_debian.j2
  bentoml/_internal/bento/docker/templates/cuda_ubi8.j2
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix(grpc): ensure prometheus dir is created (#3082)
  bentoml/serve.py
  bentoml/start.py
  bentoml_cli/worker/grpc_api_server.py
  bentoml_cli/worker/grpc_dev_api_server.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix: tagging docker image by bento
  bentoml/bentos.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: simplify grpc server implementation (#3079)
  bentoml/_internal/server/grpc/__init__.py
  bentoml/_internal/server/grpc/config.py
  bentoml/_internal/server/grpc/server.py
  bentoml/serve.py
  bentoml_cli/worker/grpc_api_server.py
  bentoml_cli/worker/grpc_dev_api_server.py
  tests/unit/grpc/server/__init__.py
  tests/unit/grpc/server/test_config.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: refactor to show HTTPS message
  bentoml/serve.py
  bentoml/start.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

feat: gRPC ssl
  bentoml/_internal/server/grpc/server.py
  bentoml/serve.py
  bentoml/start.py
  bentoml_cli/serve.py
  bentoml_cli/start.py
  bentoml_cli/worker/grpc_api_server.py
  bentoml_cli/worker/grpc_dev_api_server.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

chore: update start impl
  bentoml/start.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

fix: inject in top level API
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/server/grpc/server.py
  bentoml/serve.py
  bentoml/start.py
Due: e2e-tests-http, e2e-tests-grpc, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  fastai: any of: bentoml/fastai.py, bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  picklable_model: any of: bentoml/_internal/frameworks/picklable.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow_v2.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  tensorflow_v1: any of: bentoml/_internal/frameworks/tensorflow_v1.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  e2e-tests-http: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  e2e-tests-grpc: any of: bentoml/**/*, bentoml/grpc/utils.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing, bentoml/types.py, bentoml/_internal/types.py, bentoml/_internal/external_typing, bentoml/__main__.py, bentoml/io.py, tests, typings
