Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: Update bentoml/bentos.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix: use `torch.from_numpy()` instead of `torch.Tensor()` to keep data type (#2951)
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

Update pytorch.rst
  docs/source/frameworks/pytorch.rst
Due: none

add: import bentoml
  docs/source/frameworks/pytorch.rst
Due: none

docs: fix wrong name for example neural net (#2959)
  docs/source/frameworks/pytorch.rst
Due: none

chore: update tag to be list type
  bentoml/bentos.py
Due: e2e-tests, unit-tests

docs: fix bentoml containerize command help message (#2957)
  bentoml/bentos.py
  bentoml_cli/containerize.py
Due: e2e-tests, unit-tests

implement logging configuration
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

add docs
  docs/source/guides/logging.rst
Due: none

Relax Regex for setting environment variables
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix: remove unused --no-trunc option in bentoml list
  bentoml_cli/bentos.py
Due: none

fix: remove unused --no-trunc option in `bentoml models list`
  bentoml_cli/models.py
Due: none

chore(cli): remove unused `--no-trunc` (#2965)
  bentoml_cli/bentos.py
  bentoml_cli/models.py
Due: none

remove options to configure logging format and datefmt
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
  docs/source/guides/logging.rst
Due: e2e-tests, unit-tests

Update variables in metric names as labels
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/utils/metrics.py
Due: e2e-tests, unit-tests

Delay runner metrics initialization
  bentoml/_internal/marshal/dispatcher.py
Due: e2e-tests, unit-tests

use eager imports
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

undo output_batch_dim can be tuple
  bentoml/_internal/runner/runnable.py
Due: e2e-tests, unit-tests

feature(runner): add multiple output support
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/runner_app.py
Due: keras, e2e-tests, unit-tests

undo output_batch_dim can be tuple
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

add e2e test cases
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: none

standardise naming
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

fix: relax regex for setting environment variables (#2964)
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

refactor(metrics): use new metrics names
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/context.py
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/serve.py
  bentoml_cli/worker/runner.py
Due: e2e-tests, unit-tests

add config; fix typing
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/utils/alg.py
Due: e2e-tests, unit-tests

asdf
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

Fix docs on access logs
  docs/source/guides/logging.rst
Due: none

docs: update wrong paths for disabling logs (#2974)
  docs/source/guides/logging.rst
Due: none

feat: track serve update for start subcommands
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/start.py
Due: e2e-tests, unit-tests

Update start.py
  bentoml/start.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/server/instruments.py
Due: e2e-tests, unit-tests

feat(proto): generic service protobuf definition
  bentoml/grpc/v1alpha1/__init__.py
  bentoml/grpc/v1alpha1/service.proto
  bentoml/grpc/v1alpha1/service_test.proto
  bentoml/protos/buf.yaml
Due: e2e-tests, unit-tests

chore(misc): update documentation and generation scripts
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/lifecycle/post-create
  .devcontainer/lifecycle/post-start
  .github/workflows/ci.yml
  .gitignore
  DEVELOPMENT.md
  MANIFEST.in
  Makefile
  bentoml/grpc/__init__.py
  bentoml/grpc/buf.yaml
  bentoml/protos/buf.yaml
  codecov.yml
  pyproject.toml
  requirements/dev-requirements.txt
  requirements/tests-requirements.txt
  scripts/ci/config.yml
  scripts/ci/run_tests.sh
  scripts/generate_grpc_stubs.sh
  scripts/release_pypi.sh
  setup.cfg
Due: e2e-tests, unit-tests

feat(server): gRPC lifecycle
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/grpc/__init__.py
  bentoml/_internal/server/grpc/config.py
  bentoml/_internal/server/grpc/interceptors/__init__.py
  bentoml/_internal/server/grpc/interceptors/access.py
  bentoml/_internal/server/grpc/interceptors/opentelemetry.py
  bentoml/_internal/server/grpc/interceptors/prometheus.py
  bentoml/_internal/server/grpc/server.py
  bentoml/_internal/server/grpc/servicer.py
  bentoml/_internal/server/grpc_app.py
  bentoml/_internal/server/http/__init__.py
  bentoml/_internal/server/http/access.py
  bentoml/_internal/server/http/instruments.py
  bentoml/_internal/server/http_app.py
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/platform.py
  bentoml/exceptions.py
  bentoml/serve.py
  bentoml/start.py
Due: e2e-tests, unit-tests

feat(configuration): gRPC options
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
