Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: Apply suggestions from code review
  bentoml/_internal/frameworks/fastai.py
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/index.rst
  docs/source/index.rst
Due: fastai, e2e-tests, unit-tests

chore: updates ci
  .github/workflows/ci.yml
Due: none

fix: errors docs
  bentoml/_internal/models/model.py
  bentoml/_internal/types.py
  bentoml/bentos.py
  docs/source/frameworks/index.rst
  docs/source/index.rst
  docs/source/reference/stores.rst
Due: e2e-tests, unit-tests

chore: Update docs/source/frameworks/fastai.rst
  docs/source/frameworks/fastai.rst
Due: none

chore: updates fastai exception message
  bentoml/_internal/frameworks/fastai.py
  docs/source/frameworks/fastai.rst
Due: fastai, e2e-tests, unit-tests

fix: fastai lazy imports
  bentoml/_internal/frameworks/fastai.py
Due: fastai, e2e-tests, unit-tests

fix: docs dependencies
  bentoml/_internal/frameworks/fastai.py
  docs/source/conf.py
  requirements/docs-requirements.txt
Due: fastai, e2e-tests, unit-tests

chore: updates test to address new changes
  bentoml/_internal/frameworks/fastai.py
  tests/integration/frameworks/conftest.py
  tests/integration/frameworks/models/fastai.py
  tests/integration/frameworks/test_evalml_impl.py
  tests/integration/frameworks/test_fastai_unit.py
  tests/integration/frameworks/test_fasttext_impl.py
  tests/integration/frameworks/test_jax_impl.py
  tests/integration/frameworks/test_pyspark_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: fastai, e2e-tests, unit-tests

chore: Apply suggestions from code review
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/index.rst
Due: none

revert: changes from comments
  docs/source/frameworks/index.rst
  docs/source/reference/frameworks/index.rst
  tests/integration/frameworks/models/fastai.py
Due: none

chore: update README.md
  README.md
Due: none

chore: Apply suggestions from code review
  docs/source/frameworks/fastai.rst
Due: none

docs(framework): fastai (#2649)
  .github/workflows/ci.yml
  bentoml/_internal/frameworks/fastai.py
  bentoml/_internal/models/model.py
  bentoml/_internal/types.py
  bentoml/bentos.py
  docs/source/concepts/bento.rst
  docs/source/conf.py
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/index.rst
  docs/source/reference/frameworks/fastai.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/index.rst
  docs/source/reference/stores.rst
  requirements/docs-requirements.txt
  tests/integration/frameworks/conftest.py
  tests/integration/frameworks/models/fastai.py
  tests/integration/frameworks/test_evalml_impl.py
  tests/integration/frameworks/test_fastai_unit.py
  tests/integration/frameworks/test_fasttext_impl.py
  tests/integration/frameworks/test_jax_impl.py
  tests/integration/frameworks/test_pyspark_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: fastai, e2e-tests, unit-tests

fix: apply diff
  docs/source/concepts/bento.rst
Due: none

feat: rewrote advanced guides for containerization and add autoescape for jinja templates environment
  .yamllint.yml
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/gen.py
  bentoml/_internal/io_descriptors/multipart.py
  docs/source/concepts/bento.rst
  docs/source/guides/containerization.rst
  docs/source/guides/dockerfile_generation.rst
  docs/source/guides/index.rst
  hooks/pre-commit
Due: e2e-tests, unit-tests

chore: remove autoescape
  bentoml/_internal/bento/gen.py
Due: e2e-tests, unit-tests

docs: Apply suggestions from Chaoyu's code review
  docs/source/guides/containerization.rst
Due: none

chore: revert .github/workflows/codeql-analysis.yml from upstream/main
  .github/workflows/codeql-analysis.yml
Due: none

Update hooks/pre-commit
  hooks/pre-commit
Due: none

chore: address changes from code review and fix yamllint issue
  .github/workflows/codeql-analysis.yml
  .yamllint.yml
  docs/source/concepts/bento.rst
  hooks/pre-commit
Due: none

chore: Update docs/source/guides/containerization.rst
  docs/source/guides/containerization.rst
Due: none

chore: address changes
  docs/source/concepts/bento.rst
  docs/source/guides/containerization.rst
Due: none

chore: address chaoyu comments'
  docs/source/concepts/bento.rst
  docs/source/guides/containerization.rst
Due: none

chore: updates docs
  docs/source/guides/containerization.rst
Due: none

refactor: di containers (#2631)
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/ngrok.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/yatai_rest_api_client/config.py
Due: e2e-tests, unit-tests

fix: spacing and conda exec path
  bentoml/_internal/bento/docker/templates/_macros.j2
  docs/source/guides/containerization.rst
Due: e2e-tests, unit-tests

chore: remove ngrok support as ngrok moves to a paywall
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/ngrok.py
Due: e2e-tests, unit-tests

perf: adding onnxruntime-silicon for m1 devices
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

fix: install.sh should be generated even if requirements.txt is not available to install wheels
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

chore: address chaoyu's comments
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

chore: Update bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/_macros.j2
Due: e2e-tests, unit-tests

chore: remove TypeAlias
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: fix types
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix: install.sh should be optional if python is not specified (#2681)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/templates/_macros.j2
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

chore: remove ngrok support as ngrok moves to a paywall (#2697)
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/ngrok.py
Due: e2e-tests, unit-tests

refactor: move from Converter to GenConverter
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
  bentoml/_internal/tag.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

fix: typing compat
  bentoml/_internal/types.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

chore: updates types for lower python version
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
  requirements/dev-requirements.txt
  setup.cfg
Due: e2e-tests, unit-tests

chore: remove rich traceback in light of exceptiongroup
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
  requirements/dev-requirements.txt
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
