Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

updates
  bentoml/_internal/bento/bento.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/loader.py
  bentoml/_internal/service/openapi.py
  bentoml/_internal/service/service.py
  bentoml/_internal/tag.py
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/cattr.py
Due: sklearn, e2e-tests, unit-tests

remove print
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

Fix ModelInfo cattrs serialization issue (#2446)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/static_content/swagger-ui-bundle.js
  bentoml/_internal/service/loader.py
  bentoml/_internal/service/openapi.py
  bentoml/_internal/service/service.py
  bentoml/_internal/tag.py
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/cattr.py
  bentoml/models.py
  bentoml/picklable_model.py
  bentoml/sklearn.py
  codecov.yml
Due: sklearn, e2e-tests, unit-tests

fix merge error
  bentoml/_internal/io_descriptors/file.py
Due: e2e-tests, unit-tests

feat(internal): File I/O descriptor (re-)implementation (#2272)
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/service/service.py
  bentoml/_internal/types.py
Due: e2e-tests, unit-tests

refactor: datacontainer api changes with ndarray draft
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

chore(runner): use low level nvml API
  bentoml/_internal/runner/resource.py
Due: e2e-tests, unit-tests

feat(internal): update AutoContainer API
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

fix(sklearn): fix load_model
  bentoml/_internal/frameworks/sklearn.py
Due: sklearn, e2e-tests, unit-tests

feat(internal): implement runner app
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/utils/formparser.py
  bentoml/models.py
Due: e2e-tests, unit-tests

Use GitHub user content to host demo image
  DEVELOPMENT.md
Due: none

Remove vscode demo image
  docs/source/_static/img/vscode-select-venv.png
  docs/source/_static/img/vscode-status-bar.png
Due: none

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

Update "custom BentoML source" section
  DEVELOPMENT.md
  README.md
Due: none

docs: Update Development.md (#2424)
  DEVELOPMENT.md
Due: none

docs: Update DEVELOPMENT.md (#2452)
  DEVELOPMENT.md
Due: none

refactor: datacontainer api changes with ndarray draft (#2449)
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

feat(server): implement runner app (#2451)
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/utils/formparser.py
  bentoml/models.py
Due: sklearn, e2e-tests, unit-tests

chore(runner): use low level nvml API (#2450)
  bentoml/_internal/runner/resource.py
Due: e2e-tests, unit-tests

fix(server): fix container in runner app IPC
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix(server): fix container in runner app IPC (#2454)
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

apply scheduling_strategy
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

init workers
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

feat(runner): scheduling strategy (#2453)
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

refactor(runner): update Pandas and Default DataContainer
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

Fix: attribute error runner_type in bento serve (#2457)
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

chore(internal): fix typing issues
  bentoml/_internal/exportable.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/store.py
  bentoml/models.py
Due: e2e-tests, unit-tests

chore(yatai): add version and org_uid to tracking
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/yatai_rest_api_client/config.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
Due: e2e-tests, unit-tests

chore: add yatai environment tracking
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/yatai_rest_api_client/config.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
Due: e2e-tests, unit-tests

chore: update unit tests
  scripts/tools/formatter.sh
  tests/unit/_internal/utils/test_analytics.py
Due: none

chore: lint & fmt
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/yatai_rest_api_client/schemas.py
  bentoml/_internal/yatai_rest_api_client/yatai.py
Due: e2e-tests, unit-tests

chore: forgot to remove lru_cache
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

chore: address comments
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

chore: add pip==22.04 to address pip-tools issue
  bentoml/_internal/utils/analytics/schemas.py
  requirements/tests-requirements.txt
  scripts/ci/run_tests.sh
Due: e2e-tests, unit-tests

refactor(runner): update Pandas and Default DataContainer (#2455)
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

chore(yatai): add version and org_uid to tracking (#2458)
  bentoml/_internal/utils/analytics/schemas.py
  requirements/tests-requirements.txt
  scripts/ci/run_tests.sh
  scripts/tools/formatter.sh
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

chore(internal): fix typing issues (#2460)
  bentoml/_internal/exportable.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/store.py
  bentoml/models.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
