Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

Update scripts/tools/stubs_cleanup.sh
  scripts/tools/stubs_cleanup.sh
Due: none

changes
  docker/.gitignore
  docker/README.md
  docker/manager.py
  docker/manifest.yml
  docker/templates/alpine/base.Dockerfile.j2
  docker/templates/alpine/runtime.Dockerfile.j2
  docker/templates/debian/base.Dockerfile.j2
  docker/templates/debian/cudnn.Dockerfile.j2
  docker/templates/debian/devel.Dockerfile.j2
  docker/templates/debian/runtime.Dockerfile.j2
  docker/templates/docs/README.md.j2
  docker/templates/rhel/cudnn.Dockerfile.j2
  docker/templates/rhel/devel.Dockerfile.j2
  docker/templates/rhel/runtime.Dockerfile.j2
  docker/utils.py
Due: none

Re-generate from templates
  docker/bento-server/README.md
  docker/generated/bento-server/alpine3.14/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/centos7/cudnn/Dockerfile
  docker/generated/bento-server/centos7/devel/Dockerfile
  docker/generated/bento-server/centos7/runtime/Dockerfile
  docker/generated/bento-server/centos8/cudnn/Dockerfile
  docker/generated/bento-server/centos8/devel/Dockerfile
  docker/generated/bento-server/centos8/runtime/Dockerfile
  docker/generated/bento-server/debian10/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
Due: none

updates
  docker/README.md
  docker/manager.py
  docker/utils.py
Due: none

refactor: bento server base image (#2119)
  docker/.gitignore
  docker/README.md
  docker/bento-server/README.md
  docker/docs/DEV.md
  docker/generated/bento-server/alpine3.14/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/centos7/cudnn/Dockerfile
  docker/generated/bento-server/centos7/devel/Dockerfile
  docker/generated/bento-server/centos7/runtime/Dockerfile
  docker/generated/bento-server/centos8/cudnn/Dockerfile
  docker/generated/bento-server/centos8/devel/Dockerfile
  docker/generated/bento-server/centos8/runtime/Dockerfile
  docker/generated/bento-server/debian10/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/manager.py
  docker/manifest.yml
  docker/templates/alpine/base.Dockerfile.j2
  docker/templates/alpine/runtime.Dockerfile.j2
  docker/templates/debian/base.Dockerfile.j2
  docker/templates/debian/cudnn.Dockerfile.j2
  docker/templates/debian/devel.Dockerfile.j2
  docker/templates/debian/runtime.Dockerfile.j2
  docker/templates/docs/README.md.j2
  docker/templates/rhel/cudnn.Dockerfile.j2
  docker/templates/rhel/devel.Dockerfile.j2
  docker/templates/rhel/runtime.Dockerfile.j2
  docker/utils.py
Due: none

feat: stubs cleanup (#2088)
  Makefile
  hooks/pre-commit
  requirements/dev-requirements.txt
  scripts/tools/formatter.sh
  scripts/tools/stubs_cleanup.sh
Due: none

expose Runner & SimpleRunner class to user
  bentoml/__init__.py
  bentoml/_internal/runner/__init__.py
Due: e2e-tests, unit-tests

Fix bento from_fs warning
  bentoml/_internal/bento/bento.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

remove unimplemented placeholder
  bentoml/_internal/frameworks/flax.py
  bentoml/flax.py
Due: flax, e2e-tests, unit-tests

Use public API for import if possible
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/frameworks/tensorflow.py
Due: e2e-tests, unit-tests

fix: expose Runner and SimpleRunner class + misc fixes (#2120)
  bentoml/__init__.py
  bentoml/_internal/bento/bento.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/flax.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/__init__.py
  bentoml/_internal/service/loader.py
  bentoml/flax.py
Due: flax, e2e-tests, unit-tests

fix: type error in yatai_client caused by bento refactoring
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

fix release script
  scripts/release_docker_images.sh
  scripts/release_pypi.sh
Due: none

fix: type error in yatai_client caused by bento refactoring (#2121)
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

s/build_args/build_arg/
  docker/README.md
Due: none

remove 3.10 image for now
  docker/manager.py
  setup.cfg
Due: none

"bentoml-1.0" => "main"
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/frameworks.yml
  codecov.yml
  hooks/pre-commit
  typings/README.md
Due: none

fix is_pypi_installed_bentoml
  bentoml/_internal/configuration/__init__.py
Due: e2e-tests, unit-tests

use dockerhub released image
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

remove 3.10 in PYTHON_SUPPORTED_VERSIONS
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

move docs to generated folder
  docker/generated/bento-server/README.md
  docker/manager.py
Due: none

Update README.md.j2
  docker/templates/docs/README.md.j2
Due: none

re-generate bentoserver docs
  docker/generated/bento-server/README.md
Due: none

Update docker/README.md
  docker/README.md
Due: none

formatting
  docker/manager.py
Due: none

updates
  .github/workflows/ci.yml
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  setup.cfg
Due: e2e-tests, unit-tests

Update setup.cfg
  setup.cfg
Due: none

chore: base image release script fix (#2122)
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/frameworks.yml
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/configuration/__init__.py
  codecov.yml
  docker/README.md
  docker/bento-server/README.md
  docker/generated/bento-server/README.md
  docker/manager.py
  hooks/pre-commit
  scripts/release_docker_images.sh
  scripts/release_pypi.sh
  setup.cfg
  typings/README.md
Due: e2e-tests, unit-tests

slim => debian, require setting `devel` parameter
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  docker/README.md
  docker/manager.py
  docker/manifest.yml
  docker/templates/docs/README.md.j2
Due: e2e-tests, unit-tests

feature: implement CondaOptions
  bentoml/_internal/bento/build_config.py
  tests/unit/_internal/bento/simplebento/environment.yaml
Due: e2e-tests, unit-tests

fix: remove draft codes
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

more refactoring & fix readme generation
  bentoml/_internal/bento/docker.py
  docker/manager.py
Due: e2e-tests, unit-tests

re-generate
  docker/generated/bento-server/README.md
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
Due: none

fix readme title
  docker/generated/bento-server/README.md
  docker/manager.py
  docker/templates/docs/README.md.j2
Due: none

fix lint error
  bentoml/_internal/bento/docker.py
Due: e2e-tests, unit-tests

chore: fix bentoserver base image release (#2125)
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
  docker/README.md
  docker/generated/bento-server/README.md
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/manager.py
  docker/manifest.yml
  docker/templates/docs/README.md.j2
Due: e2e-tests, unit-tests

fix framework module load check
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: e2e-tests, unit-tests

fix type checking import
  bentoml/_internal/frameworks/tensorflow.py
Due: e2e-tests, unit-tests
