Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore: address pep8 bot
  tests/integration/frameworks/models/transformers.py
Due: none

chore: Apply suggestions from code review
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

chore: update tests
  tests/integration/frameworks/test_transformers_unit.py
Due: none

Add reference
  bentoml/_internal/frameworks/transformers.py
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/transformers.rst
Due: transformers, e2e-tests, unit-tests

fix: some minor docs format (#2703)
  docs/source/frameworks/fastai.rst
  docs/source/guides/containerization.rst
Due: none

fix(service): the bento not works without the default model store (#2713)
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

Update transformers.py
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

docs: Add Hugging Face Transformers framework guide (#2712)
  bentoml/_internal/frameworks/transformers.py
  docs/source/frameworks/transformers.rst
  docs/source/index.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/transformers.rst
Due: transformers, e2e-tests, unit-tests

fix logging for reload
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
Due: e2e-tests, unit-tests

updates
  bentoml/__init__.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/io_descriptors/numpy.py
Due: mlflow, e2e-tests, unit-tests

print server logs to stdout
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

fix watchfiles test
  tests/unit/_internal/utils/circus/test_watchfilesplugin.py
Due: none

link to adaptive batching in adaptive batching section
  docs/source/frameworks/xgboost.rst
Due: none

docs(xgboost): write XGBoost guide
  docs/source/frameworks/xgboost.rst
Due: none

docs: add runner debugging guide
  docs/source/concepts/service.rst
Due: none

add xgboost api reference
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/xgboost.rst
Due: none

fix: transformers API docs
  bentoml/_internal/frameworks/transformers.py
  docs/source/frameworks/transformers.rst
  docs/source/reference/frameworks/transformers.rst
Due: transformers, e2e-tests, unit-tests

fix(server): print server logs to stdout (#2721)
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

fix(dev-server): fix logging for reload (#2720)
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus/watchfilesplugin.py
  tests/unit/_internal/utils/circus/test_watchfilesplugin.py
Due: e2e-tests, unit-tests

chore: address @sauyon comments
  docs/source/frameworks/transformers.rst
Due: none

update docs
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/io_descriptors/numpy.py
  docs/source/integrations/mlflow.rst
Due: mlflow, e2e-tests, unit-tests

Apply suggestions from code review
  bentoml/_internal/frameworks/mlflow.py
Due: mlflow, e2e-tests, unit-tests

address comments
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/io_descriptors/numpy.py
Due: mlflow, e2e-tests, unit-tests

chore: cleanup ngrok scripts
  bentoml/_internal/server/cli/ngrok.py
Due: e2e-tests, unit-tests

chore: cleanup ngrok scripts (#2724)
  bentoml/_internal/server/cli/ngrok.py
Due: e2e-tests, unit-tests

enable mlflow integration tests
  .github/workflows/frameworks.yml
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
Due: none

update docs
  bentoml/_internal/frameworks/mlflow.py
  docs/source/integrations/mlflow.rst
  docs/source/reference/frameworks/fastai.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/frameworks/mlflow.rst
Due: mlflow, e2e-tests, unit-tests

fix dtype openapi generation
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Update index.rst
  docs/source/frameworks/index.rst
Due: none

improve error message for invalid dtype option
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

update docs
  docs/source/integrations/mlflow.rst
Due: none

fix e2e test
  tests/e2e/bento_server_general_features/tests/test_io.py
Due: none

fix docs link
  docs/source/reference/frameworks/fastai.rst
  docs/source/reference/frameworks/mlflow.rst
  docs/source/reference/frameworks/transformers.rst
Due: none

Update bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/mlflow.py
Due: mlflow, e2e-tests, unit-tests

Apply suggestions from code review
  bentoml/_internal/frameworks/mlflow.py
  docs/source/integrations/mlflow.rst
  docs/source/reference/frameworks/mlflow.rst
Due: mlflow, e2e-tests, unit-tests

Update docs/source/integrations/mlflow.rst
  docs/source/integrations/mlflow.rst
Due: none

fix: transformers API docs (#2723)
  bentoml/_internal/frameworks/transformers.py
  docs/source/frameworks/transformers.rst
  docs/source/reference/frameworks/transformers.rst
Due: transformers, e2e-tests, unit-tests

chore: Update docs/source/frameworks/xgboost.rst
  docs/source/frameworks/xgboost.rst
Due: none
