Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

add build, containerize CLI commands
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/io_descriptors/__init__.py
  bentoml/_internal/server/__init__.py
  bentoml/bentos.py
  bentoml/io.py
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

Update scripts/tools/formatter.sh
  scripts/tools/formatter.sh
Due: none

Update scripts/tools/stubs_cleanup.sh
  scripts/tools/stubs_cleanup.sh
Due: none

Apply suggestions from code review
  scripts/tools/stubs_cleanup.sh
Due: none

chore(runner): replace converting utils; clean unused codes
  bentoml/_internal/marshal/marshal.py
  bentoml/_internal/marshal/utils.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

style: type-safe runner_app.py
  bentoml/_internal/marshal/dispatcher.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix lint error
  bentoml/bentos.py
Due: e2e-tests, unit-tests

feat: add some spinners for pushing and pulling
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

chore: types kwargs
  bentoml/pytorch.py
Due: pytorch, e2e-tests, unit-tests

test: set pyright python version to 3.9
  pyproject.toml
Due: none

support using description from a file: `description: "file: ./READEME.md"`
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

add developer notes on BENTOML_BUNDLE_LOCAL_BUILD env var
  DEVELOPMENT.md
Due: none

fix docker build output
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix import sorting
  bentoml/bentos.py
Due: e2e-tests, unit-tests

add docker build status
  bentoml/bentos.py
Due: e2e-tests, unit-tests

support docker build label and --no-cache option
  bentoml/_internal/cli/containerize.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix: minor fix
  bentoml/_internal/frameworks/tensorflow.py
Due: e2e-tests, unit-tests

refactor: type-safe tensorflow (#2068)
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

use docker cmd directly
  bentoml/_internal/cli/containerize.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

move docker pypi package to test dependency
  requirements/tests-requirements.txt
  setup.cfg
Due: none

formatting
  bentoml/bentos.py
Due: e2e-tests, unit-tests

remove unused import
  bentoml/bentos.py
Due: e2e-tests, unit-tests

formatting
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

fix lint error
  bentoml/_internal/frameworks/tensorflow.py
Due: e2e-tests, unit-tests

fix: fix a typo in guide/monitoring doc
  docs/source/guides/monitoring.rst
Due: none

fix: fix naming and multiarg types
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

chore(pyright-safe): add Params for pytorch (#2066)
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

set DOCKER_SCAN_SUGGEST=false
  bentoml/_internal/cli/containerize.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

feat: add BentoML build & containerize cli (#2100)
  DEVELOPMENT.md
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/io_descriptors/__init__.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/tensorflow.py
  bentoml/bentos.py
  bentoml/io.py
  docs/source/quickstart.rst
  requirements/tests-requirements.txt
  setup.cfg
Due: e2e-tests, unit-tests

test: set pyright python version to 3.9 (#2102)
  pyproject.toml
Due: none

style: minor fix
  bentoml/_internal/io_descriptors/json.py
  bentoml/pytorch_lightning.py
Due: pytorch_lightning, e2e-tests, unit-tests

style: minor fix (#2104)
  bentoml/_internal/io_descriptors/json.py
  bentoml/pytorch_lightning.py
Due: pytorch_lightning, e2e-tests, unit-tests

fix loading pandas on initial import
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

shorter time format in console log
  bentoml/_internal/log.py
Due: e2e-tests, unit-tests

remove import bentoml.sklearn
  docs/source/quickstart.rst
Due: none

fix `bentoml build` section in quickstart guide
  docs/source/quickstart.rst
Due: none

fix bento/readme
  bentoml/_internal/bento/README.md
Due: e2e-tests, unit-tests

add model save confirmation log msg
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests
