Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

resolve merge conflicts
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/test_frameworks.py
Due: none

Uncomment SUPPORTED_RESOURCES check.
  tests/integration/frameworks/test_frameworks.py
Due: none

feat(runner): implement resource configuration (#2632)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/fastai.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/models/model.py
  bentoml/_internal/resource.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
  bentoml/_internal/server/__init__.py
  bentoml/testing/server.py
  docs/source/concepts/runner.rst
  docs/source/guides/configuration.rst
  tests/e2e/bento_server_general_features/server_config_cors_enabled.yml
  tests/e2e/bento_server_general_features/server_config_default.yml
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/onnx.py
  tests/integration/frameworks/models/xgboost.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/test_resource.py
Due: catboost, fastai, keras, lightgbm, onnx, sklearn, transformers, xgboost, e2e-tests, unit-tests

chore: updates docs with latest logs changes
  docs/source/concepts/model.rst
  docs/source/tutorial.rst
Due: none

test(frameworks): move keras_tf2 tests to test_frameworks
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/keras.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/keras.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, e2e-tests, unit-tests

remove unneeded thread number setting
  bentoml/_internal/frameworks/keras.py
Due: keras, e2e-tests, unit-tests

fix file name
  tests/integration/frameworks/models/keras_tf2.py
Due: none

revert: formatting
  docs/source/concepts/model.rst
  docs/source/tutorial.rst
Due: none

test(frameworks): implement test_frameworks for keras (#2667)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/keras.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/keras_tf2.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, e2e-tests, unit-tests

test(frameworks): change pytorch test using test_frameworks
  bentoml/_internal/frameworks/pytorch.py
  tests/integration/frameworks/models/pytorch.py
Due: pytorch, e2e-tests, unit-tests

update ci configurations
  .github/workflows/frameworks.yml
  scripts/ci/config.yml
  tests/integration/frameworks/test_pytorch_impl.py
Due: none

refactor: move unit tests pytorch
  .github/workflows/frameworks.yml
  tests/integration/frameworks/models/pytorch.py
  tests/integration/frameworks/test_pytorch_unit.py
Due: none

refactor: pypi check logic
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

fix(tests): nvidia gpu resource specs should be str or int
  tests/integration/frameworks/test_frameworks.py
Due: none

test(frameworks): change pytorch test using test_frameworks (#2671)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/pytorch.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/pytorch.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_unit.py
Due: pytorch, e2e-tests, unit-tests

fix(tests): nvidia gpu resource specs should be str or int (#2674)
  tests/integration/frameworks/test_frameworks.py
Due: none

fix(ci): migrate itest of torchscript to test frameworks
  bentoml/_internal/frameworks/common/pytorch.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/torchscript.py
Due: e2e-tests, unit-tests

add torchlightning
  bentoml/_internal/frameworks/torchscript.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/torchlightning.py
Due: e2e-tests, unit-tests

fix ci
  .github/workflows/frameworks.yml
  scripts/ci/config.yml
  tests/integration/frameworks/models/pytorch_lightning.py
  tests/integration/frameworks/models/torchscript.py
Due: none

Update tests/integration/frameworks/models/torchlightning.py
  tests/integration/frameworks/models/torchlightning.py
Due: none

fix
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
Due: pytorch_lightning, e2e-tests, unit-tests

fix
  tests/integration/frameworks/models/pytorch_lightning.py
Due: none

fix share code between torchscript&lightning
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
Due: pytorch_lightning, e2e-tests, unit-tests

fix: typing for new class should be a PyTorchRunnable
  bentoml/_internal/frameworks/common/pytorch.py
Due: e2e-tests, unit-tests

tests(framework): torchscript/pytorch_lightning (#2669)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/torchscript.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/pytorch_lightning.py
  tests/integration/frameworks/models/torchscript.py
Due: pytorch_lightning, e2e-tests, unit-tests

chore: update with review from @parano
  docs/source/concepts/model.rst
  docs/source/tutorial.rst
Due: none

refactor: di containers
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/ngrok.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/yatai_rest_api_client/config.py
Due: e2e-tests, unit-tests

Update docs/source/tutorial.rst
  docs/source/tutorial.rst
Due: none

Apply suggestions from code review
  docs/source/tutorial.rst
Due: none

Update docs/source/concepts/model.rst
  docs/source/concepts/model.rst
Due: none

docs: updates with latest logs change (#2672)
  docs/source/concepts/model.rst
  docs/source/tutorial.rst
Due: none

chore: address chaoyu's comments
  bentoml/_internal/configuration/containers.py
Due: e2e-tests, unit-tests

Update models.py
  bentoml/models.py
Due: e2e-tests, unit-tests

revert: pypi check
  bentoml/_internal/configuration/__init__.py
Due: e2e-tests, unit-tests

fix multi-line exception message str
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: keras, lightgbm, onnx, pytorch, pytorch_lightning, sklearn, transformers, xgboost, e2e-tests, unit-tests

Update onnx.py
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

fix: improve import model output (#2676)
  bentoml/models.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
