Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

reduce default timeout to 1s
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

upgrade black default version in CI
  requirements/tests-requirements.txt
Due: none

address feedback
  bentoml/_internal/server/metrics/prometheus.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

fix unit test
  bentoml/_internal/utils/analytics/usage_stats.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

fix e2e tests
  .github/workflows/ci.yml
  requirements/dev-requirements.txt
Due: none

remove 3.6 for now
  .github/workflows/ci.yml
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker.py
Due: e2e-tests, unit-tests

chore: wip
  .gitattributes
  docker/README.md
  docker/manager/_internal/_gen.py
  docker/manager/generate.py
Due: none

chore: cleanup 3.6 from metadata"
  setup.cfg
Due: none

begin working on bentofile anatomy table
  docs/source/guides/building_bentos.rst
Due: none

chore: add debug usage to DEVELOPMENT.md
  DEVELOPMENT.md
Due: none

feat(internal): try to correct missing latest files (#2383)
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

chore: cleanup 3.6 from metadata" (#2388)
  setup.cfg
Due: none

fix: not lock typing_extensions to fix rich and pytorch lightning requirements
  setup.cfg
Due: none

chore: remove unecessary model_store (#2384)
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

fix: not lock typing_extensions to fix rich and pytorch lightning requirements (#2390)
  setup.cfg
Due: none

fix model/bento deletion CLI
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

Update bento_management.py
  bentoml/_internal/cli/bento_management.py
Due: e2e-tests, unit-tests

updates
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

bug: fix CLI command delete with latest tag (#2391)
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

feat: improve list CLI command output (#2392)
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

fix issue caused by BentoModelInfo changes
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

fix: update yatai client to work with BentoInfo changes (#2393)
  bentoml/_internal/yatai_client/__init__.py
Due: e2e-tests, unit-tests

fix(server): duplicate metrics
  bentoml/_internal/server/metrics/prometheus.py
Due: e2e-tests, unit-tests

fix(server): duplicate metrics (#2394)
  bentoml/_internal/server/metrics/prometheus.py
Due: e2e-tests, unit-tests

chore(server): pass runner map through envvar
  bentoml/_internal/server/cli/api_server.py
Due: e2e-tests, unit-tests

chore(server): pass runner map through envvar (#2396)
  bentoml/_internal/server/cli/api_server.py
Due: e2e-tests, unit-tests

fix(server): init prometheus dir for yatai
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/server/cli/api_server.py
Due: e2e-tests, unit-tests

fix(server): init prometheus dir for standalone running (#2397)
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
Due: e2e-tests, unit-tests

allow serving from project dir without specifying service import str
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

fix load success message
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

fix --quiet
  bentoml/_internal/cli/click_utils.py
Due: e2e-tests, unit-tests

fix(#2316): --quiet should set logger level (#2399)
  bentoml/_internal/cli/click_utils.py
Due: e2e-tests, unit-tests

feat: allow serving from project dir using import str from bentofile.yaml (#2398)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

Update catboost.py
  bentoml/_internal/frameworks/catboost.py
Due: catboost, e2e-tests, unit-tests

chore(server): default values for entrypoints
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests

make pylint happy
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
Due: e2e-tests, unit-tests
