Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

docs(internal): use bentoml.Tag to reference Tag
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  docs/source/api/core.rst
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

refactor(internal): move Tag out of types
  bentoml/__init__.py
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/service.py
  bentoml/_internal/store.py
  bentoml/_internal/tag.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/validation.py
  bentoml/_internal/yatai_client/__init__.py
  bentoml/bentos.py
  bentoml/models.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/unit/_internal/bento/test_bento.py
  tests/unit/_internal/test_store.py
Due: e2e-tests, unit-tests

fix: better error message in python < 3.9 (#2352)
  bentoml/_internal/store.py
Due: e2e-tests, unit-tests

fix(frameworks): use bentoml.models.create instead of Model.create
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/models.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

update use-cases for fields
  docs/source/guides/building_bentos.rst
Due: none

chore: im going to take a break from this
  docker/Makefile
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/base/Dockerfile
  docker/generated/bento-server/alpine3.14/devel/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/base/Dockerfile
  docker/generated/bento-server/amazonlinux2/devel/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/debian10/base/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian11/base/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/generated/bento-server/ubi7/base/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/devel/Dockerfile
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/base/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/manager/_click_utils.py
  docker/manager/_utils.py
  docker/manager/build.py
  docker/manager/generate.py
  docker/manager/include.d/spec.yaml.j2
  docker/manifest/bento-server.cuda_v11.5.1.yaml
  docker/poetry.lock
  docker/templates/alpine/base-dockerfile.j2
  docker/templates/alpine/devel-dockerfile.j2
  docker/templates/alpine/runtime-dockerfile.j2
  docker/templates/ami2/base-dockerfile.j2
  docker/templates/debian/base-dockerfile.j2
  docker/templates/rhel/base-dockerfile.j2
  setup.cfg
Due: none

fixes
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: spacy, e2e-tests, unit-tests

fix bento build import_service
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

Update test_analytics.py
  tests/unit/_internal/utils/test_analytics.py
Due: none

fix(frameworks): use bentoml.models.create instead of Model.create (#2360)
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/models.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

style updates
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/cli_events.py
Due: e2e-tests, unit-tests

fix: add change_global_cwd params to bentoml.load (#2356)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/cli/runner.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

refactor ModelSaveEvent
  bentoml/_internal/models/model.py
  bentoml/models.py
Due: e2e-tests, unit-tests

Update models.py
  bentoml/models.py
Due: e2e-tests, unit-tests

refactor bento.yaml file content to include apis, runners and models info
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/models.py
Due: paddle, transformers, e2e-tests, unit-tests

Fix copy file from source to source
  bentoml/_internal/exportable.py
Due: e2e-tests, unit-tests

include bento service as note
  docs/source/guides/building_bentos.rst
Due: none

combine sections and remove unnecessary recs
  docs/source/guides/building_bentos.rst
Due: none

revert: generated changes
  docker/generated/README.md
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/Dockerfile
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/amazonlinux2/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/generated/bento-server/centos7/Dockerfile
  docker/generated/bento-server/centos7/cudnn/Dockerfile
  docker/generated/bento-server/centos7/cudnn/cuda.repo
  docker/generated/bento-server/centos7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/centos7/devel/Dockerfile
  docker/generated/bento-server/centos7/runtime/Dockerfile
  docker/generated/bento-server/centos8/Dockerfile
  docker/generated/bento-server/centos8/cudnn/Dockerfile
  docker/generated/bento-server/centos8/cudnn/cuda.repo
  docker/generated/bento-server/centos8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/centos8/devel/Dockerfile
  docker/generated/bento-server/centos8/runtime/Dockerfile
  docker/generated/bento-server/debian10/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/ubi7/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/cuda.repo
  docker/generated/bento-server/ubi7/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi7/devel/Dockerfile
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/cuda.repo
  docker/generated/bento-server/ubi8/cudnn/nvidia-ml.repo
  docker/generated/bento-server/ubi8/devel/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
Due: none

chore: pep8
  bentoml/_internal/bento/bento.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

Fix copy file from source to source (#2361)
  bentoml/_internal/exportable.py
Due: e2e-tests, unit-tests

Fix extraction of desired Python version
  bentoml/_internal/bento/docker/init.sh
Due: e2e-tests, unit-tests

fix: extraction desired Python version (support python 3.10+) (#2362)
  bentoml/_internal/bento/docker/init.sh
Due: e2e-tests, unit-tests

fix(catboost): remove model_store parameters
  bentoml/_internal/frameworks/catboost.py
Due: catboost, e2e-tests, unit-tests

fix(catboost): remove model_pool parameter to save
  bentoml/_internal/frameworks/catboost.py
Due: catboost, e2e-tests, unit-tests

docs(catboost): update catboost docs
  bentoml/_internal/frameworks/catboost.py
  docs/source/frameworks/catboost.rst
Due: catboost, e2e-tests, unit-tests

feat: ami2
  docker/Makefile
  docker/docker-bake.hcl
  docker/generated/bento-server/amazonlinux2/base/Dockerfile
  docker/generated/bento-server/amazonlinux2/devel/Dockerfile
  docker/generated/bento-server/amazonlinux2/runtime/Dockerfile
  docker/hack/dockerfiles/dev.Dockerfile
  docker/hack/shells/buildx_cleanup
  docker/hack/shells/buildx_misc
  docker/manager/build.py
  docker/templates/ami2/base-dockerfile.j2
  docker/templates/ami2/devel-dockerfile.j2
  docker/templates/ami2/runtime-dockerfile.j2
Due: none

fix: debian releases
  docker/Makefile
  docker/generated/bento-server/debian10/base/Dockerfile
  docker/generated/bento-server/debian10/base/Dockerfile-conda
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile-conda
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile-conda
  docker/generated/bento-server/debian11/base/Dockerfile
  docker/generated/bento-server/debian11/base/Dockerfile-conda
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile-conda
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile-conda
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile-conda
  docker/hack/dockerfiles/dev.Dockerfile
  docker/hack/shells/buildx_misc
  docker/manager/_internal/_funcs.py
  docker/manager/build.py
  docker/templates/debian/base-dockerfile.j2
  docker/templates/debian/conda-base-dockerfile.j2
  docker/templates/debian/conda-cudnn-dockerfile.j2
  docker/templates/debian/conda-devel-dockerfile.j2
  docker/templates/debian/cudnn-dockerfile.j2
  docker/templates/debian/devel-dockerfile.j2
Due: none

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
