Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

fix: lint and checking
  bentoml/_internal/io_descriptors/multipart.py
Due: e2e-tests, unit-tests

fix: types CI
  tests/unit/_internal/io/test_json.py
Due: none

fix: types
  tests/unit/_internal/io/test_json.py
Due: none

fix: annotations before numpy 1.20
  tests/unit/_internal/io/test_json.py
Due: none

chore(str): fixing openapi desc
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/service/inference_api.py
  bentoml/_internal/service/openapi.py
Due: e2e-tests, unit-tests

fix: linting
  tests/unit/_internal/io/test_json.py
Due: none

chore: cool ascii docs for multipart
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/testing/README.md
  tests/integration/frameworks/test_sklearn_impl.py
Due: e2e-tests, unit-tests

fix: types
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/multipart.py
Due: e2e-tests, unit-tests

chore: linting
  bentoml/_internal/io_descriptors/multipart.py
Due: e2e-tests, unit-tests

chore: makes detectron consistent + lint fix
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/utils/__init__.py
  bentoml/catboost.py
  bentoml/detectron.py
  scripts/ci/run_tests.sh
  scripts/ci/style/pylint_check.sh
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/utils/helpers.py
  tests/utils/types.py
Due: catboost, detectron, e2e-tests, unit-tests

chore: cleanup + better string format
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/service/inference_api.py
  bentoml/_internal/service/openapi.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

chore: fix type for tests
  tests/e2e/bento_server_general_features/service.py
Due: none

fix: fmt
  bentoml/_internal/io_descriptors/multipart.py
Due: e2e-tests, unit-tests

chore:fix docs
  bentoml/_internal/io_descriptors/multipart.py
Due: e2e-tests, unit-tests

fix: lint
  bentoml/_internal/server/__init__.py
  bentoml/catboost.py
  bentoml/detectron.py
  bentoml/sklearn.py
  bentoml/testing/server.py
  catboost_info/catboost_training.json
  catboost_info/learn/events.out.tfevents
  catboost_info/learn_error.tsv
  catboost_info/time_left.tsv
  scripts/ci/config.yml
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
Due: catboost, detectron, sklearn, e2e-tests, unit-tests

chore: __str__
  bentoml/_internal/io_descriptors/base.py
Due: e2e-tests, unit-tests

chore: pep8 fix
  bentoml/_internal/io_descriptors/base.py
  bentoml/sklearn.py
Due: sklearn, e2e-tests, unit-tests

chore: remove folder
  catboost_info/catboost_training.json
  catboost_info/learn/events.out.tfevents
  catboost_info/learn_error.tsv
  catboost_info/time_left.tsv
Due: none

simpler __str__ generating
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

remove unused supers
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
Due: e2e-tests, unit-tests

BentoML 1.0 documentation.
  README.md
  docs/source/concepts/bento_management.rst
  docs/source/concepts/building_bentos.rst
  docs/source/concepts/containerize_bentos.rst
  docs/source/concepts/index.rst
  docs/source/concepts/service_definition.rst
  docs/source/conf.py
  docs/source/frameworks.rst
  docs/source/guides/index.rst
  docs/source/index.rst
  docs/source/quickstart.rst
Due: none

Add Service Definition page.
  docs/source/concepts/api_io_descriptors.rst
  docs/source/concepts/index.rst
  docs/source/concepts/service_definition.rst
  docs/source/guides/multi_models.rst
  docs/source/guides/runner.rst
  docs/source/guides/server.rst
  docs/source/quickstart.rst
  requirements/docs-requirements.txt
Due: none

Apply suggestions from code review
  README.md
  docs/source/index.rst
Due: none

Update bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/multipart.py
Due: e2e-tests, unit-tests

chore: fix codecov not carryforward not related tests (#2058)
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  codecov.yml
Due: none

docs: 1.0 release user documentation (#2060)
  README.md
  docs/source/concepts/api_io_descriptors.rst
  docs/source/concepts/bento_management.rst
  docs/source/concepts/building_bentos.rst
  docs/source/concepts/containerize_bentos.rst
  docs/source/concepts/index.rst
  docs/source/concepts/service_definition.rst
  docs/source/conf.py
  docs/source/frameworks.rst
  docs/source/guides/index.rst
  docs/source/guides/multi_models.rst
  docs/source/guides/runner.rst
  docs/source/guides/server.rst
  docs/source/index.rst
  docs/source/quickstart.rst
  requirements/docs-requirements.txt
Due: none

chore: trigger keras tests with tensorflow tests (#2056)
  .github/workflows/frameworks.yml
Due: none

Update scripts/ci/config.yml
  scripts/ci/config.yml
Due: none

Update requirements/dev-requirements.txt
  requirements/dev-requirements.txt
Due: none

Update README.md
  README.md
Due: none

docs: Update README.md styling (#2061)
  README.md
Due: none

fix(internal): don't move models
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

chore: pylint
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

chore: better pre-commit message
  .pre-commit-config.yaml
Due: none

chore: catboost, detectron, sklearn changes
  bentoml/catboost.py
  bentoml/detectron.py
  bentoml/sklearn.py
  tests/integration/conftest.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
Due: catboost, detectron, sklearn, e2e-tests, unit-tests

revert: remove changes for catboost which is addressed in a separate PR
  bentoml/catboost.py
  bentoml/detectron.py
  bentoml/sklearn.py
  tests/integration/conftest.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/utils/helpers.py
  tests/utils/types.py
Due: catboost, detectron, sklearn, e2e-tests, unit-tests

chore: update detectron tests
  bentoml/detectron.py
  scripts/ci/run_tests.sh
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
Due: detectron, e2e-tests, unit-tests

chore: fix sklearn
  tests/integration/frameworks/test_sklearn_impl.py
Due: none
