Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

fix: handle crash when runners return a generator (#2275)
  bentoml/_internal/runner/container.py
  tests/unit/_internal/runner/container.py
Due: e2e-tests, unit-tests

feature(cli): add get command
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

better doc strings and path method
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

refactor(internal): make the bento fs onsetattr a validator
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

fix(internal): fix issue with global model store after load
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

Add support for parquet-input to PandasDataFrame.
  bentoml/_internal/io_descriptors/pandas.py
Due: e2e-tests, unit-tests

feature(cli): add get command (#2276)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

Update logging format to re-order trace data and add field names.
  bentoml/_internal/log.py
  bentoml/_internal/trace.py
Due: e2e-tests, unit-tests

Rename unknown_client in access log to a simple underscore to avoid confusion.
  bentoml/_internal/server/access.py
Due: e2e-tests, unit-tests

Update index.rst
  docs/source/index.rst
Due: none

updated messaging on readme
  README.md
Due: none

updated docker dev page
  docker/README.md
Due: none

updated docker hub messaging
  docker/templates/docs/README.md.j2
Due: none

docs: Update index.rst (#2285)
  README.md
  docker/README.md
  docker/templates/docs/README.md.j2
  docs/source/index.rst
Due: none

fix(internal): fix issue with global model store after load (#2280)
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

feat: Update logging format to re-order trace data and add field names (#2283)
  bentoml/_internal/log.py
  bentoml/_internal/server/access.py
  bentoml/_internal/trace.py
Due: e2e-tests, unit-tests

refactor(internal): make the bento fs onsetattr a validator (#2279)
  bentoml/_internal/bento/bento.py
Due: e2e-tests, unit-tests

fix(sdk): exception handling
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/service.py
Due: e2e-tests, unit-tests

chore: change default serving port to 3000 (#2273)
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/utils/benchmark.py
  bentoml/testing/server.py
  docs/source/concepts/containerize_bentos.rst
  docs/source/guides/gpu.rst
  docs/source/guides/tracing.rst
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

chore: returns pipelines automatically
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/runner/utils.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_transformers_impl.py
Due: transformers, e2e-tests, unit-tests

chore: fmt
  bentoml/_internal/frameworks/transformers.py
  typings/fs/ftpfs.pyi
  typings/fs/memoryfs.pyi
  typings/importlib_metadata/__init__.pyi
Due: transformers, e2e-tests, unit-tests

Revert "chore: change default serving port to 3000 (#2273)"
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/utils/benchmark.py
  bentoml/testing/server.py
  docs/source/concepts/containerize_bentos.rst
  docs/source/guides/gpu.rst
  docs/source/guides/tracing.rst
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

Revert "chore: change default serving port to 3000 (#2273)" (#2294)
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/utils/benchmark.py
  bentoml/testing/server.py
  docs/source/concepts/containerize_bentos.rst
  docs/source/guides/gpu.rst
  docs/source/guides/tracing.rst
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

move metrics endpoint into the middleware
  bentoml/_internal/server/access.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

respect metrics config to turn on/off metrics
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

fix(server): respect metrics configs to turn on/off metrics (#2295)
  bentoml/_internal/server/access.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

Fix logging related issues.
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
  bentoml/_internal/server/access.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/trace.py
Due: e2e-tests, unit-tests

Fix HTTP status code of TOO_MANY_REQUESTs.
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

Fix HTTP status code of TOO_MANY_REQUESTs. (#2296)
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

asdf
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
  bentoml/exceptions.py
Due: e2e-tests, unit-tests

Add access logging configuraiton.
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/log.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

fi
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

refactor(sdk): runner
  bentoml/_internal/context.py
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/service_app.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

fix resources_quota
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix it
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
  tests/integration/frameworks/paddle/test_paddle_runner.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_easyocr_impl.py
  tests/integration/frameworks/test_gluon_impl.py
  tests/integration/frameworks/test_h2o_impl.py
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_lightgbm_impl.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_onnxmlir_impl.py
  tests/integration/frameworks/test_picklable_model_impl.py
  tests/integration/frameworks/test_pycaret_impl.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
  tests/integration/frameworks/test_tensorflow_v1_impl.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: none

refactor(sdk): simpler runner creation
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/runner.py
  docker/utils.py
  docs/source/frameworks/tensorflow_v1.rst
  setup.cfg
Due: lightgbm, pycaret, e2e-tests, unit-tests

refactor(frameworks): many fixes
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/external_typing/numpy.py
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/common/__init__.py
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
  pyproject.toml
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

fix runner
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix for <py38
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests
