Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: add more information for debugging
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

chore: move env to --
  bentoml/__main__.py
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

revert: changes from upstream/main
  bentoml/__main__.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/utils/__init__.py
  bentoml/_internal/utils/analytics/cli_events.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

chore: updates
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

fix: conda outside of environment
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: changing alignment
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

feat: --env for cli (#2696)
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

fix: some minor docs format
  docs/source/frameworks/fastai.rst
  docs/source/guides/containerization.rst
Due: none

refactor(cli): fixing types and restore previous state for environment set
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

fix: logging level consistency
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/log.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/ngrok.py
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/utils/analytics/schemas.py
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/_internal/cli/click_utils.py
Due: e2e-tests, unit-tests

docs: add exception for --reload on windows
  bentoml/_internal/cli/bento_server.py
Due: e2e-tests, unit-tests

chore: address changes for containerization.rst
  docs/source/guides/containerization.rst
Due: none

updates
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/mlflow.py
  docs/source/integrations/mlflow.rst
Due: mlflow, e2e-tests, unit-tests

fix(service): patch the model_store rather than set/reset
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

fix(service): patch the model_store rather than set/reset (#2709)
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

fix: modelstore should set to bento when on container
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/utils/buildx.py
Due: e2e-tests, unit-tests

fix: reload on windows"
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: add warning for windows users
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/configuration/containers.py
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/_internal/utils/buildx.py
Due: e2e-tests, unit-tests

fix: reload on windows (#2711)
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

fix: starting from bento should use bento's modelstore instead of global
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

chore: revert changes from upstream/main
  bentoml/_internal/bento/docker/templates/base.j2
Due: e2e-tests, unit-tests

Add Hugging Face Transformers framework guide.
  docs/source/frameworks/transformers.rst
  docs/source/index.rst
Due: none

fix(service): the bento not works without the default model store
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

Update transformers.rst
  docs/source/frameworks/transformers.rst
Due: none

docs: custom runner usage
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  docs/source/concepts/runner.rst
Due: e2e-tests, unit-tests

fix: check type for models
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

Update docs/source/guides/containerization.rst
  docs/source/guides/containerization.rst
Due: none

chore: generic components name for supervisor (#2698)
  bentoml/__main__.py
  bentoml/_internal/cli/__init__.py
Due: e2e-tests, unit-tests

test: migrating to general testing framework
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/transformers.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/transformers.py
  tests/integration/frameworks/test_transformers_unit.py
Due: transformers, e2e-tests, unit-tests

chore: update logging comments from suggestion.
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

chore: revert changes
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

feat: using pipeline registry and backward compatibility
  bentoml/_internal/external_typing/transformers.py
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

test: added tests and covers to 90%
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/pkg.py
  bentoml/_internal/utils/tensorflow.py
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/transformers.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_transformers_unit.py
Due: transformers, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
