Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

feat: surface all options to bentoml containerize
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

fix: stream logs via check_outputs
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/utils/buildx.py
Due: e2e-tests, unit-tests

Update custom.css
  docs/source/_static/css/custom.css
Due: none

Address PR comments.
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
Due: transformers, e2e-tests, unit-tests

feat: buildx backend for `bentoml containerize` (#2483)
  bentoml/_internal/cli/containerize.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
  docs/source/conf.py
  tests/e2e/bento_server_general_features/train.py
Due: xgboost, e2e-tests, unit-tests

Update transformers.py
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

move frmo sphinx-panels to sphinx-design
  docs/README.md
  docs/source/_static/css/custom.css
  docs/source/conf.py
  docs/source/index.rst
  docs/source/integrations/index.rst
  docs/source/integrations/prefect.rst
  requirements/docs-requirements.txt
Due: none

refactor(runner): simplify batch dim
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/utils/http.py
  requirements/dev-requirements.txt
Due: sklearn, e2e-tests, unit-tests

Add Transformers framework tests.
  scripts/ci/config.yml
  tests/integration/frameworks/test_transformers_impl.py
Due: none

fix numpy example
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

add papercups intergration
  docs/source/_templates/base.html
Due: none

style
  bentoml/_internal/frameworks/picklable.py
Due: e2e-tests, unit-tests

try fix
  bentoml/testing/server.py
Due: none

refactor(runner): simplify batch dim (#2484)
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/runner_app.py
  bentoml/_internal/utils/http.py
  bentoml/testing/server.py
  requirements/dev-requirements.txt
Due: sklearn, e2e-tests, unit-tests

fix(runner): removing inspect
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/remote.py
Due: e2e-tests, unit-tests

tutorials first pass
  docs/README.md
  docs/source/concepts/bento.rst
  docs/source/concepts/model.rst
  docs/source/concepts/service.rst
  docs/source/guides/batch_scoring.rst
  docs/source/guides/benchmark.rst
  docs/source/guides/monitoring.rst
  docs/source/tutorial.rst
Due: none

fix(runner): removing inspect (#2485)
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/remote.py
Due: e2e-tests, unit-tests

update main concepts
  docs/source/concepts/bento.rst
  docs/source/concepts/index.rst
  docs/source/concepts/model.rst
  docs/source/frameworks/index.rst
  docs/source/guides/batch_scoring.rst
  docs/source/guides/index.rst
  docs/source/tutorial.rst
Due: none

fix(server): fix development_mode in the config
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
Due: e2e-tests, unit-tests

fix(server): fix development_mode in the config (#2488)
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
Due: e2e-tests, unit-tests

fix(tests): update model unit tests for new batch_dim type
  tests/unit/_internal/models/test_model.py
Due: none

fix(model): fallback to generic types to work around attrs bugs
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix(model): correctly load custom objects
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix(server): correctly use starlette APIs
  bentoml/_internal/context.py
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/formparser.py
  bentoml/_internal/utils/http.py
Due: e2e-tests, unit-tests

fix(types): return to strict typing but use library types
  bentoml/_internal/context.py
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/pandas.py
  pyproject.toml
Due: e2e-tests, unit-tests

add opengraph and google tag manager
  docs/source/_templates/base.html
  docs/source/conf.py
  requirements/docs-requirements.txt
Due: none

use sphinx-autobuild for make watch-docs
  DEVELOPMENT.md
  Makefile
  docs/README.md
  requirements/docs-requirements.txt
  scripts/watch_docs.sh
Due: none

Allow kwargs from model.with_options() to be pass through.
  bentoml/_internal/frameworks/transformers.py
  tests/integration/frameworks/test_transformers_impl.py
Due: transformers, e2e-tests, unit-tests

fix(server): fix containerize subcommand
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/utils/buildx.py
  bentoml/_internal/utils/click.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

minor
  bentoml/_internal/runner/runner_handle/remote.py
Due: e2e-tests, unit-tests

fix(server): fix containerize subcommand (#2490)
  bentoml/_internal/utils/buildx.py
  bentoml/_internal/utils/click.py
  bentoml/testing/server.py
Due: e2e-tests, unit-tests

fix(tests): update model unit tests for new batch_dim type (#2487)
  bentoml/_internal/models/model.py
  tests/unit/_internal/models/test_model.py
Due: e2e-tests, unit-tests

fix: typo
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

refactor(framework): tensorflow v2 with tests cases
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/tensorflow.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
Due: e2e-tests, unit-tests

refactor(framework): tensorflow v2 runnable draft
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

feat(runner): add Tensorflow v2 Data Container
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

style
  tests/e2e/bento_server_general_features/pickle_model.py
Due: none

move TODOs
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/circus.py
Due: e2e-tests, unit-tests

refactor(server): supervise dev server with circus
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/__init__.py
  bentoml/_internal/server/cli/api_server.py
  bentoml/_internal/server/cli/dev_api_server.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/utils/circus.py
  tests/e2e/bento_server_general_features/pickle_model.py
Due: e2e-tests, unit-tests

clean
  bentoml/_internal/server/cli/__init__.py
Due: e2e-tests, unit-tests
