Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore: add furo to docs-requirements.txt
  bentoml/_internal/models/model.py
  requirements/docs-requirements.txt
Due: e2e-tests, unit-tests

Update .readthedocs.yml
  .readthedocs.yml
Due: none

chore: add furo to docs-requirements.txt (#2475)
  .readthedocs.yml
  bentoml/_internal/models/model.py
  requirements/docs-requirements.txt
Due: e2e-tests, unit-tests

open external links
  docs/source/_static/js/custom.js
  docs/source/concepts/index.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/integrations/feast.rst
  docs/source/integrations/flyte.rst
  docs/source/integrations/index.rst
  docs/source/integrations/knative.rst
  docs/source/integrations/kubeflow.rst
  docs/source/integrations/mlflow.rst
  docs/source/integrations/ray.rst
  docs/source/integrations/triton.rst
Due: none

chore: fix types (#2468)
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

feat(ci): re-enable e2e tests
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/picklable_model.py
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/train.py
Due: e2e-tests, unit-tests

method type in pickle_model
  tests/e2e/bento_server_general_features/pickle_model.py
Due: none

fix: clusure issue in pickled_model
  bentoml/_internal/frameworks/picklable.py
Due: e2e-tests, unit-tests

remove staticmethod from the test cases
  tests/e2e/bento_server_general_features/pickle_model.py
Due: none

fix tests
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/runner/runner_handle/__init__.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
Due: e2e-tests, unit-tests

docs index page updates
  docs/source/index.rst
Due: none

package metadata
  setup.cfg
Due: none

add community link to sidebar
  docs/source/index.rst
Due: none

add yatai/bentoctl to index
  docs/source/index.rst
Due: none

fix(testing suite): build in subprocess
  bentoml/testing/server.py
Due: none

fix: onnx framework added providers
  bentoml/frameworks/onnx.py
Due: e2e-tests, unit-tests

add integration pages
  docs/source/integrations/feast.rst
  docs/source/integrations/flyte.rst
  docs/source/integrations/index.rst
  docs/source/integrations/knative.rst
  docs/source/integrations/kubeflow.rst
  docs/source/integrations/mlflow.rst
  docs/source/integrations/ray.rst
  docs/source/integrations/triton.rst
Due: none

remove lexers
  docs/source/conf.py
Due: none

add yatai images
  docs/source/_static/img/yatai-activities.png
  docs/source/_static/img/yatai-bento-repos.png
  docs/source/_static/img/yatai-cluster-components.png
  docs/source/_static/img/yatai-deployment-creation.png
  docs/source/_static/img/yatai-deployment-details.png
  docs/source/_static/img/yatai-model-detail.png
  docs/source/_static/img/yatai-overview-page.png
Due: none

fix prod serve log msg
  bentoml/_internal/server/__init__.py
Due: e2e-tests, unit-tests

advanced guide docs changes
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/utils/cattr.py
  docs/source/frameworks/xgboost.rst
Due: xgboost, e2e-tests, unit-tests

update tutorial (WIP)
  bentoml/_internal/cli/bento_management.py
  docs/source/concepts/bento.rst
  docs/source/concepts/deploy.rst
  docs/source/concepts/model.rst
  docs/source/concepts/runner.rst
  docs/source/concepts/service.rst
  docs/source/faq.md
  docs/source/guides/server.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/reference/api_io_descriptors.rst
  docs/source/reference/cli.rst
  docs/source/reference/index.rst
  docs/source/reference/stores.rst
  docs/source/tutorial.rst
Due: e2e-tests, unit-tests

feat(ci): re-enable e2e tests (#2456)
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner_handle/__init__.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/picklable_model.py
  bentoml/testing/server.py
  tests/e2e/bento_server_general_features/pickle_model.py
  tests/e2e/bento_server_general_features/service.py
  tests/e2e/bento_server_general_features/tests/test_io.py
  tests/e2e/bento_server_general_features/train.py
  tests/e2e/bento_server_general_features_sync/tests/test_io.py
Due: e2e-tests, unit-tests

chore: add runners-1.0 to CI (#2431)
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
Due: none

fix(runner): remove unnecessary runnable_self arugment
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

fix(runner): remove unnecessary runnable_self arugment (#2482)
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

minor fix
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

test(runner): update DataContainer tests
  bentoml/_internal/runner/container.py
  tests/unit/_internal/runner/container.py
Due: e2e-tests, unit-tests

better typing
  bentoml/_internal/runner/container.py
Due: e2e-tests, unit-tests

docs: update for xgboost doc (#2481)
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/utils/cattr.py
  docs/source/frameworks/xgboost.rst
Due: xgboost, e2e-tests, unit-tests

fix: onnx framework added provider (#2478)
  bentoml/frameworks/onnx.py
Due: e2e-tests, unit-tests

test(runner): update DataContainer tests (#2476)
  bentoml/_internal/runner/container.py
  tests/unit/_internal/runner/container.py
Due: e2e-tests, unit-tests

updates
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  docs/README.md
  docs/source/conf.py
  docs/source/frameworks/index.rst
  docs/source/guides/index.rst
  docs/source/guides/monitoring.rst
  docs/source/index.rst
  docs/source/integrations/airflow.rst
  docs/source/integrations/databricks.rst
  docs/source/integrations/index.rst
  docs/source/integrations/kubernetes.rst
  docs/source/tutorial.rst
Due: e2e-tests, unit-tests

update project readme
  README.md
  docs/source/tutorial.rst
Due: none

feat: Migrate Huggingface Transformers framework implementation to Runners 1.0 APIs.
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
  bentoml/transformers.py
Due: transformers, e2e-tests, unit-tests

Fix format
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/models/model.py
  docs/source/conf.py
Due: transformers, e2e-tests, unit-tests

Address PR comments.
  bentoml/_internal/frameworks/transformers.py
Due: transformers, e2e-tests, unit-tests

feat: add buildx interface
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
  docs/source/conf.py
  tests/e2e/bento_server_general_features/train.py
Due: xgboost, e2e-tests, unit-tests

feat: expose docker options to bentoml containerize
  bentoml/_internal/utils/buildx.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests
