Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: keras change argument naming
  bentoml/_internal/frameworks/keras.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, e2e-tests, unit-tests

feature(framework): keras add save_format option (#2329)
  bentoml/_internal/frameworks/keras.py
  tests/integration/frameworks/test_keras_impl.py
  tests/utils/frameworks/tensorflow_utils.py
Due: keras, e2e-tests, unit-tests

style fix
  bentoml/_internal/server/access.py
  bentoml/_internal/server/base_app.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

fix: typing + remove unused
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

Update
  bentoml/_internal/cli/yatai.py
Due: e2e-tests, unit-tests

chore: updates README and format
  README.md
  bentoml/_internal/utils/analytics/README.md
  bentoml/_internal/utils/analytics/usage_stats.py
Due: e2e-tests, unit-tests

chore: fetch yatai version and store email and yatai version in yatai config (#2323)
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/yatai_rest_api_client/config.py
Due: e2e-tests, unit-tests

Update README.md
  README.md
Due: none

feat(cli): add export/import cli for bento and model
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

proper logging
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

style: not inherit starlette middleware
  bentoml/_internal/server/access.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

style: not inherit starlette middleware (#2340)
  bentoml/_internal/server/access.py
  bentoml/_internal/server/service_app.py
Due: e2e-tests, unit-tests

feat(cli): add export/import cli for bento and model (#2339)
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

fix typo
  bentoml/_internal/frameworks/pytorch.py
Due: pytorch, e2e-tests, unit-tests

chore: change default serving port to 3000 (#2273) (#2305)
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/configuration/default_configuration.yaml
  bentoml/_internal/io_descriptors/file.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/multipart.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/io_descriptors/text.py
  bentoml/_internal/utils/benchmark.py
  bentoml/testing/server.py
  docs/source/concepts/containerize_bentos.rst
  docs/source/guides/gpu.rst
  docs/source/guides/tracing.rst
  docs/source/quickstart.rst
Due: e2e-tests, unit-tests

hotfix: model not found issue in docker run (#2341)
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/picklable_model.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: catboost, detectron, easyocr, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, transformers, xgboost, e2e-tests, unit-tests

doc(cli): clean up cli docstrings
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

doc(cli): clean up cli docstrings (#2342)
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
Due: e2e-tests, unit-tests

feat(internal): add tag argument to Bento create
  bentoml/_internal/bento/bento.py
  bentoml/bentos.py
Due: e2e-tests, unit-tests

chore: update makefiles command to be fast
  docker/Makefile
  docker/README.md
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/manager/authenticate.py
  docker/manager/build.py
  docker/manager/cli.py
  docker/manager/generate.py
Due: none

feat(cli): improve bentoml build command
  bentoml/_internal/cli/bento_management.py
Due: e2e-tests, unit-tests

feat: add new docker images to build more easily (can be used to revert back to if fails in later commit)
  docker/Dockerfile
  docker/Makefile
  docker/poetry.lock
  docker/pyproject.toml
  docker/tests/00-bentoml-version.bats
  docker/tests/helpers.bash
  docker/tests/install_bats
  docker/tests/run_tests
  docker/tests/scripts/install_bats
  docker/tests/scripts/run_tests
  docker/tools/bashrc
Due: none

feat: add tests
  docker/Dockerfile
  docker/Makefile
  docker/README.md
  docker/generated/bento-server/README.md
  docker/generated/bento-server/alpine3.14/runtime/Dockerfile
  docker/generated/bento-server/debian10/base/Dockerfile
  docker/generated/bento-server/debian10/cudnn/Dockerfile
  docker/generated/bento-server/debian10/devel/Dockerfile
  docker/generated/bento-server/debian10/runtime/Dockerfile
  docker/generated/bento-server/debian11/base/Dockerfile
  docker/generated/bento-server/debian11/cudnn/Dockerfile
  docker/generated/bento-server/debian11/devel/Dockerfile
  docker/generated/bento-server/debian11/runtime/Dockerfile
  docker/generated/bento-server/ubi7/cudnn/Dockerfile
  docker/generated/bento-server/ubi7/runtime/Dockerfile
  docker/generated/bento-server/ubi8/cudnn/Dockerfile
  docker/generated/bento-server/ubi8/runtime/Dockerfile
  docker/manager/_container.py
  docker/manager/_utils.py
  docker/manager/cli.py
  docker/manager/tests.py
  docker/manager/validate.py
  docker/templates/debian/base-dockerfile.j2
  docker/templates/debian/cudnn-dockerfile.j2
  docker/templates/rhel/cudnn-dockerfile.j2
  docker/tests/00-bentoml-version.bats
  docker/tests/00-version-check.bats
  docker/tests/01-nvidia-check.bats
  docker/tests/02-nvidia-tools.bats
  docker/tests/03-check-arch.bats
  docker/tests/README.md
  docker/tests/helpers.bash
  docker/tests/sanity_check.sh
  docker/tests/scripts/run_tests
Due: none

chore: address changes
  README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/cli/ngrok.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/utils/ngrok.py
Due: e2e-tests, unit-tests

chore: update README
  docs/source/index.rst
Due: none

Update bento_format.rst
  docs/source/guides/bento_format.rst
Due: none

pre-meeting changes to docs
  docs/source/guides/building_bentos.rst
  docs/source/guides/index.rst
Due: none

change filename to building_bentos.rst
  docs/source/guides/bento_format.rst
Due: none

chore: changes to usage_stats
  bentoml/_internal/bento/bento.py
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/utils/analytics/__init__.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

chore: fix tests
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/yatai_rest_api_client/config.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

chore: fix pep8
  bentoml/_internal/cli/bento_management.py
  bentoml/_internal/cli/model_management.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

fix: YataiClientContext initialization missing email argument
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/yatai_rest_api_client/config.py
Due: e2e-tests, unit-tests

fix: YataiClientContext initialization missing email argument (#2348)
  bentoml/_internal/cli/yatai.py
  bentoml/_internal/yatai_rest_api_client/config.py
Due: e2e-tests, unit-tests

fix: cached some heavy initialization
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/server/cli/ngrok.py
  bentoml/_internal/utils/analytics/schemas.py
  bentoml/_internal/utils/analytics/usage_stats.py
  bentoml/_internal/utils/ngrok.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

chore: lint and fmt
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/yatai_rest_api_client/config.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

chore: add a tiny extension
  bentoml/_internal/cli/click_utils.py
  bentoml/_internal/utils/analytics/usage_stats.py
  tests/unit/_internal/utils/test_analytics.py
Due: e2e-tests, unit-tests

include more key details and use cases
  docs/source/guides/building_bentos.rst
Due: none

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
