Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

chore: address changes
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

chore: add back pydantic since type is incomplete :(
  typings/pydantic/__init__.pyi
  typings/pydantic/_hypothesis_plugin.pyi
  typings/pydantic/annotated_types.pyi
  typings/pydantic/class_validators.pyi
  typings/pydantic/color.pyi
  typings/pydantic/dataclasses.pyi
  typings/pydantic/datetime_parse.pyi
  typings/pydantic/decorator.pyi
  typings/pydantic/env_settings.pyi
  typings/pydantic/error_wrappers.pyi
  typings/pydantic/errors.pyi
  typings/pydantic/fields.pyi
  typings/pydantic/generics.pyi
  typings/pydantic/json.pyi
  typings/pydantic/main.pyi
  typings/pydantic/mypy.pyi
  typings/pydantic/networks.pyi
  typings/pydantic/parse.pyi
  typings/pydantic/schema.pyi
  typings/pydantic/tools.pyi
  typings/pydantic/types.pyi
  typings/pydantic/typing.pyi
  typings/pydantic/utils.pyi
  typings/pydantic/validators.pyi
  typings/pydantic/version.pyi
Due: none

fix: JSON types
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/json.py
  typings/pydantic/_hypothesis_plugin.pyi
  typings/pydantic/main.pyi
  typings/pydantic/parse.pyi
  typings/pydantic/typing.pyi
Due: e2e-tests, unit-tests

chore: fix types
  tests/unit/_internal/io/test_json.py
  typings/pydantic/__init__.pyi
  typings/pydantic/annotated_types.pyi
  typings/pydantic/class_validators.pyi
  typings/pydantic/color.pyi
  typings/pydantic/dataclasses.pyi
  typings/pydantic/datetime_parse.pyi
  typings/pydantic/decorator.pyi
  typings/pydantic/env_settings.pyi
  typings/pydantic/error_wrappers.pyi
  typings/pydantic/errors.pyi
  typings/pydantic/fields.pyi
  typings/pydantic/generics.pyi
  typings/pydantic/json.pyi
  typings/pydantic/main.pyi
  typings/pydantic/mypy.pyi
  typings/pydantic/networks.pyi
  typings/pydantic/parse.pyi
  typings/pydantic/schema.pyi
  typings/pydantic/tools.pyi
  typings/pydantic/types.pyi
  typings/pydantic/typing.pyi
  typings/pydantic/utils.pyi
  typings/pydantic/validators.pyi
  typings/pydantic/version.pyi
Due: none

updates
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

fix(internal): don't move models (#2062)
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

feat(prototype): components schema
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/service/openapi.py
Due: e2e-tests, unit-tests

fix: support load from bento dir (#2064)
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/cli/bento_server.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

fix: keras
  bentoml/keras.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, e2e-tests, unit-tests

chore: add Params for pytorch
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
Due: pytorch, pytorch_lightning, e2e-tests, unit-tests

refactor: type-safe tensorflow + multi args supports
  bentoml/_internal/utils/tensorflow.py
  bentoml/tensorflow.py
Due: tensorflow, e2e-tests, unit-tests

fix(wip): pandas stubs
  bentoml/statsmodels.py
  typings/pandas/__init__.pyi
  typings/pandas/_config/__init__.pyi
  typings/pandas/_config/config.pyi
  typings/pandas/_config/dates.pyi
  typings/pandas/_config/display.pyi
  typings/pandas/_config/localization.pyi
  typings/pandas/_testing/__init__.pyi
  typings/pandas/_testing/_io.pyi
  typings/pandas/_testing/_random.pyi
  typings/pandas/_testing/_warnings.pyi
  typings/pandas/_testing/asserters.pyi
  typings/pandas/_testing/compat.pyi
  typings/pandas/_testing/contexts.pyi
  typings/pandas/_typing.pyi
  typings/pandas/_version.pyi
  typings/pandas/conftest.pyi
  typings/pandas/testing.pyi
  typings/pandas/tests/__init__.pyi
Due: statsmodels, e2e-tests, unit-tests

refactor(frameworks): tensorflow bug fix and multi args support (#2055)
  bentoml/tensorflow.py
  tests/integration/frameworks/test_tensorflow_impl.py
  tests/utils/frameworks/tensorflow_utils.py
Due: tensorflow, e2e-tests, unit-tests

refactor(frameworks): tensorflow bug fix and multi args support (#2055)
  bentoml/tensorflow.py
Due: tensorflow, e2e-tests, unit-tests

fix: all other types that is not related to missing stubs
  bentoml/_internal/utils/tensorflow.py
  bentoml/statsmodels.py
  bentoml/tensorflow.py
  bentoml/transformers.py
  typings/huggingface_hub/__init__.pyi
  typings/huggingface_hub/constants.pyi
  typings/huggingface_hub/file_download.pyi
  typings/huggingface_hub/hf_api.pyi
  typings/huggingface_hub/hub_mixin.pyi
  typings/huggingface_hub/inference_api.pyi
  typings/huggingface_hub/keras_mixin.pyi
  typings/pandas/__init__.pyi
  typings/pandas/_typing.pyi
  typings/pandas/core/frame.pyi
  typings/transformers/pipelines/__init__.pyi
Due: statsmodels, tensorflow, transformers, e2e-tests, unit-tests

feat: build refactor and build with bentofile.yaml (#2051)
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/bentoml-init.sh
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker.py
  bentoml/_internal/bento/utils.py
  bentoml/_internal/configuration/__init__.py
  bentoml/_internal/server/service_app.py
  bentoml/_internal/service/loader.py
  bentoml/_internal/service/service.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/usage_stats.py
  bentoml/bentos.py
  bentoml/build_utils.py
  bentoml/lightgbm.py
  setup.cfg
  tests/unit/_internal/bento/simplebento/.bentoignore
  tests/unit/_internal/bento/simplebento/setup_docker_container.sh
  tests/unit/_internal/bento/test_bentos.py
Due: lightgbm, e2e-tests, unit-tests

fix: pep8
  bentoml/_internal/bento/env.py
  bentoml/lightgbm.py
  bentoml/models.py
Due: lightgbm, e2e-tests, unit-tests

fix: additional model tags error and attribution error on bento._info (#2057)
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/sklearn.py
Due: sklearn, e2e-tests, unit-tests

refactor(framework): keras add predict kwargs
  bentoml/keras.py
Due: keras, e2e-tests, unit-tests

chore: fix codecov not carryforward not related tests (#2058)
  .github/workflows/ci.yml
  .github/workflows/frameworks.yml
  codecov.yml
Due: none

docs: 1.0 release user documentation (#2060)
  README.md
  docs/source/concepts/api_io_descriptors.rst
  docs/source/concepts/bento_management.rst
  docs/source/concepts/building_bentos.rst
  docs/source/concepts/containerize_bentos.rst
  docs/source/concepts/index.rst
  docs/source/concepts/service_definition.rst
  docs/source/conf.py
  docs/source/frameworks.rst
  docs/source/guides/index.rst
  docs/source/guides/multi_models.rst
  docs/source/guides/runner.rst
  docs/source/guides/server.rst
  docs/source/index.rst
  docs/source/quickstart.rst
  requirements/docs-requirements.txt
Due: none

chore: migrate to smaller PR
  Makefile
  bentoml/_internal/utils/tensorflow.py
  bentoml/keras.py
  bentoml/pytorch.py
  bentoml/pytorch_lightning.py
  bentoml/sklearn.py
  bentoml/spacy.py
  bentoml/tensorflow.py
  tests/integration/frameworks/spacy/conftest.py
  tests/integration/frameworks/spacy/test_spacy_impl.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
  tests/integration/frameworks/test_keras_impl.py
  tests/unit/_internal/bento/simplebento/notincluded.xml
Due: keras, pytorch, pytorch_lightning, sklearn, spacy, tensorflow, e2e-tests, unit-tests

revert: bentoml-1.0
  README.md
Due: none

refactor(framework): keras add predict kwargs (#2069)
  bentoml/keras.py
Due: keras, e2e-tests, unit-tests

fix: pep8
  bentoml/keras.py
Due: keras, e2e-tests, unit-tests

fix: contextmanager
  bentoml/sklearn.py
Due: sklearn, e2e-tests, unit-tests

changes
  bentoml/_internal/bento/bentoml-init.sh
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/init.sh
  bentoml/_internal/bento/templates.py
Due: e2e-tests, unit-tests

Update README.md
  bentoml/_internal/bento/README.md
Due: e2e-tests, unit-tests

feat: bento containerize scripts (#2070)
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/bentoml-init.sh
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/docker/Dockerfile.template
  bentoml/_internal/bento/docker/entrypoint.sh
  bentoml/_internal/bento/docker/init.sh
  bentoml/_internal/bento/templates.py
Due: e2e-tests, unit-tests

feat: _internal and lazyloading ml frameworks
  bentoml/__init__.py
  bentoml/_internal/frameworks/__init__.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/utils/tensorflow.py
  bentoml/keras.py
  bentoml/keras.pyi
  bentoml/tensorflow.py
  bentoml/tensorflow.pyi
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_tensorflow_impl.py
Due: keras, tensorflow, e2e-tests, unit-tests

fix: lint
  bentoml/keras.py
  bentoml/tensorflow.py
  tests/integration/frameworks/test_keras_impl.py
Due: keras, tensorflow, e2e-tests, unit-tests

chore: add docstring
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/utils/lazy_loader.py
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_tensorflow_impl.py
Due: e2e-tests, unit-tests

revert: remove components
  bentoml/_internal/io_descriptors/base.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/service/openapi.py
Due: e2e-tests, unit-tests

chore: remove variadics
  bentoml/catboost.py
  bentoml/detectron.py
  bentoml/sklearn.py
  tests/integration/frameworks/test_sklearn_impl.py
Due: catboost, detectron, sklearn, e2e-tests, unit-tests

fix: tests
  bentoml/_internal/frameworks/keras.py
  tests/integration/frameworks/test_keras_impl.py
Due: e2e-tests, unit-tests

fixes
  .gitignore
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/bento/build_dev_bentoml_whl.py
  bentoml/_internal/bento/docker/init.sh
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
