Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

README: update usage_stats.py link
  README.md
Due: none

docs: README: update usage_stats.py link (#2235)
  README.md
Due: none

fix pip install when lock_packages=False
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/docker/init.sh
Due: e2e-tests, unit-tests

fix pip install when lock_packages=False (#2239)
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/docker/init.sh
Due: e2e-tests, unit-tests

update
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  SECURITY.md
  docker/templates/docs/README.md.j2
  docs/source/guides/index.rst
  docs/source/index.rst
Due: none

chore: update join slack community links (#2243)
  .github/ISSUE_TEMPLATE/config.yml
  CONTRIBUTING.md
  GOVERNANCE.md
  README.md
  SECURITY.md
  docker/templates/docs/README.md.j2
  docs/source/guides/index.rst
  docs/source/index.rst
Due: none

first version of pickle runner using cloud pickle. Need to clean up and add tests
  bentoml/__init__.py
  bentoml/_internal/frameworks/pickle.py
  bentoml/pickle.py
Due: e2e-tests, unit-tests

fixed tests, updated test scripts
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/pickle.py
  scripts/ci/config.yml
  tests/integration/frameworks/test_pickle_impl.py
Due: e2e-tests, unit-tests

Update fastai.py
  bentoml/frameworks/fastai.py
Due: e2e-tests, unit-tests

chore(wip): decouple transformers implementation
  bentoml/_internal/frameworks/transformers.py
  tests/integration/frameworks/test_transformers_impl.py
Due: e2e-tests, unit-tests

cleaned up some of the doc, added examples
  bentoml/_internal/frameworks/pickle.py
  tests/integration/frameworks/test_pickle_impl.py
Due: e2e-tests, unit-tests

removing unused dependencies
  tests/integration/frameworks/test_pickle_impl.py
Due: none

Apply suggestions from code review
  bentoml/_internal/frameworks/pickle.py
Due: e2e-tests, unit-tests

ran make format
  bentoml/__init__.py
  bentoml/_internal/frameworks/pickle.py
  tests/integration/frameworks/test_pickle_impl.py
Due: e2e-tests, unit-tests

feature/picklerunner
  bentoml/_internal/frameworks/pickle.py
Due: e2e-tests, unit-tests

fix: typing issues with xgboost
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/types.py
Due: e2e-tests, unit-tests

fix: tensorflow pyright types
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

fix: CI
  bentoml/_internal/frameworks/tensorflow.py
Due: e2e-tests, unit-tests

chore(wip): refactor external typings and add tensorflow types
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/ext_typing.py
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/external_typing/numpy.py
  bentoml/_internal/external_typing/starlette.py
  bentoml/_internal/external_typing/tensorflow.py
  bentoml/_internal/external_typing/transformers.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/io_descriptors/numpy.py
  bentoml/_internal/io_descriptors/pandas.py
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/instruments.py
  bentoml/_internal/service/service.py
  bentoml/_internal/utils/tensorflow.py
  bentoml/tensorflow.py
Due: tensorflow, e2e-tests, unit-tests

fix: imports and modules
  .github/workflows/frameworks.yml
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/external_typing/starlette.py
  bentoml/_internal/external_typing/tensorflow.py
  bentoml/_internal/external_typing/transformers.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/io_descriptors/image.py
  bentoml/_internal/io_descriptors/json.py
  bentoml/_internal/utils/tensorflow.py
  typings/fs/ftpfs.pyi
  typings/fs/memoryfs.pyi
  typings/importlib_metadata/__init__.pyi
Due: e2e-tests, unit-tests

chore: update black to fix CI
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
  requirements/tests-requirements.txt
Due: e2e-tests, unit-tests

fix: missing metadata for FastaiModelArtifact (#2247)
  bentoml/frameworks/fastai.py
Due: e2e-tests, unit-tests

refactor: remove num_concurrency_per_replica from runners
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runner.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
  tests/integration/frameworks/paddle/test_paddle_runner.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_lightgbm_impl.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_onnxmlir_impl.py
  tests/integration/frameworks/test_pycaret_impl.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
  tests/integration/frameworks/test_tensorflow_impl.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: e2e-tests, unit-tests

refactor: remove num_concurrency_per_replica from runners (#2255)
  bentoml/_internal/frameworks/catboost.py
  bentoml/_internal/frameworks/detectron.py
  bentoml/_internal/frameworks/easyocr.py
  bentoml/_internal/frameworks/gluon.py
  bentoml/_internal/frameworks/h2o.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/mlflow.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnxmlir.py
  bentoml/_internal/frameworks/paddle.py
  bentoml/_internal/frameworks/pycaret.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/spacy.py
  bentoml/_internal/frameworks/statsmodels.py
  bentoml/_internal/frameworks/tensorflow.py
  bentoml/_internal/frameworks/xgboost.py
  bentoml/_internal/runner/runner.py
  tests/integration/frameworks/mlflow/test_mlflow_save_load.py
  tests/integration/frameworks/paddle/test_paddle_runner.py
  tests/integration/frameworks/spacy/test_spacy_runner.py
  tests/integration/frameworks/test_catboost_impl.py
  tests/integration/frameworks/test_detectron2_impl.py
  tests/integration/frameworks/test_keras_impl.py
  tests/integration/frameworks/test_lightgbm_impl.py
  tests/integration/frameworks/test_onnx_impl.py
  tests/integration/frameworks/test_onnxmlir_impl.py
  tests/integration/frameworks/test_pycaret_impl.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_pytorch_lightning_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_statsmodels_impl.py
  tests/integration/frameworks/test_tensorflow_impl.py
  tests/integration/frameworks/test_transformers_impl.py
  tests/integration/frameworks/test_xgboost_impl.py
Due: e2e-tests, unit-tests

fix(ci): lock dependencies of statsmodels
  scripts/ci/config.yml
Due: none

fix(ci): lock dependencies of statsmodels (#2256)
  scripts/ci/config.yml
Due: none

fix(server): pin version of prometheus_client
  setup.cfg
Due: none

fix(server): pin version of prometheus_client (#2257)
  setup.cfg
Due: none

chore: revert typings issues:
  bentoml/_internal/configuration/containers.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/tensorflow.py
  tests/integration/frameworks/test_tensorflow_impl.py
Due: e2e-tests, unit-tests

chore: fmt
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

fix: ci
  bentoml/_internal/external_typing/tensorflow.py
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

updated to save whether to run in batch or not
  bentoml/_internal/frameworks/pickle.py
  tests/integration/frameworks/test_pickle_impl.py
Due: e2e-tests, unit-tests

fixed formatting
  bentoml/_internal/frameworks/pickle.py
  tests/integration/frameworks/test_pickle_impl.py
Due: e2e-tests, unit-tests

refactor: fix tensorflow v1
  bentoml/_internal/frameworks/tensorflow_v1.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

patching quickstart so that save codeblock appears
  docs/source/quickstart.rst
Due: none

patching quickstart so that save codeblock appears (#2259)
  docs/source/quickstart.rst
Due: none

updated quickstart and tweaked index
  docs/source/index.rst
  docs/source/quickstart.rst
Due: none

added a couple of things to make sure when building a bento
  docs/source/quickstart.rst
Due: none

Path conditions:
  catboost: any of: bentoml/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
