Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

runner refactors
  bentoml/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/__init__.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
Due: e2e-tests, unit-tests

fix method_name="__call__"
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix Runner.__init__
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

runner refactor: Model to_runner/to_runnable interface (#2435)
  bentoml/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/__init__.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

finish resource
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

add basic framework template
  bentoml/_internal/frameworks/template.py
  bentoml/_internal/models/model.py
Due: e2e-tests, unit-tests

model.py update
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

runnablehandle proposal
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
Due: e2e-tests, unit-tests

WIP changes
  bentoml/_internal/frameworks/template.py
  bentoml/_internal/models/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/types.py
  bentoml/models.py
  bentoml/types.py
Due: e2e-tests, unit-tests

RunnerHandle refactoring (#2438)
  bentoml/_internal/runner/remote.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
Due: e2e-tests, unit-tests

rename to get_runnable
  bentoml/_internal/frameworks/template.py
Due: e2e-tests, unit-tests

Runnable refactors and Model info update (#2439)
  bentoml/_internal/frameworks/template.py
  bentoml/_internal/models/__init__.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/__init__.py
  bentoml/models.py
  bentoml/types.py
Due: e2e-tests, unit-tests

Runner Resources implementation (#2436)
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

chore: (shortterm) address missing useradd for alpine
  docker/generated/bento-server/alpine3.14/base/Dockerfile
  docker/templates/alpine/base-dockerfile.j2
Due: none

refactor(runner): runner handle
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/__init__.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/utils.py
  bentoml/exceptions.py
Due: e2e-tests, unit-tests

fix missing default batch options
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

WIP
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/loader.py
  bentoml/_internal/service/openapi.py
  bentoml/_internal/service/service.py
  bentoml/_internal/tag.py
  bentoml/bentos.py
  bentoml/exceptions.py
  tests/unit/_internal/bento/test_bento.py
Due: e2e-tests, unit-tests

iteration
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/schedule_strategy.py
  bentoml/_internal/utils/__init__.py
Due: e2e-tests, unit-tests

refactor(runner): clean runner handle (#2441)
  bentoml/_internal/runner/container.py
  bentoml/_internal/runner/local.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner_handle/__init__.py
  bentoml/_internal/runner/runner_handle/local.py
  bentoml/_internal/runner/runner_handle/remote.py
  bentoml/_internal/runner/utils.py
  bentoml/_internal/server/schedule_strategy.py
  bentoml/_internal/utils/__init__.py
  bentoml/exceptions.py
Due: e2e-tests, unit-tests

chore(runner): make runnable scheduling traits constant
  bentoml/_internal/frameworks/template.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
Due: e2e-tests, unit-tests

chore(runner): make runnable scheduling traits constant (#2442)
  bentoml/_internal/frameworks/template.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/strategy.py
Due: e2e-tests, unit-tests

fix async
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

fix async (#2443)
  bentoml/_internal/runner/runner_handle/local.py
Due: e2e-tests, unit-tests

black auto format
  bentoml/_internal/runner/resource.py
  bentoml/_internal/service/loader.py
Due: e2e-tests, unit-tests

merged building bentos concepts into guides
  docs/source/concepts/building_bentos.rst
  docs/source/guides/building_bentos.rst
Due: none

refactor: runner app
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

updated the version documentation to be what is in the code
  docs/source/guides/building_bentos.rst
Due: none

update
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/tag.py
Due: e2e-tests, unit-tests

added details for each paramters in options (#2429)
  docs/source/concepts/building_bentos.rst
  docs/source/guides/building_bentos.rst
Due: none

formatting
  bentoml/_internal/bento/bento.py
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/loader.py
  bentoml/_internal/service/service.py
Due: e2e-tests, unit-tests

fixed spacing
  DEVELOPMENT.md
Due: none

Runners refactor: service & bento build changes (#2440)
  bentoml/_internal/bento/README.md
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/resource.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/runner/runner.py
  bentoml/_internal/service/loader.py
  bentoml/_internal/service/openapi.py
  bentoml/_internal/service/service.py
  bentoml/_internal/tag.py
  bentoml/bentos.py
  bentoml/exceptions.py
  tests/unit/_internal/bento/test_bento.py
Due: e2e-tests, unit-tests

fix(internal): remove unused response_status field
  bentoml/_internal/context.py
Due: e2e-tests, unit-tests

deleted stubs section
  DEVELOPMENT.md
Due: none

refactor: runner app (#2445)
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/runner_app.py
Due: e2e-tests, unit-tests

fix(internal): remove unused response_status field (#2444)
  bentoml/_internal/context.py
Due: e2e-tests, unit-tests

WIP
  bentoml/_internal/bento/bento.py
  bentoml/_internal/frameworks/common/model_runner.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runnable.py
  bentoml/_internal/server/static_content/swagger-ui-bundle.js
  bentoml/_internal/tag.py
  bentoml/_internal/utils/cattr.py
  bentoml/models.py
  bentoml/picklable_model.py
  bentoml/sklearn.py
  codecov.yml
Due: sklearn, e2e-tests, unit-tests

WIP
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
  bentoml/sklearn.py
Due: sklearn, e2e-tests, unit-tests

WIP
  bentoml/_internal/models/model.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
