Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*

chore: fix github actions ci (#2650)
  .github/workflows/ci.yml
Due: none

chore: updates conda options fix
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/cuda_debian.j2
  bentoml/_internal/bento/docker/templates/cuda_ubi8.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

Add unit test
  bentoml/_internal/frameworks/transformers.py
  tests/integration/frameworks/test_transformers_impl.py
Due: transformers, e2e-tests, unit-tests

fix(docker): templates bash heredoc should pass `-ex` (#2651)
  bentoml/_internal/bento/docker/templates/base.j2
  bentoml/_internal/bento/docker/templates/base_amazonlinux.j2
  bentoml/_internal/bento/docker/templates/cuda_debian.j2
  bentoml/_internal/bento/docker/templates/cuda_ubi8.j2
  bentoml/_internal/bento/docker/templates/miniconda_alpine.j2
  bentoml/_internal/bento/docker/templates/miniconda_debian.j2
Due: e2e-tests, unit-tests

Fixes as suggested from PR comments
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

Added exception handling for `handle_tuple`
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

fix: ci should be run on PR via types
  .github/workflows/ci.yml
Due: none

chore: Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

chore: updates format
  .github/workflows/codeql-analysis.yml
  .github/workflows/frameworks.yml
Due: none

Re-enable framework integration test.
  .github/workflows/frameworks.yml
Due: none

Unlock tf dependency in framework ci.
  scripts/ci/config.yml
Due: none

feat: CatBoost integration (#2615)
  .github/workflows/frameworks.yml
  bentoml/_internal/external_typing/__init__.py
  bentoml/_internal/frameworks/catboost.py
  bentoml/catboost.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/catboost.py
Due: catboost, e2e-tests, unit-tests

Lock torch to 1.11
  scripts/ci/config.yml
Due: none

Added `from_grpc_request` function
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

feat: FastAI framework implementation (#2571)
  .github/workflows/frameworks.yml
  Makefile
  bentoml/__init__.py
  bentoml/_internal/frameworks/fastai.py
  bentoml/fastai.py
  codecov.yml
  scripts/ci/config.yml
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/fastai.py
  tests/integration/frameworks/test_fastai_impl.py
  tests/integration/frameworks/test_fastai_unit.py
  tests/integration/frameworks/test_frameworks.py
  tests/utils/frameworks/fastai_utils.py
Due: fastai, e2e-tests, unit-tests

minor fix
  bentoml/_internal/frameworks/onnx.py
  tests/integration/frameworks/test_frameworks.py
Due: onnx, e2e-tests, unit-tests

Update bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

get onnxruntime version only when needed
  bentoml/_internal/frameworks/onnx.py
Due: onnx, e2e-tests, unit-tests

Fixed styling
  bentoml/_internal/io_descriptors/numpy.py
Due: e2e-tests, unit-tests

feat: add generic protobuf (#2634)
  protos/io_descriptors.proto
Due: none

feat: Support Transformers custom pipeline (#2640)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/transformers.py
  scripts/ci/config.yml
  tests/integration/frameworks/test_transformers_impl.py
Due: transformers, e2e-tests, unit-tests

minor fixes
  bentoml/_internal/frameworks/onnx.py
  tests/integration/frameworks/models/onnx.py
Due: onnx, e2e-tests, unit-tests

feat(framework): onnx support (#2629)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/onnx.py
  bentoml/onnx.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/__init__.py
  tests/integration/frameworks/models/onnx.py
  tests/integration/frameworks/test_frameworks.py
Due: onnx, e2e-tests, unit-tests

docs: missing code section
  docs/source/concepts/model.rst
Due: none

Update bentoml/_internal/runner/runner.py
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

chore(tensorflow): optimize infer procedure
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/utils/tensorflow.py
  scripts/ci/config.yml
  tests/integration/frameworks/models/tensorflow_v2.py
  tests/integration/frameworks/test_frameworks.py
  tests/integration/frameworks/test_tensorflow_v2_impl.py
  tests/utils/frameworks/tensorflow_utils.py
Due: e2e-tests, unit-tests

fix for ci
  .github/workflows/frameworks.yml
  tests/integration/frameworks/test_keras_impl.py
Due: none

clean code
  tests/integration/frameworks/models/tensorflow_v2.py
Due: none

fix
  bentoml/_internal/utils/tensorflow.py
Due: e2e-tests, unit-tests

clean commented codes
  tests/integration/frameworks/test_frameworks.py
Due: none

fix catboost itests
  tests/integration/frameworks/models/catboost.py
Due: none

casting partial kwargs as well
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

format
  bentoml/_internal/runner/runner.py
Due: e2e-tests, unit-tests

fix: typo
  tests/integration/frameworks/models/catboost.py
Due: none

docs
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

Update bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

Update scripts/ci/config.yml
  scripts/ci/config.yml
Due: none
