Repository bentoml/BentoML: changes, and which Codecov flags are due for each by the changed paths.
All: catboost, detectron, easyocr, evalml, fastai, fasttext, flax, gluon, h2o, keras, lightgbm, mlflow, onnx, onnxmlir, paddle, picklable_model, pycaret, pyspark, pytorch, pytorch_lightning, sklearn, spacy, statsmodels, tensorflow, transformers, xgboost, e2e-tests, unit-tests

fix: improve missing dependency exception error message format (#2677)
  bentoml/_internal/frameworks/FRAMEWORK_TEMPLATE_PY
  bentoml/_internal/frameworks/common/pytorch.py
  bentoml/_internal/frameworks/keras.py
  bentoml/_internal/frameworks/lightgbm.py
  bentoml/_internal/frameworks/onnx.py
  bentoml/_internal/frameworks/picklable.py
  bentoml/_internal/frameworks/pytorch.py
  bentoml/_internal/frameworks/pytorch_lightning.py
  bentoml/_internal/frameworks/sklearn.py
  bentoml/_internal/frameworks/tensorflow_v2.py
  bentoml/_internal/frameworks/torchscript.py
  bentoml/_internal/frameworks/transformers.py
  bentoml/_internal/frameworks/xgboost.py
Due: keras, lightgbm, onnx, pytorch, pytorch_lightning, sklearn, transformers, xgboost, e2e-tests, unit-tests

fix: tensorflow data container
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

fix: only register container when eager execution is enabled
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

fix: only register with public class during eager execution
  bentoml/_internal/frameworks/tensorflow_v2.py
Due: e2e-tests, unit-tests

test: add test for auto container
  tests/integration/frameworks/test_tensorflow_v2_unit.py
Due: none

feat: add tests for no eager execution
  .github/workflows/frameworks.yml
  tests/integration/conftest.py
  tests/integration/frameworks/test_tensorflow_v2_unit.py
Due: none

fix: ci check should be tf2 not tensorflow_v2
  .github/workflows/frameworks.yml
Due: none

chore(test): add marks for requiring eager execution
  .github/workflows/frameworks.yml
  tests/integration/conftest.py
  tests/integration/frameworks/test_tensorflow_v2_unit.py
Due: none

chore: update tests/integration/conftest.py from bojiang
  tests/integration/conftest.py
Due: none

fix: updates ci tracking for tensorflow
  .github/workflows/frameworks.yml
Due: none

refactor: specs as classmethod
  bentoml/_internal/bento/bento.py
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

chore: fix types
  bentoml/_internal/bento/build_config.py
Due: e2e-tests, unit-tests

fix(tensorflow): register data container when eager execution is enabled (#2655)
  .github/workflows/frameworks.yml
  bentoml/_internal/frameworks/tensorflow_v2.py
  tests/integration/conftest.py
  tests/integration/frameworks/test_tensorflow_v2_unit.py
Due: e2e-tests, unit-tests

chore: update readme according to latest logs change
  README.md
Due: none

fix: update conda env yaml file name and default channel (#2580)
  bentoml/_internal/bento/build_config.py
  docs/source/concepts/bento.rst
  docs/source/installation.rst
Due: e2e-tests, unit-tests

fix: e2e tests missing build deps
  .github/workflows/ci.yml
  bentoml/_internal/bento/build_dev_bentoml_whl.py
Due: e2e-tests, unit-tests

fix(service): JsonIO doesn't return a pydantic model (#2578)
  bentoml/_internal/io_descriptors/json.py
Due: e2e-tests, unit-tests

chore(runner): add shcedule shortcuts to runners (#2576)
  bentoml/_internal/runner/runner.py
  bentoml/_internal/server/__init__.py
  bentoml/_internal/server/runner_app.py
  tests/integration/frameworks/test_pytorch_impl.py
  tests/integration/frameworks/test_sklearn_impl.py
  tests/integration/frameworks/test_torchscript_impl.py
Due: e2e-tests, unit-tests

Update bento.rst
  docs/source/concepts/bento.rst
Due: none

refactor: move from Converter to GenConverter
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
  bentoml/_internal/tag.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

fix: typing compat
  bentoml/_internal/types.py
  bentoml/_internal/utils/pkg.py
Due: e2e-tests, unit-tests

chore: compat with older bentoml
  bentoml/_internal/utils/cattr.py
Due: e2e-tests, unit-tests

chore: updates types for lower python version
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
Due: e2e-tests, unit-tests

chore: remove type ignore as cattrs got updated type
  bentoml/_internal/bento/bento.py
  bentoml/_internal/models/model.py
  bentoml/_internal/utils/cattr.py
Due: e2e-tests, unit-tests

chore: lock cattrs to 21.4.0
  setup.cfg
Due: none

chore: range locking for cattrs
  setup.cfg
Due: none

docs: improve the bento build page setup_scripts section (#2682)
  docs/source/concepts/bento.rst
Due: none

chore: remove warning and fix types
  bentoml/_internal/cli/__init__.py
  bentoml/_internal/types.py
  bentoml/_internal/utils/cattr.py
Due: e2e-tests, unit-tests

Update tutorial.rst
  docs/source/tutorial.rst
Due: none

style: Update tutorial.rst (#2687)
  docs/source/tutorial.rst
Due: none

fix: address #2622
  bentoml/frameworks/onnxmlir.py
Due: e2e-tests, unit-tests

Use appropriate style feedback based on Aaron's work.
  bentoml/frameworks/onnxmlir.py
Due: e2e-tests, unit-tests

fix: Fix onnx mlir artifact (#2692)
  bentoml/frameworks/onnxmlir.py
Due: e2e-tests, unit-tests

chore: lock cattrs <= 21.1.0 (#2685)
  setup.cfg
Due: none

Apply review suggestions
  docs/source/guides/logging.rst
Due: none

docs(logging): update logging guide to reflect logging changes (#2647)
  docs/source/_static/img/bentoml-logs-exception.png
  docs/source/_static/img/bentoml-logs.png
  docs/source/guides/logging.rst
Due: none

feat: fastai docs
  docs/source/concepts/bento.rst
  docs/source/conf.py
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/index.rst
  docs/source/reference/frameworks/fastai.rst
  docs/source/reference/frameworks/index.rst
  docs/source/reference/index.rst
  requirements/docs-requirements.txt
Due: none

chore: Update docs/source/frameworks/fastai.rst
  bentoml/_internal/frameworks/fastai.py
  docs/source/frameworks/fastai.rst
  docs/source/frameworks/index.rst
Due: fastai, e2e-tests, unit-tests

chore: address comments from chaoyu's
  docs/source/frameworks/fastai.rst
Due: none

fix: updates documentation
  docs/source/frameworks/fastai.rst
Due: none

Path conditions:
  catboost: any of: bentoml/_internal/frameworks/catboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  detectron: any of: bentoml/_internal/frameworks/detectron.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  easyocr: any of: bentoml/_internal/frameworks/easyocr.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  evalml: any of: bentoml/_internal/frameworks/evalml.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fastai: any of: bentoml/_internal/frameworks/fastai.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  fasttext: any of: bentoml/_internal/frameworks/fasttext.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  flax: any of: bentoml/_internal/frameworks/flax.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  gluon: any of: bentoml/_internal/frameworks/gluon.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  h2o: any of: bentoml/_internal/frameworks/h2o.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  keras: any of: bentoml/_internal/frameworks/keras.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  lightgbm: any of: bentoml/_internal/frameworks/lightgbm.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  mlflow: any of: bentoml/_internal/frameworks/mlflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnx: any of: bentoml/_internal/frameworks/onnx.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  onnxmlir: any of: bentoml/_internal/frameworks/onnxmlir.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  paddle: any of: bentoml/_internal/frameworks/paddle.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  picklable_model: any of: bentoml/_internal/frameworks/picklable_model.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pycaret: any of: bentoml/_internal/frameworks/pycaret.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pyspark: any of: bentoml/_internal/frameworks/pyspark.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch: any of: bentoml/_internal/frameworks/pytorch.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  pytorch_lightning: any of: bentoml/_internal/frameworks/pytorch_lightning.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  sklearn: any of: bentoml/_internal/frameworks/sklearn.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  spacy: any of: bentoml/_internal/frameworks/spacy.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  statsmodels: any of: bentoml/_internal/frameworks/statsmodels.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  tensorflow: any of: bentoml/_internal/frameworks/tensorflow.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  transformers: any of: bentoml/_internal/frameworks/transformers.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  xgboost: any of: bentoml/_internal/frameworks/xgboost.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  e2e-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
  unit-tests: any of: bentoml/**/*, bentoml/models.py, but not: bentoml/testing/**/*, bentoml/_internal/types.py, bentoml/__main__.py, bentoml/build_utils.py, bentoml/io.py, tests/**/*, docker/**/*, typings/**/*
